.dx-button.dx-button-warning {
    background-color: #ffe596;
  }

  ::ng-deep .dx-datagrid .dx-row > td {
    padding: 2px !important;
  }
  
  ::ng-deep #gridContainer .dx-datagrid-headers .dx-texteditor-input {
    padding-bottom: 1px;
    padding-top: 1px;
    min-height: 25px;
  }
  ::ng-deep #gridContainer .dx-filter-menu.dx-menu .dx-menu-item .dx-menu-item-content {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  ::ng-deep #gridContainer .dx-datagrid-filter-row .dx-menu{
    margin-top: 0px;
  }

  ::ng-deep #gridContainer .dx-highlight-outline.dx-pointer-events-target {
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .tooltip-text {
    font-size: 14px; 
    text-align: left;
  }

  .max-turnover {
    font-weight: bold;
    font-size: 16px;
  }

  .manual-turnover-input {
    border: 1px solid #000000;
    width: 100px;
    margin-left: 8px;
    margin-right: 6px;
  }

  .automatic-proposed-turnover-cell-template {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .manual-turnover-icon-img {
    max-width: 23px;
    object-fit: contain;
    cursor: pointer;
  }

  .bottom-margin-percentage, .top-margin-percentage {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
