<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Analiza R / R3/6/9/12'"></app-title>

            <div class="form-group d-flex flex-wrap align-items-center" style="gap: 12px; margin-bottom: 1rem; margin-top: 1rem">
            
                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Cod/Denumire Produs:</label>
                    <dx-tag-box [dataSource]="sortedItemsFilter" [(ngModel)]="filter.itemIds" valueExpr="id"
                        [displayExpr]="getDisplayExprItems" [maxDisplayedTags]="2" [showSelectionControls]="true"
                        [showMultiTagOnly]="false" [searchEnabled]="true"  [multiline]="true" (onOpened)="onItemsFilterOpen($event)"
                        (onValueChanged)="onMultiTagItemChange($event)" [hideSelectedItems]="false"
                        [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '600' }" [width]="400">
                    </dx-tag-box>
                </div>

                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Agent Import/Nume:</label>
                    <dx-tag-box [dataSource]="postsDS" [(ngModel)]="filter.postIds" valueExpr="id"
                        [displayExpr]="getDisplayExprPosts" [maxDisplayedTags]="2" [showSelectionControls]="true"
                        [showMultiTagOnly]="false" [searchEnabled]="true" [multiline]="true"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '340' }"
                        (onValueChanged)="onMultiTagItemChange($event)" [width]="250">
                    </dx-tag-box>
                </div>

                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Furnizor:</label>
                    <!-- <dx-autocomplete [dataSource]="suppliers" valueExpr="codeAndName" (onSelectionChanged)="onSuppliersItemSelected($event)" [width]="400"
                        (valueChange)="onSuppliersFilterSearch($event)" [maxItemCount]="100" itemTemplate="nameOrCodeItemTemplate" [dropDownOptions]="{ minWidth: '600' }">
                        <div *dxTemplate="let item of 'nameOrCodeItemTemplate'">
                            {{ item.code }} - {{ item.name }}
                        </div>
                    </dx-autocomplete> -->
                    <dx-select-box [dataSource]="partnersDS" [displayExpr]="getDisplayExprPartners" valueExpr="id" 
                        [(ngModel)]="filter.supplierId" [searchEnabled]="true" [width]="400" [dropDownOptions]="{ minWidth: '600' }">
                    </dx-select-box>
                </div>

                <div id="manufacturerFilter" class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Producator:</label>
                    <dx-autocomplete [dataSource]="partners" valueExpr="codeAndName" (onSelectionChanged)="onPartnersItemSelected($event)" [width]="400" [disabled]="true"
                        (valueChange)="onPartnersFilterSearch($event)" [maxItemCount]="100" itemTemplate="nameOrCodeItemTemplate" [dropDownOptions]="{ minWidth: '600' }">
                        <div *dxTemplate="let item of 'nameOrCodeItemTemplate'">
                            {{ item.code }} - {{ item.name }}
                        </div>
                    </dx-autocomplete>
                </div>

                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Fara Alertare:</label>
                    <dx-check-box [(ngModel)]="filter.isAlerting"></dx-check-box> 
                </div>

                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Modificari Rulaj:</label>
                    <dx-check-box [(ngModel)]="filter.isModified"></dx-check-box> 
                </div>

                <div class="d-flex align-items-center">
                    <label class="mb-0 mr-2" style="color: black">Rulaj</label>
                    <label class="mb-0 mr-2 turnover-filter-symbol" (click)="onTurnoverFilterArrowClick()"> {{ filter.turnoverSymbol }}</label>
                    <label class="mb-0 mr-2" style="color: black">0</label>
                </div>

                <div class="d-flex align-items-center">
                    <dx-button text="Cauta" type="warning" (onClick)="onSearchClick()"></dx-button>
                </div>
            </div>       

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <app-spinner [visible]="loaded"></app-spinner>
                    
                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="itemTurnoverAnalysis" [rowAlternationEnabled]="false" (onCellPrepared)="onCellPrepared($event)"
                        [showBorders]="false" [showRowLines]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowUpdated)="onRowUpdated($event)" (onContentReady)="onContentReady($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>                   
                    
                        <dxi-column dataField="itemCode" caption="Cod Articol" [width]="200" [minWidth]="200" dataType="string" [allowEditing]="false" alignment="left"></dxi-column>
                        <dxi-column dataField="itemName" caption="Nume Articol" dataType="string" [allowEditing]="false" alignment="left"></dxi-column>
                        <dxi-column dataField="itemStock" caption="Stoc" [width]="70" [minWidth]="70" format="#,###" dataType="number" [allowEditing]="false" alignment="right"></dxi-column>                  
                        <dxi-column dataField="clientsNo" caption="NCLI(3/6/9/12)" [width]="160" [minWidth]="160" dataType="string" [allowEditing]="false" alignment="right"></dxi-column>
                        <dxi-column dataField="salesValuesComputed" caption="Vanz(LC/1/2/3)" [width]="160" [minWidth]="160" dataType="string" [allowEditing]="false" alignment="right"></dxi-column>
                        <dxi-column dataField="r3r12Max" caption="Max(R3:R12)" [width]="180" [minWidth]="180" format="#,###" dataType="number" [allowEditing]="false" alignment="right" cellTemplate="r3r12MaxCellTemplate"></dxi-column>
                        <dxi-column dataField="itemEvaluatedTurnover" caption="R Evaluat" [width]="70" [minWidth]="70" format="#,###" dataType="number" [allowEditing]="false" alignment="right" cellTemplate="itemEvaluatedTurnoverCellTemplate"></dxi-column>
                        <dxi-column dataField="itemTurnover" caption="Rulaj" [width]="70" [minWidth]="70" format="#,###" dataType="number" [allowEditing]="false" alignment="right" cellTemplate="itemTurnoverCellTemplate"></dxi-column>
                        <dxi-column dataField="automaticProposedTurnover" caption="R Propus" [width]="160" [minWidth]="160" format="#,###" dataType="number" [allowEditing]="false" alignment="right" cellTemplate="automaticProposedTurnoverCellTemplate"></dxi-column>
                        <dxi-column dataField="manualTurnover" caption="R Propus Manual" [width]="120" [minWidth]="120" format="#,###" dataType="number" alignment="right" [visible]="false"></dxi-column>
                        <dxi-column dataField="isModified" caption="Modifica" [width]="100" [minWidth]="100" dataType="boolean" alignment="center" [allowSorting]="false" [allowFiltering]="false" cellTemplate="isModifiedCellTemplate" headerCellTemplate="isModifiedHeaderCellTemplate"></dxi-column>
                        <dxi-column dataField="newTurnover" caption="Rulaj Nou" [width]="120" [minWidth]="120" format="#,###" dataType="number" [allowEditing]="false" alignment="right"></dxi-column>
                        <dxi-column dataField="alerting" caption="Alertare" [width]="90" [minWidth]="90" [allowEditing]="false" alignment="right"></dxi-column>

                        <dxi-column dataField="bottomMargin" caption="Marja Inf" [width]="70" [minWidth]="70" [allowEditing]="false" alignment="right" cellTemplate="bottomMarginCellTemplate"></dxi-column>
                        <dxi-column dataField="topMargin" caption="Marja Sup" [width]="70" [minWidth]="70" [allowEditing]="false" alignment="right" cellTemplate="topMarginCellTemplate"></dxi-column>    
                        
                        <div *dxTemplate="let data of 'r3r12MaxCellTemplate'">
                            <span [ngClass]="{'max-turnover': isMaxR(data.data.r3, data.data)}">{{ data.data.r3 | number: '1.0-0' }}</span> /
                            <span [ngClass]="{'max-turnover': isMaxR(data.data.r6, data.data)}">{{ data.data.r6 | number: '1.0-0' }}</span> /
                            <span [ngClass]="{'max-turnover': isMaxR(data.data.r9, data.data)}">{{ data.data.r9 | number: '1.0-0' }}</span> /
                            <span [ngClass]="{'max-turnover': isMaxR(data.data.r12, data.data)}">{{ data.data.r12 | number: '1.0-0' }}</span>
                        </div>

                        <div class="automatic-proposed-turnover-cell-template" *dxTemplate="let data of 'automaticProposedTurnoverCellTemplate'">
                            <div id="manualTurnoverId">
                                <dx-text-box [(value)]="data.data.manualTurnover" (valueChange)="onManualTurnoverChange(data.data)" class="manual-turnover-input" height="20" [disabled]="!data.data.itemTurnover && data.data.itemStock && !isSupplyDirectorFlag">
                                </dx-text-box>
                            </div>
                            <span>{{ data.data.automaticProposedTurnover | number: '1.0-0' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'isModifiedCellTemplate'">
                            <img id="modifyManualTurnoverId" [src]="'../assets/img/modify-manual-turnover-icon.png'" (click)="onModifyManualTurnoverClick(data.data)" class="manual-turnover-icon-img" 
                                title="MODIFICA! Rulajul vechi va fi modificat cu cel Propus. Daca Rulajul Propus este automat, o noua alertare va veni la modificarea acestuia. Daca Rulajul Propus este setat manual, o noua alertare va veni dupa 60 de zile de la momentul schimbarii. Rulajul va avea semnul 'Nu Modifica' si nu va aparea in propunerea de Modifica Rulaj." /> &nbsp;

                            <img id="dontModifyManualTurnoverId" [src]="'../assets/img/dont-modify-manual-turnover-icon.png'" (click)="onDontModifyManualTurnoverClick(data.data)" class="manual-turnover-icon-img" 
                                title="NU MODIFICA! Rulajul vechi nu va fi modificat. O noua alertare va veni dupa luna curenta + inca 1 luna din acest moment. Rulajul va avea semnul 'Nu Modifica' si nu va aparea in propunerea de Modifica Rulaj." />
                        </div>

                        <div *dxTemplate="let data of 'bottomMarginCellTemplate'">
                            <!-- <div class="bottom-margin-percentage"> -->
                            <div>
                                <div>{{ data.data.bottomMarginPercentage }}%</div>
                                <!-- <div>{{ data.data.bottomMargin }}</div> -->
                            </div>
                        </div>

                        <div *dxTemplate="let data of 'topMarginCellTemplate'">
                            <!-- <div class="top-margin-percentage"> -->
                            <div>
                                <div>{{ data.data.topMarginPercentage }}%</div>
                                <!-- <div>{{ data.data.topMargin }}</div> -->
                            </div>
                        </div>

                        <div *dxTemplate="let data of 'itemTurnoverCellTemplate'">
                            <span>
                                {{ data.data.itemTurnover ? ( data.data.itemTurnover | number:'1.0-0') : 0 }}
                            </span>
                        </div>

                        <div *dxTemplate="let data of 'itemEvaluatedTurnoverCellTemplate'">
                            <span>
                                {{ data.data.itemEvaluatedTurnover ? ( data.data.itemEvaluatedTurnover | number:'1.0-0') : 0 }}
                            </span>
                        </div>

                        <div *dxTemplate="let info of 'isModifiedHeaderCellTemplate'">   
                            <span>{{info.column.caption}}</span>  
                            <span>
                                <dx-select-box [dataSource]="isModifiedDataSource" valueExpr="id" placeholder="Aplica pentru toata pagina" fieldTemplate="field" [(value)]="selectedIsModifiedWholePageValue"
                                    (onValueChanged)="onIsModifiedToWholePageChange($event.value)" [dropDownOptions]="{ minWidth: '35' }" displayExpr="name" [width]="100" (onClosed)="onIsModifiedWholePageDropDownClosed()">
                                    <div *dxTemplate="let data of 'field'">
                                        <div class="custom-item">
                                          <dx-text-box
                                            class="product-name"
                                            [value]="'Toata pagina'"
                                            [inputAttr]="{ 'aria-label': 'name' }"
                                            [readOnly]="true"
                                            ></dx-text-box>
                                        </div>
                                      </div>
                                      <div *dxTemplate="let data of 'item'">
                                        <div class="custom-item">
                                            <img alt="Image" [src]="'../assets/img/' + (data?.imageSrc)" class="modifiy-whole-page-img" />
                                        </div>
                                      </div>
                                </dx-select-box>
                            </span>           
                        </div>
                    </dx-data-grid>                                       
                </div>
            </div>
        </div>
    </div>
</div>

<dx-tooltip target="#manufacturerFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#manufacturerFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="tooltip-text" position="top">
        Dezvoltare ulterioara
    </div>
</dx-tooltip>

<!-- <dx-tooltip target="#modifyManualTurnoverId" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#modifyManualTurnoverId">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="tooltip-text" position="top">
        MODIFICA! Rulajul vechi va fi modificat cu cel Propus. Daca Rulajul Propus este automat, o noua alertare va veni la modificarea acestuia. <br />
        Daca Rulajul Propus este setat manual, o noua alertare va veni dupa 60 de zile de la momentul schimbarii. Rulajul va avea semnul "Nu Modifica" si nu va aparea in propunerea de Modifica Rulaj.
    </div>
</dx-tooltip>

<dx-tooltip target="#dontModifyManualTurnoverId" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#dontModifyManualTurnoverId">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="tooltip-text" position="top">
        NU MODIFICA! Rulajul vechi nu va fi modificat. O noua alertare va veni dupa 60 de zile din acest moment. <br />
        Rulajul va avea semnul "Nu Modifica" si nu va aparea in propunerea de Modifica Rulaj.
    </div>
</dx-tooltip> -->

<dx-tooltip target="#manualTurnoverId" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#manualTurnoverId">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="tooltip-text" position="top">
        Rulaj Setat Manual de Operator, in urma analizei vanzarilor, pentru urmatoarele 2 luni in afara lunii curente. <br />
        Daca Rulaj = 0 atunci produsul este "Scos din Uz" si pentru setare Rulaj > 0, solicitati aprobarea Directorului de Aprovizionare
    </div>
</dx-tooltip>

<dx-popup *ngIf="isModifiedPopupVisible" [resizeEnabled]="true" [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="isModifiedPopupVisible" 
    width="500" height="150" class="custom-popup" [shading]="false">   
      <div class="is-modified-popup-wrapper">
        <div class="is-modified-popup-text">
            Aplica pentru toate produsele din pagina!
        </div>

        <div class="is-modified-popup-yes" (click)="onModifyWholePageClick()">
            Da
        </div>

        <div class="is-modified-popup-no" (click)="onDontModifyWholePageClick()">
            Nu
        </div>
      </div> 
</dx-popup>
