.search-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;
    padding: 0;
}

.search-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-dropdown ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.search-dropdown ul li:hover {
    background-color: #f5f5f5;
}

.navbar {
    position: absolute;
    left: -0.6rem;
    width: 2%;
}