<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <i class="material-icons" *ngIf="!hidden" (click)="hideSideBar()">keyboard_arrow_left</i>
            <i class="material-icons" *ngIf="hidden" (click)="hideSideBar()">keyboard_arrow_right</i>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
    </div>
        <!-- <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="search-container">
                    <div class="input-group no-border">
                        <input type="text" [(ngModel)]="searchValue" [ngModelOptions]="{ standalone: true }" class="form-control"
                            placeholder="Search..." (input)="onInputChange()">
                        <button mat-raised-button (click)="searchRoute()" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
            
                    <div *ngIf="dropdownVisible && datasource.length > 0" class="search-dropdown">
                        <ul>
                            <li *ngFor="let item of datasource" (click)="onSelectItem(item)">
                                {{ item.displayValue }}
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="dashbord" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'backToSSO' | translate}}">
                        <i class="material-icons" (click)="goToSSO()">reply_all</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [href]="emergencySituationsUrl" target="_blank" id="emergencySituations" title="{{'emergencySituations' | translate}}">
                        <button class="btn btn-danger .btn-lg" style="padding: 0px 30px 20px;">
                            <span class="fa fa-exclamation-triangle"></span>
                        </button>
                    </a>
                </li>
                <li class="nav-item dropdown" *ngIf="currentUser">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'notification' | translate}}">
                        <i class="material-icons" (click)="toggleShowNotifications()">notifications</i>
                        <span *ngIf="notifications.length > 0" class="notification">{{notifications.length}}</span>
                        <p>
                            <span class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show':  shouldShowNotifications}" aria-labelledby="navbarDropdownMenuLink">
                        <div *ngIf="notifications.length === 0">
                            <a class="dropdown-item" (click)="toggleShowNotifications()" href="javascript:void(0)"> -no notification-</a>
                        </div>
                        <div *ngFor="let notification of notifications">
                            <a class="dropdown-item" (click)="toggleShowNotifications()" href="javascript:void(0)">{{notification}}</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuSecondLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'language' | translate}}">
                        <i class="material-icons" (click)="toggleShow()">flag</i>
                        <p>
                          <span class="d-lg-none d-md-block">{{selectedLan}}</span>
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show':  shouldShow}" aria-labelledby="navbarDropdownMenuSecondLink">
                      <ng-container *ngFor="let lang of languages">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="selectCulture(lang)">
                            {{lang.name | translate}}</a>
                      </ng-container>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="currentUser">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownThirdMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'userAction' | translate}}">
                        <i class="material-icons" (click)="toggleShowProfile()">person</i>
                        <p>
                          <span class="d-lg-none d-md-block">dasda</span>
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right"  [ngClass]="{'show':  shouldShowProfile}" aria-labelledby="navbarDropdownThirdMenuLink">
                        <a class="dropdown-item" [routerLink]="[ '/', 'user-profile' ]">{{'login.userProfile' | translate}}</a>
                        <a class="dropdown-item" [routerLink]="[ '/', 'daily-report' ]">{{ 'login.dailyReport' | translate }}</a>
                        <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">{{'login.logout' | translate}}</a>
                    </div>
                </li>
            </ul>
            <span *ngIf="currentSite" class="navbar-brand">{{'site' | translate}} {{currentSite}}</span> |
            <span *ngIf="currentUser" class="navbar-brand">{{'login.greet' | translate}} {{currentUser}}!</span>
        </div>
    </div> -->
</nav>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Mike John responded to your email</a></li>
                        <li><a href="javascript:void(0)">You have 5 new tasks</a></li>
                        <li><a href="javascript:void(0)">You're now friend with Andrew</a></li>
                        <li><a href="javascript:void(0)">Another Notification</a></li>
                        <li><a href="javascript:void(0)">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->
