.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }

  .position-relative {
    position: relative;
  }
  
  .tooltip-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
    white-space: normal; /* Allow text wrapping */
    max-width: 200px;    /* Set a max-width to control the size */
    word-wrap: break-word; /* Break long words */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: add a slight shadow for better visibility */
  }

  .related-item-icon-img {
    max-width: 60px;
  }

  .related-item-caption-wrapper {
    display: flex;
    align-items: center;
  }

  .item-related-icon {
    cursor: pointer;
  }