<div *ngIf="item && item.id">
    <app-spinner [visible]="loaded"></app-spinner>

    <div *ngFor="let type of relatedItemTypes; let i = index">
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-2 position-relative">
                        <div class="related-item-caption-wrapper">
                            <div class="item-related-icon" (click)="openDetails(type)" (mouseenter)="showTooltip(type)" (mouseleave)="hideTooltip()">
                                <img [src]="'./assets/img/' + type.icon" alt="{{type.name}} icon" class="related-item-icon-img">
                            </div>
                        </div>
                          
                        <div class="tooltip-content" *ngIf="currentTooltip === type">
                            {{ type.description }}
                          </div>
                    </div>
                    <!-- <div *ngIf="selectedRelatedItem && type.isVisible" class="col-1 dx-field-label text-md-right">Produs simplu:</div>
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-md-2 col-lg-2">
                        <dx-select-box [dataSource]="items" [displayExpr]="displayCodeExpr" valueExpr="id" [searchEnabled]="true"
                            [(ngModel)]="selectedRelatedItem.itemId">
                        </dx-select-box>
                    </div>
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-1 dx-field-label text-md-right">Cod4:</div>
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-md-1 col-lg-1">
                        <dx-check-box [(ngModel)]="isCodeFour"></dx-check-box>
                    </div>  -->
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-2 dx-field-label text-md-right">Simple:</div> 
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="items" [(ngModel)]="selectedItems" valueExpr="id"
                            [displayExpr]="displayCodeExpr" [showSelectionControls]="true" [maxDisplayedTags]="5" [dropDownOptions]="{ minWidth: '450' }"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                        </dx-tag-box>
                    </div>
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-2 dx-field-label text-md-right">Grupate:</div> 
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="itemGroups" [(ngModel)]="selectedItemGroups" valueExpr="id"
                            [displayExpr]="displayCodeExpr" [showSelectionControls]="true" [maxDisplayedTags]="5" [dropDownOptions]="{ minWidth: '450' }"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false">
                        </dx-tag-box>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-1 dx-field-label text-md-right">Avantaje:</div>
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-md-3 col-lg-3">
                        <dx-text-box [(ngModel)]="selectedRelatedItem.description" [ngModelOptions]="{standalone: true}">
                        </dx-text-box>
                    </div>
                    <div *ngIf="selectedRelatedItem && type.isVisible" class="col-2">
                        <dx-button text="Salveaza" (onClick)="saveData(type)">
                        </dx-button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <!-- <app-grid-toolbar [id]="'gridToolbar_' + i" alignment="center" (refreshEvent)="refreshDataGrid(i)"></app-grid-toolbar> -->

                    <dx-data-grid [id]="'gridContainer_' + i" #dataGrid [dataSource]="type.dataSource" [showBorders]="false" [rowAlternationEnabled]="true" [allowColumnReordering]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

                        <dxi-column caption="Produs" dataField="relatedItemId" [allowEditing]="false" alignment="left">
                            <dxo-lookup [dataSource]="items" valueExpr="id" [displayExpr]="getDisplayExprItems"></dxo-lookup>
                        </dxi-column>

                        <!-- Only for Complementary -->
                        <dxi-column caption="Specializari" [allowEditing]="false" [calculateCellValue]="calculateSpecCell" [visible]="i === 1" headerCellTemplate="specHeaderCellTemplate" alignment="left"></dxi-column>

                        <dxi-column caption="Avantaje" dataField="description" [allowEditing]="false" [minWidth]="120" [width]="140" alignment="left"></dxi-column>

                        <dxi-column caption="Actiuni" cellTemplate="actionsCellTemplate" [minWidth]="30" [width]="50" alignment="center"></dxi-column>
                        <div *dxTemplate="let data of 'actionsCellTemplate'">
                            <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                title="Stergere" (click)="deleteRow(data.data)"></i>
                        </div>       

                         <div *dxTemplate="let info of 'specHeaderCellTemplate'">
                            <p id="specHeaderCaption" style="margin: 0">{{info.column.caption}}</p>
                        </div>               
                    </dx-data-grid>
                </div>
            </div>
        </div>  

        <hr>
    </div>
</div>

<dx-tooltip target="#specHeaderCaption" showEvent="dxhoverstart" hideEvent="dxhoverend" position="top">
    <div *dxTemplate="let data of 'content'" class="info-tooltip">
        Specializarile comune dintre produsul din header si produsul complementar selectat
    </div>
</dx-tooltip>
