<div class="modal-body">
    <dx-validation-group #validationSearchGroup>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="nameOrCodeFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Nume (Cod)">Nume (Cod):</div>
                    <div class="col-md-5 col-lg-5">
                        <dx-autocomplete [dataSource]="nameOrCodeFilterPartners" [(ngModel)]="partnerSearchFilter.customNameOrCode" valueExpr="codeAndName" (onSelectionChanged)="onNameOrCodeFilterItemSelected($event)"
                            (valueChange)="onNameOrCodeFilterSearch($event)" [maxItemCount]="100" itemTemplate="nameOrCodeItemTemplate" [dropDownOptions]="{ minWidth: '600' }">
                            <div *dxTemplate="let item of 'nameOrCodeItemTemplate'">
                                {{ item.code }} - {{ item.name }}
                            </div>
                        </dx-autocomplete>
                    </div>

                    <div id="fiscalCodeFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="CUI">CUI:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-autocomplete [dataSource]="fiscalCodeFilterPartners" [(ngModel)]="partnerSearchFilter.fiscalCode" valueExpr="fiscalCode" (onSelectionChanged)="onFiscalCodeFilterItemSelected($event)"
                            (valueChange)="onFiscalCodeFilterSearch($event)" [maxItemCount]="100" itemTemplate="fiscalCodeItemTemplate" [dropDownOptions]="{ minWidth: '150' }">
                            <div *dxTemplate="let item of 'fiscalCodeItemTemplate'">
                                {{ item.fiscalCode }}
                            </div>
                        </dx-autocomplete>
                    </div>

                    <div id="emailFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Email">Email:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-autocomplete [dataSource]="emailFilterPartners" [(ngModel)]="partnerSearchFilter.email" valueExpr="email" (onSelectionChanged)="onEmailFilterItemSelected($event)"
                            (valueChange)="onEmailFilterSearch($event)" [maxItemCount]="100" itemTemplate="emailItemTemplate" [dropDownOptions]="{ minWidth: '200' }">
                            <div *dxTemplate="let item of 'emailItemTemplate'">
                                {{ item.email }}
                            </div>
                            <dx-validator>
                                <dxi-validation-rule type="email" message="{{'invalidEmail' | translate}}"></dxi-validation-rule>
                            </dx-validator>
                        </dx-autocomplete>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="phoneFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Telefon">Telefon:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-number-box [(ngModel)]="partnerSearchFilter.phone"></dx-number-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Conventie Produs Oferit">Conventie Produs Oferit:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="productConvention" [(ngModel)]="partnerSearchFilter.productConventionIds" valueExpr="id" 
                        (onValueChanged)="onProductConventionChanged($event)" displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '200' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Activitate">Activitate:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="partnerActivityAllocationDS" [displayExpr]="getDisplayExprPartnerActivity" [(ngModel)]="partnerSearchFilter.partnerActivityIds" valueExpr="id"
                        [maxDisplayedTags]="2" [showSelectionControls]="true" (onValueChanged)="onMultiTagPartnerActivityChange($event)" [dropDownOptions]="{ minWidth: '370' }"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'">
                        </dx-tag-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Specializare">Specializare:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="caenSpecializationsDS" [(ngModel)]="partnerSearchFilter.caenSpecializationsIds" valueExpr="id"
                        [displayExpr]="getSpecializationDisplayExpr" [maxDisplayedTags]="2" [showSelectionControls]="true" (onValueChanged)="onMultiTagSpecializationChange($event)"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '370' }">
                        </dx-tag-box>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-1 dx-field-label text-md-right" title="Localitate">Localitate:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="citiesDS" [(ngModel)]="partnerSearchFilter.citiesIds" valueExpr="id" (onValueChanged)="onCitiesChanged($event)"
                        [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true" (onValueChanged)="onMultiTagCitiesChange($event)"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true"
                        [hideSelectedItems]="false" [dropDownOptions]="{ minWidth: '400' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Judet">Judet:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="countiesDS" [(ngModel)]="partnerSearchFilter.countiesIds" valueExpr="id" (onValueChanged)="onCountiesChanged($event)"
                        [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" (onValueChanged)="onMultiTagCountieChange($event)"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '400' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Tara">Tara:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="countriesDS" [(ngModel)]="partnerSearchFilter.countriesIds" valueExpr="id" (onValueChanged)="onCountriesChanged($event)"
                            [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '400' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Limba">Limba:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="language" [(ngModel)]="partnerSearchFilter.languageIds" valueExpr="id"
                        [displayExpr]="getDisplayExprCities" [maxDisplayedTags]="2"  [showSelectionControls]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" (onValueChanged)="onMultiTagLanguageChange($event)"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '300' }">
                       </dx-tag-box>
                    </div>
                </div>
            </div> 

            <div class="col-md-6 col-lg-6">
                <div class="row">          
                    <div id="itemGroupCategoriesFilter" class="col-1 dx-field-label text-md-right" title="Categorii">Categorii:</div>                     
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="itemGroupCategories" [(ngModel)]="partnerSearchFilter.itemGroupCategoryIds" valueExpr="id"
                            [displayExpr]="itemGroupCategoryDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="2" [dropDownOptions]="{ minWidth: '300' }"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false">
                        </dx-tag-box>
                    </div>
          
                    <div id="itemGroupCodesFilter" class="col-1 dx-field-label text-md-right" title="Grupe">Grupe:</div>                       
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="itemGroupCodesDS" [(ngModel)]="partnerSearchFilter.itemGroupCodeIds" valueExpr="id"
                            [displayExpr]="itemGroupCodeDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="2" [dropDownOptions]="{ minWidth: '300' }"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false">         
                        </dx-tag-box>
                    </div>  
                    
                    <div id="globalSearchFilter" class="col-1 dx-field-label text-md-right" title="Cautare globala">Cautare globala:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.globalSearch" [maxLength]="1000">
                        </dx-text-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="CAEN">CAEN:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="caenGridDataSource" [(ngModel)]="partnerSearchFilter.caenCodeIds" valueExpr="id"
                            [displayExpr]="caenGridBoxDisplayExpr" [showSelectionControls]="true" [maxDisplayedTags]="2"
                            [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [hideSelectedItems]="false" [dropDownOptions]="{ minWidth: '700' }">         
                        </dx-tag-box>
                    </div> 
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Cod produs asociat/inactiv/in trecut">Cod Produs:</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-text-box [(ngModel)]="partnerSearchFilter.itemCode" [maxLength]="50"></dx-text-box>
                    </div>

                    <div id="agentFilter" class="col-1 dx-field-label text-md-right" title="Post (SRM)">Post (SRM):</div>
                    <div class="col-md-2 col-lg-2">
                        <dx-tag-box [dataSource]="postsDS" [(ngModel)]="partnerSearchFilter.postIds" valueExpr="id"
                        displayExpr="companyPost" [maxDisplayedTags]="2"  [showSelectionControls]="true" [showClearButton]="true"
                        [showMultiTagOnly]="false" applyValueMode="instantly" [searchEnabled]="true" [dropDownOptions]="{ minWidth: '240' }"
                        [hideSelectedItems]="false" [selectAllMode]="'allPages'" (onValueChanged)="onMultiTagPostChange($event)">
                       </dx-tag-box>
                    </div> 

                    <div class="d-flex flex-wrap align-items-center ml-0 ml-md-5">
                        <div class="d-flex flex-wrap">
                            <div class="d-flex align-items-center mr-3" title="Produse Asociate dar neaprovizionate vreodata de la acest furnizor">
                                <label class="mb-0" style="color: black">Asociate:</label>
                            </div>
                            <div class="d-flex align-items-center mr-3">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isAssociatedItemsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                    
                            <div class="d-flex align-items-center mr-3" title="Produse care au fost aprovizionate in Trecut si acum au alt furnizor">
                                <label class="mb-0" style="color: black">In trecut:</label>
                            </div>
                            <div class="d-flex align-items-center mr-3">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isInactiveItemsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                    
                            <div class="d-flex align-items-center mr-3" title="Produse active la furnizorul implicit">
                                <label class="mb-0" style="color: black">Active:</label>
                            </div>
                            <div class="d-flex align-items-center">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isActiveItemsSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="d-flex flex-wrap align-items-center ml-0 ml-md-5">
                        <div class="d-flex flex-wrap">
                            <div class="d-flex align-items-center mr-3" title="Toti Furnizorii">
                                <label class="mb-0" style="color: black">Toti:</label>
                            </div>
                            <div class="d-flex align-items-center mr-3">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isAllTurnoverSelected" [ngModelOptions]="{standalone: true}" (onValueChanged)="toggleTurnoverCheckbox('all', $event)"></dx-check-box>
                            </div>
                    
                            <div class="d-flex align-items-center mr-3" title="Furnizori cu Rulaj">
                                <label class="mb-0" style="color: black">Cu:</label>
                            </div>
                            <div class="d-flex align-items-center mr-3">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isWithTurnoverSelected" [ngModelOptions]="{standalone: true}" (onValueChanged)="toggleTurnoverCheckbox('with', $event)"></dx-check-box>
                            </div>
                    
                            <div class="d-flex align-items-center mr-3" title="Furnizori fara Rulaj">
                                <label class="mb-0" style="color: black">Fara:</label>
                            </div>
                            <div class="d-flex align-items-center">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isWithoutTurnoverSelected" [ngModelOptions]="{standalone: true}" (onValueChanged)="toggleTurnoverCheckbox('without', $event)"></dx-check-box>
                            </div>
                        </div>
                    </div>

                    <div class="col-1 dx-field-label text-md-right" title="Stare FRZ" *ngIf="suppliersCountData">Stare FRZ:</div>
                    <div class="col-md-5 col-lg-5" *ngIf="suppliersCountData">
                        <div class="row">
                            <div id="activeSuppliers" class="col-3 dx-field-label text-md-right" [title]="'FRZ Activi ' + suppliersCountData.activeSuppliersCount">
                                FRZ Activi
                                <span [ngClass]="{'text-danger': suppliersCountData.activeSuppliersCount === 0, 'text-success': suppliersCountData.activeSuppliersCount > 0}">
                                    ({{ suppliersCountData.activeSuppliersCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isActiveSuppliersSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                        
                            <div id="inactiveSuppliers" class="col-3 dx-field-label text-md-right" [title]="'FRZ Trecuti ' + suppliersCountData.inactiveSuppliersCount">
                                FRZ Trecuti
                                <span [ngClass]="{'text-danger': suppliersCountData.inactiveSuppliersCount === 0, 'text-success': suppliersCountData.inactiveSuppliersCount > 0}">
                                    ({{ suppliersCountData.inactiveSuppliersCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isInactiveSuppliersSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                        
                            <div id="possibleSuppliers" class="col-3 dx-field-label text-md-right" [title]="'FRZ Posibili ' + suppliersCountData.possibleSuppliersCount">
                                FRZ Posibili
                                <span [ngClass]="{'text-danger': suppliersCountData.possibleSuppliersCount === 0, 'text-success': suppliersCountData.possibleSuppliersCount > 0}">
                                    ({{ suppliersCountData.possibleSuppliersCount | number: '1.0-0' }})
                                </span>
                            </div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="partnerSearchFilter.isPossibleSuppliersSelected" [ngModelOptions]="{standalone: true}"></dx-check-box>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Valid">Valid:</div>
                    <div class="col-md-1 col-lg-1">
                        <dx-check-box [(ngModel)]="partnerSearchFilter.isActive" [ngModelOptions]="{standalone: true}"></dx-check-box>
                    </div>
                </div>
            </div>     
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div id="subscriptionFilter" class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Valid">Abonari:</div>
                    <div class="col-md-1 col-lg-1">
                        <dx-check-box [(ngModel)]="partnerSearchFilter.haveSubscriptions" [ngModelOptions]="{standalone: true}"></dx-check-box>
                    </div> 
                </div>
            </div>
        </div>
    </dx-validation-group>
     
      <hr>
      <div class="form-group row filter-buttons">
        <dx-button text="{{'search' | translate}}" (onClick)="searchPartners()">
        </dx-button>
        <dx-button text="Resetare filtru" (onClick)="resetFilters()">
        </dx-button>
        <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="(nameOrCodeSelectedPartner && partnerSearchFilter.customNameOrCode && partnerSearchFilter.customNameOrCode.length >= 6) || (fiscalCodeSelectedPartner && partnerSearchFilter.fiscalCode && partnerSearchFilter.fiscalCode.length >= 4) 
              || (emailSelectedPartner && partnerSearchFilter.email && partnerSearchFilter.email.length >= 6)" href="javascript:void(0)" title="Detalii partener" (click)="openDetails()"></i>
      </div>
      </div>

<dx-tooltip target="#subscriptionFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
            my="bottom"
            at="top"
            of="#subscriptionFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
            Cauta toti partenerii care au cereri de abonare inca nevalidate
    </div>
 </dx-tooltip>      

<dx-tooltip target="#emailFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#emailFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cauta in toate campurile de email si in toate locatiile
  </div>
</dx-tooltip>

<dx-tooltip target="#phoneFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#phoneFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cauta in toate campurile de telefon si in toate locatiile
  </div>
</dx-tooltip>

<dx-tooltip target="#itemGroupCategoriesFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#itemGroupCategoriesFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cod Categorie(Proces Tehnologic)
  </div>
</dx-tooltip>

<dx-tooltip target="#itemGroupCodesFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#itemGroupCodesFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Grupe Produse(Destinatie Finala)
  </div>
</dx-tooltip>

<dx-tooltip target="#globalSearchFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#globalSearchFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Cauta un cuvant in toate campurile de Denumire si Observatii ale FRZ <br />
      Atentie! Cautarea cu acest filtru poate fi lenta!
  </div>
</dx-tooltip>

<dx-tooltip target="#turnoverFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#turnoverFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Rulaj = S-a cumparat de la FRZ
  </div>
</dx-tooltip>

<dx-tooltip target="#agentFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
  <dxo-position
      my="bottom"
      at="top"
      of="#agentFilter">
  </dxo-position>
  <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
      Post Aprovizionare
  </div>
</dx-tooltip>

<dx-tooltip target="#activeSuppliers" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#activeSuppliers">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Furnizori care au minim 1 proces tehnologic, minim 1 produs alocat, minim 1 document de achizitie si minim 1 produs activ
    </div>
</dx-tooltip>

<dx-tooltip target="#inactiveSuppliers" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#inactiveSuppliers">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Furnizori care au minim 1 proces tehnologic, minim 1 produs alocat, minim 1 document de achizitie, nu este FRZ implicit si nu are produse active
    </div>
</dx-tooltip>

<dx-tooltip target="#possibleSuppliers" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#possibleSuppliers">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Furnizori care au minim 1 proces tehnologic si minim 1 produs alocat
    </div>
</dx-tooltip>

<dx-tooltip target="#inactiveItems" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Produse cu stoc sau fara, active, achizitionate in trecut de la Furnizor dar care acum nu mai sunt pe Furnizor implicit! 
    </div>
</dx-tooltip>

<dx-tooltip target="#nameOrCodeFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#nameOrCodeFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Introduceti cel putin 6 caractere pentru a afisa partenerii in drop-down
    </div>
</dx-tooltip>

<dx-tooltip target="#fiscalCodeFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#fiscalCodeFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Introduceti cel putin 4 caractere pentru a afisa codurile fiscale in drop-down
    </div>
</dx-tooltip>

<dx-tooltip target="#emailFilter" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <dxo-position
        my="bottom"
        at="top"
        of="#emailFilter">
    </dxo-position>
    <div *dxTemplate="let data of 'content'" class="partner-search-filter-tooltip" position="top">
        Introduceti cel putin 6 caractere pentru a afisa email-urile persoanelor de contact in drop-down
    </div>
</dx-tooltip>