<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Rulaje'"></app-title>
            <div *ngIf="selectedItemCode">
                <span class="show-filters-section-label" (click)="openFiltersSection()" 
                    [innerHTML]="!isFiltersSectionVisible ? 'Arata Filtre <i class=\'fa fa-long-arrow-down\'></i>' : 'Ascunde Filtre <i class=\'fa fa-long-arrow-up\'></i>'"></span>
            </div>
            <div class="row" *ngIf="isFiltersSectionVisible">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <app-turnover-search-filter [(items)]="items" [(posts)]="posts" [(departments)]="departments" [(filteredPartners)]="filteredPartners"
                        [(cities)]="cities" [(citiesDS)]="citiesDS" [(counties)]="counties" [(countiesDS)]="countiesDS" [(distinctSupplierAgentIds)]="distinctSupplierAgentIds"
                        [(countries)]="countries" [(countriesDS)]="countriesDS" [selectedItemCode]="selectedItemCode" (searchEvent)="searchEvent($event)"
                        (refreshEvent)="refreshEvent($event)">
                    </app-turnover-search-filter>
                </div>
            </div>

            <div *ngIf="turnoverSuppliers.length > 0">
                <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;">
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-circle btn-sm" [disabled]="currentSupplierDisplayIndex <= 1"
                            [ngClass]="themeColor" (click)="previousSupplier()">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </button>
                    </div>
    
                    <div class="d-flex align-items-center">
                        <dx-text-box [(ngModel)]="currentSupplierDisplayIndex" [maxLength]="4" class="pageNumber"
                            (onChange)="setSupplier($event)">
                        </dx-text-box>
                    </div>
    
                    <div class="d-flex align-items-center">
                        din {{turnoverSuppliers.length}} furnizori
                    </div>
    
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-circle btn-sm" [disabled]="currentSupplierDisplayIndex >= turnoverSuppliers.length"
                            [ngClass]="themeColor" (click)="nextSupplier()">
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </div>
    
                    <div class="d-flex align-items-center" *ngIf="turnoverSuppliers.length > 0">
                        <span class="internal-suppliers-count" (click)="onSuppliersCountFilterClick('internal')">{{ internalSuppliers.length }} Interni,</span> &nbsp;
                        <span class="intracommunity-suppliers-count" (click)="onSuppliersCountFilterClick('intracommunity')">{{ intraCommunitySuppliers.length }} Intracomunitari,</span> &nbsp;
                        <span class="external-suppliers-count" (click)="onSuppliersCountFilterClick('external')">{{ externalSuppliers.length }} Externi</span>
                    </div>
    
                    <div class="d-flex align-items-center" *ngIf="turnoverSuppliers.length > 0">
                        Ordonare Tara/Judet/Oras &nbsp;
                        <dx-check-box [ngModelOptions]="{standalone: true}" (onValueChanged)="onSortByGeoEntitiesChange($event)"></dx-check-box>
                    </div>

                    <div class="d-flex align-items-center" *ngIf="turnoverSuppliers.length > 0">
                        Doar de Aprovizionat &nbsp;
                        <dx-check-box [(ngModel)]="onlyToSupplyFilter.isOnlyToSupply" [ngModelOptions]="{standalone: true}" (onValueChanged)="onOnlyToSupplyChange($event)"></dx-check-box>

                        <dx-radio-group
                            [dataSource]="onlyToSupplyFilterOptions" layout="horizontal" rtlEnabled="true" (onValueChanged)="onOnlyToSupplyOptionsChange($event)"
                            displayExpr="label" valueExpr="value" [(ngModel)]="onlyToSupplyFilter.onlyToSupplyOption">
                        </dx-radio-group>
                    </div>
                    
                </div>
            </div>

            <div *ngIf="turnOverItems && turnOverItems.length > 0">
                             
                <hr />
                
                <div class="form-group d-flex flex-wrap align-items-center" style="gap: 30px;">
                    <div class="d-flex align-items-center clickable">
                        <b (click)="onSupplierNameClick()">{{turnoverSuppliers[currentSupplierIndex].supplierName}}</b>
                    </div>

                    <div class="d-flex align-items-center">
                        <b>Agent: {{turnoverSuppliers[currentSupplierIndex].supplierAgentName}}</b>
                    </div>

                    <div class="d-flex align-items-center">
                        {{turnoverSuppliers[currentSupplierIndex].countryName}} -
                        {{turnoverSuppliers[currentSupplierIndex].countyName}} -
                        {{turnoverSuppliers[currentSupplierIndex].cityName}}
                    </div>

                    <div class="d-flex align-items-center">
                        <a [href]="this.getHttpLink(turnoverSuppliers[currentSupplierIndex].supplierWebsite)"
                            target="_blank">{{turnoverSuppliers[currentSupplierIndex].supplierWebsite}}</a>
                    </div>
                </div>
                
                <hr style="height: 5px;">
                <ng-container *ngFor="let item of turnOverItems">
                    <div class="form-group row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <b>{{item.itemCode}} - {{item.itemName}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group inline-flex-container">
                        <div class="inline-flex-item">
                            <b>Stoc:</b> {{ (item.currentStock === null ? 0 : item.currentStock) | number: '1.0-0' }}
                        </div>
                        <div class="inline-flex-item">
                            <b [ngClass]="{ 'should-solve-turnover': shouldSolveTurnover(item),
                                            'should-alert-about-turnover': shouldAlertAboutTurnover(item) }" (mouseenter)="showSolveTurnoverTooltip(item.itemId)" (mouseleave)="hideSolveTurnoverTooltip(item.itemId)" [attr.id]="'solve-turnover-' + item.itemId"
                                (click)="onSolveTurnoverClick(item)"> Rulaj:</b> {{ (item.itemTurnover === null ? 0 : item.itemTurnover) | number: '1.0-0' }}
                        </div>

                        <dx-tooltip 
                            [target]="'#solve-turnover-' + item.itemId"
                            [visible]="isSolveTurnoverTooltipVisible[item.itemId] && (shouldSolveTurnover(item) || shouldAlertAboutTurnover(item))"
                            [position]="{ my: 'top', at: 'bottom', of: '#solve-turnover-' + item.itemId }">
                            <div *dxTemplate="let data of 'content'" class="label-tooltip">
                                <div *ngIf="shouldAlertAboutTurnover(item)">
                                    S-a pastrat rulajul setat si o noua alertare va avea loc incepand cu {{ item.alerting }}
                                </div>

                                <div *ngIf="!shouldAlertAboutTurnover(item) && shouldSolveTurnover(item)">
                                    Rezolva Rulaj! <br />
                                    Rulaj Propus: R = 1.10 * Maxim(R3, R6, R9, R12)  <br />
                                    Rulajul nu respecta intervalul: - {{ item.bottomMarginPercentage }}% + {{ item.topMarginPercentage }}% fata de Maxim(R3, R6, R9, R12)  <br />
                                    Alt Rulaj: R se poate pune alta valoare, nu va mai aparea alertarea, luna curenta + o luna.
                                </div>                  
                            </div>
                        </dx-tooltip>

                        <div class="inline-flex-item" ngTooltip="">
                            <b>Rulaj Real:</b>
                            {{ (item.rulajReal3M === null ? 0 : item.rulajReal3M) | number: '1.0-0' }} -
                            {{ (item.rulajReal6M === null ? 0 : item.rulajReal6M) | number: '1.0-0' }} -
                            {{ (item.rulajReal9M === null ? 0 : item.rulajReal9M) | number: '1.0-0' }} -
                            {{ (item.rulajReal12M === null ? 0 : item.rulajReal12M) | number: '1.0-0' }}
                        </div>

                        <div *ngIf="isSupplyAlertShown(item)" class="inline-flex-item">
                            <img src="../../assets/img/supply-alert-icon.png" (click)="onSupplyAlertClick(item)" class="supply-alert-icon" title="Aprovizioneaza!">
                        </div>

                        <div *ngIf="isDontSupplyAlertShown(item)" class="inline-flex-item">
                            <img src="../../assets/img/dont-supply-alert-icon.png" (click)="onDontSupplyAlertClick(item)" class="supply-alert-icon" title="Elimina acest Produs din alertarea ca trebuie sa fie aprovizionat, pentru urmatoarele 30 de zile.!">
                        </div>

                        <img [src]="'./assets/img/orders-icon.png'" class="orders-icon-img" (mouseenter)="showOrdersTooltip(item.itemId)" (mouseleave)="hideOrdersTooltip(item.itemId)"
                            [attr.id]="'orders-icon-' + item.itemId">

                        <dx-tooltip 
                            [target]="'#orders-icon-' + item.itemId"
                            [visible]="isOrdersTooltipVisible[item.itemId]"
                            [position]="{ my: 'top', at: 'bottom', of: '#orders-icon-' + item.itemId }">
                            <div *dxTemplate="let data of 'content'" class="label-tooltip">
                                <div>
                                    Comenzi pe drum: {{ (item.quantityOnOrdersToArrive === null ? 0 : item.quantityOnOrdersToArrive) | number: '1.0-0' }}
                                    Suficient luni: {{ (item.sufficientMonths === null ? 0 : item.sufficientMonths) | number: '1.0-0' }} 
                                    De comandat: {{ (item.quantityToBeOrdered === null ? 0 : item.quantityToBeOrdered) | number: '1.0-0' }} 
                                    DA: {{ item.acquisitionArrivalDays === null ? 0 : item.acquisitionArrivalDays }} zile 
                                    PA: {{ (item.acquisitionPeriodDays / 30) | number: '1.0-0' }} luni
                                </div>
                            </div>
                        </dx-tooltip>

                        <img [src]="'./assets/img/prices-icon.png'" class="prices-icon-img" [attr.id]="'prices-icon-' + item.itemId"
                                (mouseenter)="getItemPrices(item.itemId)" (mouseleave)="hidePricesTooltip(item.itemId)">

                        <img [src]="'./assets/img/seo-icon.png'" class="seo-icon-img" [attr.id]="'seo-icon-' + item.itemId"
                                (mouseenter)="getItemSeo(item.itemId)" (mouseleave)="hideSeoTooltip(item.itemId)">

                        <dx-tooltip 
                            [target]="'#prices-icon-' + item.itemId"
                            [visible]="isPricesTooltipVisible[item.itemId]"
                        >
                            <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
                                {{ pricesIconTooltip }}
                            </div>
                        </dx-tooltip>
                        
                        <dx-tooltip 
                            [target]="'#seo-icon-' + item.itemId"
                            [visible]="isSeoTooltipVisible[item.itemId]"
                            >
                            <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
                                <div *ngIf="seoIconTooltip && seoIconTooltip.length > 0">
                                    <table border="1" class="seo-table">
                                        <thead>
                                            <tr>
                                                <th class="seo-columns-style">RO</th>
                                                <th class="seo-columns-style">EN</th>
                                                <th class="seo-columns-style">DE</th>
                                                <th class="seo-columns-style">FR</th>
                                                <th class="seo-columns-style">HU</th>
                                                <th class="seo-columns-style">BG</th>
                                                <th class="image-columns-style">Poze</th>
                                                <th class="image-columns-style">360</th>
                                                <th class="image-columns-style">Film</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of seoIconTooltip; let i = index" [class.row-alternation]="i % 2 === 1">
                                                <td><input type="checkbox" [checked]="item.roValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.enValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.deValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.frValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.huValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.bgValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.photosValue" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.p360Value" disabled class="styled-checkbox" /></td>
                                                <td><input type="checkbox" [checked]="item.filmValue" disabled class="styled-checkbox" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dx-tooltip>
                    </div>
                    <div>
                        <div class="row mt-2">
                            <div class="col-9">
                                <dx-data-grid
                                    [dataSource]="filteredTurnoverItems[item.itemId]"
                                    [showBorders]="true"
                                    [showRowLines]="true"
                                    [columnAutoWidth]="true"
                                    [allowColumnResizing]="true"
                                    [allowColumnReordering]="true">
                                    
                                    <dxi-column dataField="turnoverOperationName" caption="Operatie" cellTemplate="operationCell"></dxi-column>
                                    <dxi-column dataField="Total" caption="Total" alignment="right" [cssClass]="'text-right'" cellTemplate="totalCell"></dxi-column>

                                    <ng-container *ngFor="let month of monthsToDisplay">
                                        <dxi-column [dataField]="month | date: 'MMM-yyyy'" [caption]="month | date: 'MMM-yyyy'" alignment="right" cellTemplate="monthCell">
                                        </dxi-column>
                                    </ng-container>

                                    <div *dxTemplate="let data of 'operationCell'">
                                        <div class="turnover-operation" (click)="onTurnoverOperationClick(data.data)">
                                            {{ data.data.turnoverOperationName }} ({{ data.data.NoOfPartners }})
                                        </div>
                                    </div>

                                    <div *dxTemplate="let data of 'totalCell'">
                                        <div [ngClass]="{ 'negative': data.data.Total < 0 }">
                                            {{ data.data.Total | number: '1.0-0' }}
                                        </div>
                                    </div>

                                    <div *dxTemplate="let data of 'monthCell'">
                                        <div [ngClass]="{ 'negative': getMonthQuantity(data.data.monthsData, data.column.dataField) < 0 }">
                                            {{ getMonthQuantity(data.data.monthsData, data.column.dataField) | number: '1.0-0' }}
                                        </div>
                                    </div>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                    <hr>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<dx-popup *ngIf="isItemTurnoverHistoryOpened" [showTitle]="true" [resizeEnabled]="true" [title]="itemTurnoverOperationName + ' / ' + itemCode + ' - ' + itemName" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="isItemTurnoverHistoryOpened" width="82%" height="70%" class="custom-popup" [shading]="false">   
    <dx-scroll-view width="100%" height="100%">
        <div class="item-turnover-data-loading" *ngIf="!isDataLoading">Se incarca...</div>
        <div class="item-turnover-wrapper">
            <app-item-turnover-history #itemTurnoverHistoryComponent [itemId]="turnoverHistoryItemId" [itemCode]="itemCode" [itemName]="itemName"
                [turnoverOperationId]="turnoverHistoryOperationId" (displayItemTurnoverHistoryPopup)="displayItemTurnoverHistoryPopupChange($event)">
            </app-item-turnover-history>
        </div>  
    </dx-scroll-view>
</dx-popup>

<dx-popup *ngIf="isSolveTurnoverPopupVisible" width="500" height="260" [showTitle]="true" [resizeEnabled]="true"
    [title]="'Rezolva Rulajul produsului ' + selectedSolveTurnoverItem" [dragEnabled]="true" [shading]="false" [closeOnOutsideClick]="false" [(visible)]="isSolveTurnoverPopupVisible">

    <dx-validation-group #validationGroup>
        <div class="form-group d-flex flex-wrap align-items-center" style="gap: 15px;">
            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black; width: 110px; text-align: right;">Rulaj Propus:</label>
                <dx-number-box [(ngModel)]="selectedSolveTurnoverAutomaticTurnover" [width]="150" [disabled]="true">
                </dx-number-box> &nbsp;
                <img src="../../assets/img/modify-manual-turnover-icon.png" (click)="onCheckSolveTurnoverClick('automatic')" class="solve-turnover-icon" 
                    title="MODIFICA! Rulajul vechi va fi modificat cu cel Propus. Daca Rulajul Propus este automat, o noua alertare va veni la modificarea acestuia. Daca Rulajul Propus este setat manual, o noua alertare va veni dupa 60 de zile de la momentul schimbarii. Rulajul va avea semnul 'Nu Modifica' si nu va aparea in propunerea de Modifica Rulaj."> &nbsp;
                <img src="../../assets/img/dont-modify-manual-turnover-icon.png" (click)="onDontCheckTurnoverClick()" class="solve-turnover-icon"
                    title="NU MODIFICA! Rulajul vechi nu va fi modificat. O noua alertare va veni dupa luna curenta + inca 1 luna din acest moment. Rulajul va avea semnul 'Nu Modifica' si nu va aparea in propunerea de Modifica Rulaj.">
            </div>

            <div class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black; width: 110px; text-align: right;">Alt Rulaj:</label>
                <dx-number-box [(ngModel)]="selectedSolveTurnverOtherTurnover" [width]="150">
                </dx-number-box> &nbsp;
                <div *ngIf="selectedSolveTurnverOtherTurnover || selectedSolveTurnverOtherTurnover === 0">
                    <img src="../../assets/img/modify-manual-turnover-icon.png" (click)="onCheckSolveTurnoverClick('other')" class="solve-turnover-icon">
                </div>
            </div>

            <div *ngIf="selectedAlertTurnover" class="d-flex align-items-center">
                <label class="mb-0 mr-2" style="color: black; width: 110px; text-align: right;">Alertare:</label>
                <dx-text-box [(ngModel)]="selectedAlertTurnover" [width]="150" [disabled]="true">
                </dx-text-box> &nbsp;
            </div>
        </div>
    </dx-validation-group>
 
</dx-popup>