<div *ngIf="itemAutomation">
    <div class="container">
        <div class="row">
            <div class="col-2 mb-1">
                <label>{{'item.itemAutomation.offer' | translate}}:</label>
            </div>
            <div class="col-2">
                <div class="text-right">
                    <label style="color: black">{{'item.itemAutomation.intern' | translate}}</label>
                    <dx-check-box [(value)]="itemAutomation.intern"></dx-check-box>
                </div>
            </div>
            <div class="col-2">
                <div class="text-right">
                    <label style="color: black">{{'item.itemAutomation.intracommunity' | translate}}</label>
                    <dx-check-box [(value)]="itemAutomation.intraCommunity"></dx-check-box>
                </div>
            </div>
            <div class="col-2">
                <div class="text-right">
                    <label style="color: black">{{'item.itemAutomation.external' | translate}}</label>
                    <dx-check-box [(value)]="itemAutomation.external"></dx-check-box>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label style="color: black">{{'item.itemAutomation.autorizationClient' | translate}}</label>
                <dx-check-box [(value)]="itemAutomation.authorizationClient"></dx-check-box>
            </div>
            <div class="col-2">
                <div class="text-right">
                    <label style="color: black">{{'item.itemAutomation.ansvsa' | translate}}</label>
                    <dx-check-box [(value)]="itemAutomation.ansvsa"></dx-check-box>
                </div>
            </div>
            <div class="col-2">
                <div class="text-right">
                    <label style="color: black">{{'item.itemAutomation.humanFarmacy' | translate}}</label>
                    <dx-check-box [(value)]="itemAutomation.humanFarmacy"></dx-check-box>
                </div>
            </div>
            <div class="col-2">
                <div class="text-right">
                    <label style="color: black">{{'item.itemAutomation.extractionCode' | translate}}</label>
                    <dx-check-box [(value)]="itemAutomation.extractionCode"></dx-check-box>
                </div>
            </div>
        </div>
    </div>
</div>