.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }
  
.updateLastYearsButton {
  color: white;
  background-color: red;
}

.creditIncreaseRequest {
  background-color: red;
  padding: 7px 18px 8px;
  text-decoration: none;
}

.creditIncreaseRequest-text {
  color: white;
}

.buttons-wrapper {
  display: flex;
  gap: 0.7rem;
}

.label-tooltip {
  text-align: left;
  font-size: 16px;
}

.supplier-accepted-state-icon-img {
  max-width: 35px;
  object-fit: contain;
  cursor: pointer;
}

.supplier-accepted-popup-content {
  text-align: center;
  padding: 20px;
}

.supplier-accepted-popup-text {
  font-size: 17px;
  color: #555;
  margin-bottom: 20px;
}

.supplier-accepted-icon-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.supplier-accepted-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 40px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
}

.supplier-accepted-state-icon-img-popup {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  object-fit: contain;
  max-width: 60px;
}

.supplier-accepted-state-name {
  font-size: 20px;
  color: #333;
  margin-top: 5px;
  font-weight: bold;
}