<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
   <div class="container-fluid" [ngClass]="{'maxWidth':  displayData}">
      <div class="card card-plain">
         <app-title [title]="'Raport Magazii ENGROS'"></app-title>
         <div class="modal-body">
            <dx-validation-group #validationGroup>
               <div class="form-group row">
                  <div id="monthDDTooltipTarget" class="col-1 dx-field-label text-md-right">Destocaj-D &rarr; B:</div> 
                  <div class="col-md-1 col-lg-1">
                     <dx-number-box [(ngModel)]="wholesaleStoreManagementFilter.mainManagementDestorageMonths"
                        [showSpinButtons]="true" format="#0" [showClearButton]="true">
                        <dx-validator>
                           <dxi-validation-rule type="required" message="{{'required' | translate}}">
                           </dxi-validation-rule>
                        </dx-validator>
                     </dx-number-box>
                  </div>
                  <div id="monthDTooltipTarget" class="col-1 dx-field-label text-md-right">Stocaj-B &rarr; D:</div>
                  <div class="col-md-1 col-lg-1">
                     <dx-number-box [(ngModel)]="wholesaleStoreManagementFilter.mainManagementStorageMonths"
                        [showSpinButtons]="true" format="#0" [showClearButton]="true">
                        <dx-validator>
                           <dxi-validation-rule type="required" message="{{'required' | translate}}">
                           </dxi-validation-rule>
                        </dx-validator>
                     </dx-number-box>
                  </div>
                  <div class="col-1 dx-field-label text-md-right">Inaltime palet(m):</div>
                  <div class="col-md-1 col-lg-1">
                     <dx-number-box [(ngModel)]="wholesaleStoreManagementFilter.palletHeight" [showSpinButtons]="true" (onValueChanged)="onPalletHeightChanged($event)"
                        [showClearButton]="true">
                        <dx-validator>
                           <dxi-validation-rule type="required" message="{{'required' | translate}}">
                           </dxi-validation-rule>
                        </dx-validator>
                     </dx-number-box>
                  </div>
                  <div id="volumeTooltipTarget" class="col-1 dx-field-label text-md-right" >Volum palet(mc):</div>
                  <div id="volumeTooltipTarget" class="col-md-1 col-lg-1">
                     <dx-number-box [(ngModel)]="wholesaleStoreManagementFilter.palletVolume" [showSpinButtons]="true"
                        [showClearButton]="true">
                        <dx-validator>
                           <dxi-validation-rule type="required" message="{{'required' | translate}}">
                           </dxi-validation-rule>
                        </dx-validator>
                     </dx-number-box>
                  </div>
                  <div id="showJustTransfersId" class="col-1 dx-field-label text-md-right">Transferuri Propuse:</div>
                  <div id="showJustTransfersId" class="col-md-1 col-lg-1">
                     <dx-check-box  [(ngModel)]="showJustTransfers"></dx-check-box>
                  </div>
               </div>
            </dx-validation-group>

            <hr>
            <div class="form-group row">
               <dx-button type="warning" text="{{'search' | translate}}" (onClick)="getDataByFilter()">
               </dx-button>
               &nbsp; &nbsp; &nbsp;
               <dx-button text="Resetare filtru" (onClick)="resetFilters()">
               </dx-button>
               &nbsp; &nbsp; &nbsp;
               <dx-button text="Corecteaza rulaj" (onClick)="updateTurnover()">
               </dx-button>
               &nbsp; &nbsp; &nbsp;
               <dx-button text="Genereaza note de transfer" (onClick)="generateNT()">
               </dx-button>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
               <div class="mt-4">
                  <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
                     [fileName]="'wholesaleStoreManagements'" [showPrint]="true" (addEvent)="add()"
                     (displayEvent)="displayDataEvent($event)" (refreshEvent)="refreshDataGrid()"
                     (deleteEvent)="deleteRecords($event)" [showSpecialButton]="true"
                     [specialButtonText]="'Exporta Date'" [specialButtonDescription]="'Exporta Date'"
                     [specialButtonIcon]="'fa fa-download'" (specialEvent)="exportDataEvent()" [showInfo]="true"
                     [infoText]="infoButton">
                  </app-grid-toolbar>
                  <div class="float-none" style="clear: both;"></div>
               </div>
               <div class="mt-4"></div>
               <dx-data-grid id="gridContainer" #dataGrid [dataSource]="wholesaleStoreManagementsDS"
                  [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                  (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"
                  (onRowUpdated)="onRowUpdated($event)" (onCellPrepared)="onCellPrepared($event)">
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-filter-panel [visible]="true">
                  </dxo-filter-panel>
                  <dxo-header-filter [visible]="true">
                  </dxo-header-filter>
                  <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                  <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                  <dxo-load-panel [enabled]="true"></dxo-load-panel>
                  <dxo-sorting mode="multiple"></dxo-sorting>

                  <dxo-paging [pageSize]="15"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 20, 30]"></dxo-pager>
                  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                  <dxo-editing mode="cell" [allowUpdating]="true">
                  </dxo-editing>

                  <dxi-column dataField="itemCode" [allowEditing]="false" caption="Cod" dataType="string"
                     alignment="left"></dxi-column>
                  <dxi-column dataField="itemName" [allowEditing]="false" caption="Nume" dataType="string" [width]="330" [minWidth]="330"
                     alignment="left"></dxi-column> 
                  <dxi-column dataField="itemVolume" [allowEditing]="false" caption="Volum(mc)"
                     cellTemplate="itemVolumeTemplate" dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="itemGrossWeight" [allowEditing]="false" caption="Greutate(kg)"
                     cellTemplate="itemGrossWeightTemplate" dataType="number" alignment="right"></dxi-column>

                     <dxi-column dataField="cartonQuantity" [allowEditing]="false" caption="Bax" cellTemplate="cartonQuantityTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="cartonLength" [allowEditing]="false" caption="L x W x H(cm)" [width]="70" [minWidth]="140" cellTemplate="cartonLengthTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="cartonLayers" [allowEditing]="false" caption="Cart pe Strat Palet" cellTemplate="cartonLayersTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="nrOfLayers" [allowEditing]="false" caption="Straturi" [width]="70" [minWidth]="70" cellTemplate="nrOfLayersTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="layerOptimized" [allowEditing]="false" caption="Optimizat Strat" [width]="70" [minWidth]="70" cellTemplate="layerOptimizedTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="quantityPerPallet" [allowEditing]="false" caption="Cantitate pe Palet" cellTemplate="quantityPerPalletTemplate" 
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="itemPalletGrossWeight" [allowEditing]="false" caption="Greutate Palet(max 700kg)" 
                     cellTemplate="itemPalletGrossWeightTemplate" dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="mainManagementCurrentStock" [allowEditing]="false" caption="Stoc Dragan" cellTemplate="mainManagementCurrentStockTemplate"  
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="secondaryManagementCurrentStock" [allowEditing]="false" caption="Stoc Basarabiei" cellTemplate="secondaryManagementCurrentStockTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="mainManagementStockSufficiencyAtTurnoverRate" [allowEditing]="false"
                     caption="Suficient la R-D(luni)" cellTemplate="mainManagementStockSufficiencyAtTurnoverRateTemplate"
                     dataType="number" alignment="right"></dxi-column>

                     <dxi-column dataField="proposedDB" [allowEditing]="false" caption="Propus D&rarr;B Bucati(paleti)" cellTemplate="proposedDBTemplate" 
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="btndb" [allowEditing]="false" [width]="30" [minWidth]="30" caption="" cellTemplate="sendDBDataTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="decidedDB" [allowEditing]="true" caption="Decis D&rarr;B Transfer"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="decidedBD" [allowEditing]="true" caption="Decis B&rarr;D Transfer"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="btndb" [allowEditing]="false" [width]="30" [minWidth]="30" caption="" cellTemplate="sendBDDataTemplate"
                     dataType="number" alignment="right"></dxi-column>
                     <dxi-column dataField="proposedBD" [allowEditing]="false" caption="Propus B&rarr;D Bucati(paleti)" cellTemplate="proposedBDTemplate" 
                     dataType="number" alignment="right"></dxi-column>


                     <dxi-column dataField="secondaryManagementStockSufficiencyAtTurnoverRate" [allowEditing]="false"
                     caption="Suficient la R-B(luni)" cellTemplate="secondaryManagementStockSufficiencyAtTurnoverRateTemplate"
                     dataType="number" alignment="right"></dxi-column>         
                     <dxi-column dataField="itemTurnover" [allowEditing]="false" caption="Rulaj"
                     cellTemplate="itemTurnoverTemplate" dataType="number" alignment="right"></dxi-column>
                    <dxi-column dataField="itemTurnover3Months" [allowEditing]="false" caption="R3 /6 /9 /12" [width]="180" [minWidth]="180"
                     cellTemplate="itemTurnover3MonthsTemplate" dataType="number" alignment="right"></dxi-column>
                    <dxi-column dataField="mainManagementPalletsNumber" [allowEditing]="false" caption="D > B (paleti)"  cellTemplate="mainManagementPalletsNumberTemplate" dataType="number"
                     alignment="right"></dxi-column>
                    <dxi-column dataField="secondaryManagementPalletsNumber" [allowEditing]="false" caption="D < B (paleti)" cellTemplate="secondaryManagementPalletsNumberTemplate" dataType="number" 
                     alignment="right"></dxi-column>


                 
                  <dxi-column dataField="itemTurnoversPercentage" [allowEditing]="false" caption="R???" [visible]="false"
                     cellTemplate="itemTurnoversPercentageTemplate" dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="calculatedTurnover" [allowEditing]="true" caption="Rulaj Calcul" [visible]="false"
                     dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="destorageEnGrosPallets" [allowEditing]="false" caption="Destocaj ENGROS paleti" [visible]="false"
                     cellTemplate="destorageEnGrosPalletsTemplate" dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="orderUnstorage" [allowEditing]="true" caption="Destocaj Comanda" [visible]="false"
                     dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="storagePickingPallets" [allowEditing]="false" caption="Stocaj PICKING paleti" [visible]="false"
                     cellTemplate="storagePickingPalletsTemplate" dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="orderStorage" [allowEditing]="true" caption="Stocaj Comanda" dataType="number" [visible]="false"
                     alignment="right"></dxi-column>
                  <dxi-column dataField="itemAcquisitionPeriodDays" [allowEditing]="false" caption="PA (zile)" [visible]="false"
                     cellTemplate="itemAcquisitionPeriodDaysTemplate" dataType="number" alignment="right"></dxi-column>
                  <dxi-column dataField="description" [allowEditing]="true" caption="Observatii instructiuni" [visible]="false"
                     dataType="string" alignment="right"></dxi-column>



                  <div *dxTemplate="let data of 'itemPalletGrossWeightTemplate'">
                     {{itemPalletGrossWeightExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'itemAcquisitionPeriodDaysTemplate'">
                     {{itemAcquisitionPeriodDaysExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'storagePickingPalletsTemplate'">
                     {{storagePickingPalletsExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'destorageEnGrosPalletsTemplate'">
                     {{destorageEnGrosPalletsExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'itemTurnoversPercentageTemplate'">
                     {{itemTurnoversPercentageExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'itemTurnover3MonthsTemplate'">
                     {{itemTurnover3MonthsExpr(data.data)}}
                  </div>


                  <div *dxTemplate="let data of 'cartonQuantityTemplate'">
                     {{cartonQuantityTemplateExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'cartonLengthTemplate'">
                     {{cartonLengthTemplateExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'cartonLayersTemplate'">
                     {{cartonLayersTemplateExpr(data.data)}}
                  </div>


                  <div *dxTemplate="let data of 'nrOfLayersTemplate'">
                     {{nrOfLayersTemplateExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'layerOptimizedTemplate'">
                     {{layerOptimizedTemplateExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'quantityPerPalletTemplate'">
                     {{quantityPerPalletTemplateExpr(data.data)}}
                  </div>

                  <div *dxTemplate="let data of 'proposedDBTemplate'">
                     {{proposedDBExpr(data.data)}}
                  </div>

                  <div *dxTemplate="let data of 'proposedBDTemplate'">
                     {{proposedBDExpr(data.data)}}
                  </div>
                  
                  <div *dxTemplate="let data of 'sendDBDataTemplate'">
                       <i class="fa fa-arrow-right fa-2x" 
                       href="javascript:void(0)"
                       title="Actualizeaza in Dreapta" (click)="sendDBData(data.data)"></i>
                  </div>
                  <div *dxTemplate="let data of 'sendBDDataTemplate'">
                     <i class="fa fa-arrow-left fa-2x" 
                     href="javascript:void(0)"
                     title="Actualizeaza in Stanga" (click)="sendBDData(data.data)"></i>
                  </div>


                  <div *dxTemplate="let data of 'itemTurnoverTemplate'">
                     <div [ngStyle]="{'background-color': data.data.isTurnoverToBeFixed ? '#fad4be' : null }">
                     <b *ngIf="data.data.isTurnoverToBeFixed" (click)="onTurnoverFixClick(data.data)">m</b>
                     {{itemTurnoverExpr(data.data)}}</div>
                  </div>


                  <div *dxTemplate="let data of 'secondaryManagementStockSufficiencyAtTurnoverRateTemplate'">
                     {{secondaryManagementStockSufficiencyAtTurnoverRateExpr(data.data)}}
                  </div>
           
                  <div *dxTemplate="let data of 'secondaryManagementCurrentStockTemplate'">
                     {{secondaryManagementCurrentStockExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'mainManagementCurrentStockTemplate'">
                     {{mainManagementCurrentStockExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'mainManagementStockSufficiencyAtTurnoverRateTemplate'">
                     {{mainManagementStockSufficiencyAtTurnoverRateExpr(data.data)}}
                  </div>



                  <div *dxTemplate="let data of 'mainManagementPalletsNumberTemplate'">
                     {{mainManagementPalletsNumberExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'secondaryManagementPalletsNumberTemplate'">
                     {{secondaryManagementPalletsNumberExpr(data.data)}}
                  </div>




                  <div *dxTemplate="let data of 'itemGrossWeightTemplate'">
                     {{itemGrossWeightExpr(data.data)}}
                  </div>
                  <div *dxTemplate="let data of 'itemVolumeTemplate'">
                     {{itemVolumeExpr(data.data)}}
                  </div>

               </dx-data-grid>
               <br>
            </div>
         </div>
      </div>
   </div>


    <dx-tooltip target="#volumeTooltipTarget" showEvent="dxhoverstart" hideEvent="dxhoverend">
      <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
         Palet tip EUR = 0.80m X 1.20m X Inaltime palet(m) - Calculeaza automat Inaltime Palet(m) x 1.20m x 0.80m
      </div>
  </dx-tooltip>

    <dx-tooltip target="#showJustTransfersId" showEvent="dxhoverstart" hideEvent="dxhoverend">
       <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
         Elimina Produsele care nu necesita un Transfer
       </div>
    </dx-tooltip>

  <dx-tooltip target="#monthDTooltipTarget" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
      Pentru cate luni aduc marfa in depozitul Dragan (din Basarabiei) luan in calcul si stocul curent, cu vanzarile la Rulaj
   </div>
</dx-tooltip>

<dx-tooltip target="#monthDDTooltipTarget" showEvent="dxhoverstart" hideEvent="dxhoverend">
   <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
     Pentru cate luni tin stoc in depozit Dragan, urmand ca surplusul sa il duc in Basarabiei, cu vanzarile la Rulaj
   </div>
</dx-tooltip>

</div>

<dx-popup [width]="600" [height]="400" [showTitle]="true" [resizeEnabled]="true" title="Exporta datele selectate"
   [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="popupVisible">
   <dx-scroll-view width="100%" height="100%">
      <div class="form-group row">
         <div class="col-4 dx-field-label text-md-right">Tip Fisier:</div>
         <div class="col-md-8 col-lg-8">
            <dx-select-box [dataSource]="exportTypes" displayExpr="text" valueExpr="id" [searchEnabled]="true"
               [(ngModel)]="selectedExportType">
            </dx-select-box>
         </div>
      </div>

      <hr>
      <div class="form-group row">
         <div class="col-4 dx-field-label text-md-right">Filtreaza optional:</div>
         <div class="col-md-8 col-lg-8">
            <dx-select-box [dataSource]="orderType" displayExpr="text" valueExpr="id" [(ngModel)]="selectedOrderType" [searchEnabled]="true">
            </dx-select-box>

            <dx-select-box [dataSource]="orderByColumn" displayExpr="text" valueExpr="id"
               [(ngModel)]="selectedOrderColumn" [searchEnabled]="true">
            </dx-select-box>
         </div>
      </div>

      <hr>
      <dx-button text="Exporta" [disabled]="!selectedExportType" (onClick)="exportData()">
      </dx-button>
      &nbsp;
      <dx-button text="Cancel" (onClick)="cancelExport()">
      </dx-button>
   </dx-scroll-view>
</dx-popup>

