.fa-pencil, .fa-clone, .fa-ban , .fa-plus, .fa-undo, .fa-arrow-right, .fa-arrow-up, .fa-arrow-down, .fa-arrow-left {
  color: rgb(196, 0, 0);
}
  
  .maxWidth {
    width: 200%;
  }

  .dx-button.dx-button-warning {
    background-color: #ffe596;
  }