<div>
    <div class="form-group row" *ngIf="partners && partners.store && !hideTable && isClient">
        <div class="col-md-12 col-lg-12">
            <div class="form-group row">
                <b>Client</b>
            </div>        
        </div>
    </div>
    
    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isClient" class="form-group row">
        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="yearlyTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedClientYearlyTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'VALORIC - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
    </div>

    <hr>

    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isClient" class="form-group row">
        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="numericTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedClientNumericTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'NUMERIC(PRODUSE) - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total DISTINCTE'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
    </div>
</div>

 <div>
    <div class="form-group row" *ngIf="partners && partners.store && !hideTable && isSupplier">
        <div class="col-md-12 col-lg-12">
            <div class="form-group row">
                <b>Furnizor</b>
            </div>        
        </div>
    </div>
    
    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isSupplier" class="form-group row">
        <dx-data-grid id="supplierYearlyTurnOversGridContainer" #supplierYearlyTurnOversDataGrid [dataSource]="supplierYearlyTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedSupplierYearlyTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'VALORIC - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
    </div>

    <hr>

    <div class="d-flex align-items-center" *ngIf="partners && partners.store && !hideTable && isSupplier" class="form-group row">
        <dx-data-grid id="supplierNumericTurnOversGridContainer" #supplierNumericTurnOversDataGrid [dataSource]="supplierNumericTurnOvers" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" [allowColumnResizing]="true" (onRowPrepared)="onRowPreparedSupplierNumericTurnovers($event)">
            <dxo-sorting mode="multiple"></dxo-sorting>
    
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    
            <dxi-column dataField="year" [caption]="'NUMERIC(PRODUSE) - An'" dataType="string" alignment="right" [minWidth]="70"
            [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l1" [caption]="'Ianuarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l2" [caption]="'Februarie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l3" [caption]="'Martie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l4" [caption]="'Aprilie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l5" [caption]="'Mai'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l6" [caption]="'Iunie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l7" [caption]="'Iulie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l8" [caption]="'August'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l9" [caption]="'Septembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l10" [caption]="'Octombrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l11" [caption]="'Noiembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
            <dxi-column dataField="l12" [caption]="'Decembrie'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false">
            </dxi-column>
      
            <dxi-column dataField="total" [caption]="'Total DISTINCTE'" dataType="string" alignment="right" [minWidth]="70"
                [allowEditing]="false"></dxi-column>
        </dx-data-grid>
    </div>
</div>