body .custom-item {
    padding-left: 7px;
    padding-right: 7px;
}
::ng-deep .custom-item > img {
    height: 30px;
    width: 40px;
    float: left;
    margin-top: 2px;
}
::ng-deep .custom-item > div.product-name {
    margin-left: 40px;
    line-height: 34px;
    font-size: 14px;
}

body .custom-item input {
    background-color: transparent;
}

body .dx-popup-content .custom-item {
    padding-top: 7px;
    padding-bottom: 8px;
}
::ng-deep .dx-popup-content .custom-item > div {
    padding-left: 8px;
    text-indent: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
}

div.inline { float:left; }

.row > .col,
.row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
}

.items-turnovers-img {
    max-width: 40px;
    object-fit: contain;
}

::ng-deep #chart {
    height: 500px;
    width: 650px;
}

.label-tooltip {
    text-align: left;
    font-size: 16px;
}

.fa-refresh {
    color: rgb(58, 195, 113); 
    font-size: 22px; 
    padding: 6px 7px;
    background-color: rgba(58, 195, 113, 0.1);
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-close {
    color: rgb(196, 0, 0);
    font-size: 22px;
    padding: 6px 7px;
    background-color: rgba(196, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-refresh:hover {
    background-color: rgb(58, 195, 113);
    color: white;
}

.fa-close:hover {
    background-color: rgb(196, 0, 0);
    color: white;
}