<div class="modal-body">
    <dx-validation-group #validationSearchGroup>
        <div class="form-group row mb-2">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-auto dx-field-label text-md-right">Produs grupat:</div>
                    <div class="col-2">
                        <dx-tag-box [dataSource]="itemGroupsDS" [(ngModel)]="itemSearchFilter.itemGroupIds" valueExpr="id"
                            [displayExpr]="getDisplayExprItemGroup" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" 
                            [dropDownOptions]="{ minWidth: '650' }" (onValueChanged)="onMultiTagItemGroupChange($event)">
                        </dx-tag-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right">Cod:</div>
                    <div class="col-auto">
                        <dx-text-box [(ngModel)]="itemSearchFilter.code" [maxLength]="75"></dx-text-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right">Denumire(RO):</div>
                    <div class="col-3">
                        <dx-text-box [(ngModel)]="itemSearchFilter.nameRO" [maxLength]="75"></dx-text-box>
                    </div>
        
                    <div class="col-auto dx-field-label text-md-right">Valid:</div>
                    <div class="col-auto">
                        <dx-check-box [(ngModel)]="itemSearchFilter.isValid"></dx-check-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Activ:</div>
                    <div class="col-auto">
                        <dx-check-box  [(ngModel)]="itemSearchFilter.isActive"></dx-check-box>
                    </div>

                    <div class="col-2">
                        <img [src]="'./assets/img/bar-chart-icon.png'" class="items-turnovers-img" id="itemsTurnovers"
                            (mouseenter)="getItemsTurnoversTooltip()" (mouseleave)="hideItemsTurnoversTooltip()">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-auto dx-field-label text-md-right">Tip Produs:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="itemTypes" [(ngModel)]="itemSearchFilter.itemTypeIds" valueExpr="id"
                            [displayExpr]="getDisplayExprItemType" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '250' }"
                            (onValueChanged)="onMultiTagItemTypeChange($event)">
                        </dx-tag-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Specializari:</div>
                    <div class="col-2">
                        <dx-tag-box [dataSource]="caenSpecializationsDS" [(ngModel)]="itemSearchFilter.caenSpecializationIds"
                            valueExpr="id" [displayExpr]="getDisplayExprSpec" [maxDisplayedTags]="2"
                            [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="useButtons"
                            [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                            (onValueChanged)="onMultiTagSpecChange($event)" [dropDownOptions]="{ minWidth: '250' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Furnizor:</div>
                    <div class="col-2">
                        <dx-tag-box [dataSource]="suppliers" [(ngModel)]="itemSearchFilter.supplierIds" valueExpr="id"
                            [displayExpr]="getDisplayExprSuppliers" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                            (onValueChanged)="onMultiTagSuppliersChange($event)">
                        </dx-tag-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Fara:</div>
                    <div class="col-auto">
                        <dx-radio-group
                            [dataSource]="itemsTurnovers" layout="horizontal" rtlEnabled="true"
                            displayExpr="label" valueExpr="value" [(ngModel)]="itemSearchFilter.itemTurnover">
                        </dx-radio-group>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-auto dx-field-label text-md-right">Cod Vamal:</div>
                    <div class="col-2">
                        <dx-tag-box [dataSource]="customCodesDS" [(ngModel)]="itemSearchFilter.customCodeIds" valueExpr="id"
                            [displayExpr]="getDisplayExpCustomCode" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true" [hideSelectedItems]="false"
                            [selectAllMode]="'allPages'" (onValueChanged)="onMultiTagCustomCodeChange($event)" [dropDownOptions]="{ minWidth: '350' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Cod de bare:</div>
                    <div class="col-1">
                        <dx-number-box [(ngModel)]="itemSearchFilter.barCodeText" [max]="9999999999999">
                        </dx-number-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Introdus In:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="sites" [(ngModel)]="itemSearchFilter.siteIds" valueExpr="id"
                            displayExpr="name" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                            (onValueChanged)="onMultiTagSitesChange($event)">
                        </dx-tag-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Etichete:</div>
                    <div class="col-1">
                        <dx-tag-box
                            [dataSource]="tags"
                            valueExpr="id"
                            displayExpr="name"
                            [(ngModel)]="itemSearchFilter.tagIds"
                            itemTemplate="customItem"
                            tagTemplate="tagTemplate"
                            [dropDownOptions]="{ minWidth: '250' }">

                            <div *dxTemplate="let data of 'tagTemplate'">
                                <div class="custom-item">
                                    <div class='box' [ngStyle]="{'background-color':  data.code}"></div> 
                                </div>
                            </div>

                            <div *dxTemplate="let product of 'customItem'">
                                <div class="custom-item">
                                    <div class='box inline' [ngStyle]="{'background-color':  product.code}"></div> 
                                    <div class='inline'> - {{product.name}}</div>
                                </div>
                            </div>
                        </dx-tag-box>
                    </div>

                    <div class="col-auto dx-field-label text-md-right">Propus de:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="supplyAndSalesPosts" [(ngModel)]="itemSearchFilter.proposedByIds" valueExpr="id"
                            [displayExpr]="getDisplayExprSupplyAndSalesPosts" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '300' }"
                            (onValueChanged)="onMultiTagSupplyAndSalesPostsChange($event)">
                        </dx-tag-box>
                    </div>
                    <div class="col-auto dx-field-label text-md-right">Agent Aprovizionare:</div>
                    <div class="col-1">
                        <dx-tag-box [dataSource]="supplyAgents" [(ngModel)]="itemSearchFilter.supplierAgentIds" valueExpr="id"
                            [displayExpr]="getDisplayExprSupplyAgents" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '300' }"
                            (onValueChanged)="onMultiTagSupplyAgentsChange($event)">
                        </dx-tag-box>
                    </div>
                </div>
            </div>
        </div>
    </dx-validation-group>

    <hr>
    <div class="form-group row">
        <i class="fa fa-refresh" style="cursor: pointer;" (click)="searchItems()" title="Lanseaza cautarea inregistrarilor ce corespund criteriilor specificate. (F5)"></i>
        &nbsp; &nbsp;
        <i class="fa fa-close" style="cursor: pointer;" (click)="resetFilters()" title="Sterge criteriile specificate. (Delete)"></i>
    </div>
</div>

<dx-tooltip 
    target="#itemsTurnovers"
    [visible]="isItemsTurnoversTooltipVisible"
    (onHiding)="onHidingItemsTurnoversTooltip($event)"
>
    <div *dxTemplate="let data of 'content'" class="label-tooltip" position="top">
        <div *ngIf="itemsTurnoversTooltipLoaded">
            Se incarca...
        </div>

        <div *ngIf="!itemsTurnoversTooltipLoaded">
            <dx-chart id="chart" [dataSource]="itemsTurnoversCountData" palette="soft" [customizeLabel]="customizeLabel"
            (onPointClick)="onBarClick($event)">
                <dxo-title text="Produse fara Rulaj"></dxo-title>
                <dxo-common-series-settings
                  argumentField="intervalName"
                  type="bar"
                  valueField="itemsCount"
                  [ignoreEmptyPoints]="true"
                >
                </dxo-common-series-settings>
                <dxo-series-template nameField="intervalName"></dxo-series-template>   
                <dxi-value-axis>
                    <dxo-label [customizeText]="customizeText"></dxo-label>
                </dxi-value-axis>
            </dx-chart>
        </div>
    </div>
</dx-tooltip>