<div *ngIf="title" class="card-header d-flex justify-content-between" [ngClass]="themeColor">
  <h5 class="card-title">{{breadcrumb}}</h5>

  <div style="display: flex;align-items: center; gap: 1rem; height: 30px">
      <div class="info-circle" [id]="infoId" (mouseenter)="toggleTemplate()" (mouseleave)="toggleTemplate()" data-toggle="tooltip" (click)="infoClick()">
          <i class="fa fa-info"></i>
        </div>

      <form class="navbar-form" style="background-color: white" title="Cauta ecrane in intreaga aplicatie dupa cuvinte cheie">
          <div class="search-container">
              <div class="input-group no-border">
                  <input type="text" [(ngModel)]="searchValue" [ngModelOptions]="{ standalone: true }" class="form-control"
                      placeholder="Cauta..." (input)="onInputChange()">
              
                  <div>
                      <i (click)="searchRoute()" class="fa fa-search"></i>
                  </div>
              </div>
      
              <div *ngIf="dropdownVisible && datasource.length > 0" class="search-dropdown">
                  <ul>
                      <li *ngFor="let item of datasource" (click)="onSelectItem(item)">
                          {{ item.displayValue }}
                      </li>
                  </ul>
              </div>
          </div>
      </form>

      <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link" href="javascript:void(0)" id="dashbord" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'backToSSO' | translate}}">
                  <i class="material-icons reply-all" (click)="goToSSO()">reply_all</i>
              </a>
            </li>

          <li class="nav-item">
              <a class="nav-link" [href]="emergencySituationsUrl" target="_blank" id="emergencySituations" title="{{'emergencySituations' | translate}}">
                  <button class="btn btn-danger .btn-lg" style="padding-top: 3px; padding-bottom: 7px; padding-left: 15px; padding-right: 15px;">
                      <span class="fa fa-exclamation-triangle"></span>
                  </button>
              </a>
          </li>

          <li *ngIf="currentUser" class="notification-container">
              <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink"
                  title="{{ 'notification' | translate }}" (click)="toggleShowNotifications()"
              >
                  <i class="material-icons notification">notifications</i>
                  <span *ngIf="notifications.length > 0" class="notification-badge">
                  {{ notifications.length }}
                  </span>
              </a>
              
              <div class="dropdown-menu notification-dropdown" [ngClass]="{ show: shouldShowNotifications }">
                  <div *ngIf="notifications.length === 0" class="dropdown-item no-notifications">
                  - no notification -
                  </div>
                  <div *ngFor="let notification of notifications" class="dropdown-item">
                  {{ notification }}
                  </div>
              </div>
          </li>
          
          <li class="lang-container">
              <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuSecondLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'language' | translate}}">
                  <img src="../../assets/img/romania-flag.png" (click)="toggleShow()" class="language-icon" *ngIf="selectedLan === 'Romana'">
                  <img src="../../assets/img/great-britain-flag.png" (click)="toggleShow()" class="language-icon" *ngIf="selectedLan === 'English' || selectedLan === 'Engleza'">
                  <p>
                  <span class="d-lg-none d-md-block">{{selectedLan}}</span>
              </p>
              </a>
              <div class="dropdown-menu lang-dropdown" [ngClass]="{'show':  shouldShow}" aria-labelledby="navbarDropdownMenuSecondLink">
              <ng-container *ngFor="let lang of languages">
                  <a class="dropdown-item" href="javascript:void(0)" (click)="selectCulture(lang)">
                      {{lang.name | translate}}</a>
              </ng-container>
              </div>
          </li>

        <li class="lang-container">
            <img src="../../../assets/img/weather_icon.png"  class="language-icon" (click)="showWeather()" title="Prognoza meteo pe 14 zile">
        </li>
        <li class="lang-container" *ngIf="isAdmin">
            <img src="../../../assets/img/currency_exchange.png" class="language-icon" (click)="showCurrencyExchange()"  title="Cursuri de schimb valutar">
        </li>

          <li class="user-container" *ngIf="currentUser">
              <a class="nav-link" href="javascript:void(0)" id="navbarDropdownThirdMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'userAction' | translate}}">
                  <i class="material-icons user" (click)="toggleShowProfile()">person</i>
                  <p>
                  <span class="d-lg-none d-md-block">dasda</span>
              </p>
              </a>
              <div class="dropdown-menu user-dropdown"  [ngClass]="{'show':  shouldShowProfile}" aria-labelledby="navbarDropdownThirdMenuLink">
                  <a class="dropdown-item" [routerLink]="[ '/', 'user-profile' ]">{{'login.userProfile' | translate}}</a>
                  <a class="dropdown-item" [routerLink]="[ '/', 'changepassword' ]">{{'login.changePass' | translate}}</a>
                  <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">{{'login.logout' | translate}}</a>
              </div>
          </li>
      </ul>

      <span *ngIf="currentSite" class="navbar-brand">{{currentSite}} | 
      <span *ngIf="currentUser" class="navbar-brand">{{currentUser}}!</span> </span>
  </div>
</div>

<dx-tooltip target="#{{infoId}}" position="right" [(visible)]="templateVisible" [closeOnOutsideClick]="false">
  <div *dxTemplate="let data = data of 'content'">
    <h4><b>{{'general.info' | translate}}</b></h4> <br>
    <h5 [id]="tooltipElementId"></h5>
  </div>
</dx-tooltip>

<dx-popup *ngIf="weatherPopupVisible" [width]="'95%'" [height]="'50%'" [showTitle]="true" [resizeEnabled]="true" title="Vreme"
[dragEnabled]="true" [resizeEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="weatherPopupVisible">
        <app-weather-forecast></app-weather-forecast>
</dx-popup>

<dx-popup *ngIf="currencyPopupVisible" [width]="'98%'" [height]="'95%'" [showTitle]="true" [resizeEnabled]="true" title="Valuta"
[dragEnabled]="true" [resizeEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="currencyPopupVisible">
<dx-scroll-view width="100%">
    <div class="currency-evolution-and-bnr-robor">
        <div class="report-frame-currency-evolution-chart">
            <app-currency-evolution-chart
                [baseCurrencyId]="3"
                [rateType]="2"
                [currencyId]="1"
            ></app-currency-evolution-chart>
        </div>
    
        <div class="report-frame-currency-evolution-chart">
            <app-currency-evolution-chart
                [baseCurrencyId]="2"
                [rateType]="2"
                [currencyId]="1"
            ></app-currency-evolution-chart>
        </div>
    </div>
    
    <br /> <br />
    
    <div class="currency-evolution-and-bnr-robor">
        <div class="report-frame-currency-evolution-chart">
            <app-currency-evolution-chart
                [baseCurrencyId]="5"
                [rateType]="2"
                [currencyId]="1"
            ></app-currency-evolution-chart>
        </div>
    
        <div class="report-frame-currency-evolution-chart">
            <app-currency-evolution-chart
                [baseCurrencyId]="5"
                [rateType]="2"
                [currencyId]="3"
            ></app-currency-evolution-chart>
        </div>
    </div>
    <div class="currency-evolution-and-bnr-robor">
        <div class="frame-chart">
            <app-bnr-robor></app-bnr-robor>
        </div>
    
        <div class="frame-chart">
            <app-euribor-data></app-euribor-data>
        </div>
        <div class="frame-chart">
          
        </div>
    </div>
</dx-scroll-view>
</dx-popup>