<div class="modal-body" *ngIf="selectedItemEcommerce">

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.storeViewCode' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.store_view_code" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.productType' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.product_type" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.productWebsite' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.product_website" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.isInStock' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedItemEcommerce.is_in_stock" [ngModelOptions]="{standalone: true}">
            </dx-check-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.visibility' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedItemEcommerce.visibility" [ngModelOptions]="{standalone: true}">
            </dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.websiteId' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.website_id" [maxLength]="75">
            </dx-text-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.attributeSetCode' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.attribute_set_code" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.manageStock' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.manage_stock" [maxLength]="75">
            </dx-text-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.relatedSkus' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.related_skus"></dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.crosssellSkus' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.crosssell_skus" [maxLength]="75">
            </dx-text-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.upsellSkus' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.upsell_skus" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.configurableVariations' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.configurable_variations" [maxLength]="75">
            </dx-text-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.configurableVariationLabels' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.configurable_variation_labels"></dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.eshopPrice' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-number-box [(ngModel)]="selectedItemEcommerce.eshop_price">
            </dx-number-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.lastPriceUpdate' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedItemEcommerce.last_price_update" [ngModelOptions]="{standalone: true}" type="datetime">
            </dx-date-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.specialPriceFromDate' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedItemEcommerce.special_price_from_date" [ngModelOptions]="{standalone: true}" type="datetime">
            </dx-date-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.specialPriceToDate' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedItemEcommerce.special_price_to_date" [ngModelOptions]="{standalone: true}" type="datetime">
            </dx-date-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.metaTitle' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.meta_title" [maxLength]="75">
            </dx-text-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.metaKeywords' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.meta_keywords" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.metaDescription' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.meta_description" [maxLength]="75">
            </dx-text-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.baseImage' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.base_image"></dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.smallImage' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.small_image" [maxLength]="75">
            </dx-text-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.thumbnailImage' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemEcommerce.thumbnail_image" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.newFromDate' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedItemEcommerce.new_from_date" [ngModelOptions]="{standalone: true}" type="datetime">
            </dx-date-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">{{ 'item.eshop.newToDate' | translate }}:</div>
        <div class="col-md-2 col-lg-2">
            <dx-date-box [(ngModel)]="selectedItemEcommerce.new_to_date" [ngModelOptions]="{standalone: true}" type="datetime">
            </dx-date-box>
        </div>
    </div>
</div>