.fa-pencil, .fa-clone, .fa-ban  {
  color: rgb(196, 0, 0);
}

.items-total-number {
  margin-left: 0.4rem;
  font-weight: bold;
  font-size: 20px;
}

.item-code-cell {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  transition: color 0.3s ease;
  margin: 0;
}

.item-code-cell :hover {
  color: darkblue;
}

::ng-deep .dx-datagrid .dx-row > td {
  padding: 2px !important;
}

::ng-deep #gridContainer .dx-datagrid-headers .dx-texteditor-input {
  padding-bottom: 1px;
  padding-top: 1px;
  min-height: 25px;
}
::ng-deep #gridContainer .dx-filter-menu.dx-menu .dx-menu-item .dx-menu-item-content {
  padding-bottom: 0px;
  padding-top: 0px;
}

::ng-deep #gridContainer .dx-datagrid-filter-row .dx-menu{
  margin-top: 0px;
}