<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Produse'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">
                        <br>
                        <div>
                            <app-item-search-filter [(itemGroups)]="itemGroups" [(measurementUnits)]="measurementUnits"
                                [(supplyAndSalesPosts)]="supplyAndSalesPosts" [(supplyAgents)]="supplyAgents"
                                [(itemTypes)]="itemTypes" [(sites)]="sites" [(tags)]="tags"
                                [(caenSpecializationsDS)]="caenSpecializationsDS" [(customCodesDS)]="customCodesDS"
                                (searchEvent)="searchEvent($event)"
                                (refreshEvent)="refreshEvent($event)"></app-item-search-filter>
                            <div class="mt-4" style="width: 36%; display: flex; align-items: center;">
                                <div style="width: 250px">
                                    <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                        [showExcel]="true" [fileName]="'items'" [showPrint]="true"
                                        (addEvent)="openDetails(null)" (refreshEvent)="refreshDataGrid()"
                                        (deleteEvent)="deleteRecords($event)" [showInfo]="true" [infoText]="infoButton">
                                    </app-grid-toolbar>
                                </div>
                                <div class="d-flex align-items-center ms-3 items-total-number">
                                    <div class="text-md-right me-2">Nr. Coduri Selectate: {{ items.length | number: '1.0-0' }}</div>
                                </div>
                                <div class="float-none" style="clear: both;"></div>
                            </div>
                      
                            <dx-data-grid id="gridContainer" #dataGrid [dataSource]="items"
                                [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                                (onSelectionChanged)="selectionChanged($event)"
                                (onEditorPreparing)="onEditorPreparing($event)">
                                <!-- <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection> -->
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-filter-panel [visible]="true">
                                </dxo-filter-panel>
                                <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                                <dxo-header-filter [visible]="true">
                                </dxo-header-filter>
                                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                                <dxo-sorting mode="multiple"></dxo-sorting>
                                <dxo-editing mode="form">
                                    <dxo-form>
                                        <dxi-item dataField="itemGroupId"></dxi-item>
                                        <dxi-item dataField="code"></dxi-item>
                                        <dxi-item dataField="nameRO"></dxi-item>
                                        <dxi-item dataField="nameENG"></dxi-item>
                                        <dxi-item dataField="shortNameRO"></dxi-item>
                                        <dxi-item dataField="shortNameENG"></dxi-item>
                                        <dxi-item dataField="measurementUnitId"></dxi-item>
                                        <dxi-item dataField="itemTypeId"></dxi-item>
                                        <dxi-item dataField="partnerId"></dxi-item>
                                    </dxo-form>
                                </dxo-editing>
                                <dxo-paging [pageSize]="15"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true"
                                    [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                                <dxi-column dataField="itemGroupId" caption="Cod Produs Grupat" alignment="left" [width]="150">
                                    <dxo-lookup [dataSource]="itemGroups" valueExpr="id" displayExpr="code">
                                    </dxo-lookup>
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="code" caption="Cod Produs" dataType="string" alignment="left" cellTemplate="itemCodeTemplate" [width]="150">
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="250"
                                        message="Lungimea maximă depășită!"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="nameRO" caption="Denumire produs simplu(RO)" dataType="string" alignment="left">
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="250"
                                        message="Lungimea maximă depășită!"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="nameENG" caption="Denumire produs simplu(EN)" dataType="string" alignment="left"
                                    [visible]="false">
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="250"
                                        message="Lungimea maximă depășită!"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="shortNameRO" caption="Denumire scurta ERP(RO)" dataType="string" alignment="left" 
                                    [visible]="false">
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="250"
                                        message="Lungimea maximă depășită!"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="shortNameENG" caption="Denumire scurta ERP(EN)" dataType="string" alignment="left"
                                    [visible]="false">
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="250"
                                        message="Lungimea maximă depășită!"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="lastInvoiceDate" caption="Ultima Vanzare" dataType="date" format="dd-MM-yyyy"
                                    alignment="right" [width]="150" [minWidth]="150"></dxi-column>
                                <dxi-column dataField="customCodeId" caption="Cod vamal" alignment="right" [width]="200">
                                    <dxo-lookup [dataSource]="customCodesDS" valueExpr="id" displayExpr="cnKey" alignment="right">
                                    </dxo-lookup>
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="totalStock" caption="Stoc" dataType="number"
                                    format=",###,###,##0" alignment="right" [width]="150"></dxi-column>
                                <dxi-column dataField="turnOversRs" caption="R3 / R6 / R9 / R12" dataType="string" alignment="right"
                                    [calculateSortValue]="customCallbackSort" sortOrder="desc" [width]="250"></dxi-column>
                                <!-- <dxi-column dataField="measurementUnitId" caption="UM" alignment="center">
                                <dxo-lookup [dataSource]="measurementUnits" valueExpr="id" displayExpr="code">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                            </dxi-column> -->

                                <dxi-column dataField="priceCompositionType" caption="Tip Compunere Pret" [visible]="false">
                                    <dxo-lookup [dataSource]="priceCompositionType" valueExpr="id" displayExpr="name">
                                    </dxo-lookup>
                                </dxi-column>

                                <!-- <dxi-column dataField="stateId" caption="Stare" alignment="center">
                                <dxo-lookup [dataSource]="itemStates" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column dataField="itemTypeId" caption="Tip Produs" alignment="center">
                                <dxo-lookup [dataSource]="itemTypes" valueExpr="id" displayExpr="code">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                            </dxi-column> -->
                                <dxi-column dataField="caenCodeSpecializationIds" caption="Specializari"
                                    [visible]="false" editCellTemplate="tagBoxEditor" [cellTemplate]="cellTemplate"
                                    [calculateFilterExpression]="calculateSecondFilterExpression">
                                    <dxo-lookup [dataSource]="caenSpecializationsDS" valueExpr="id"
                                        [displayExpr]="getSecondDisplayExpr">
                                    </dxo-lookup>
                                </dxi-column>
                                <!-- <dxi-column dataField="siteId" caption="Introdus In" alignment="center">
                                <dxo-lookup [dataSource]="sites" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                            </dxi-column> -->
                                <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
                                    <dx-tag-box [dataSource]="caenSpecializationsDS" [value]="cellInfo.value"
                                        valueExpr="id" [displayExpr]="getSecondDisplayExpr"
                                        [showSelectionControls]="true" [maxDisplayedTags]="10"
                                        [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                                        (onValueChanged)="cellInfo.setValue($event.value)"
                                        (onSelectionChanged)="cellInfo.component.updateDimensions()">
                                    </dx-tag-box>
                                </div>
                                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="50" [minWidth]="50"
                                    alignment="center">
                                </dxi-column>
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <!-- <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                        href="javascript:void(0)" title="Edit" (click)="openDetails(data.data)"></i>
                                    &nbsp; -->
                                    <i class="fa fa-ban fa-2x"
                                        *ngIf="canDelete(data.data.siteId)" href="javascript:void(0)" title="Stergere"
                                        (click)="deleteRow(data)"></i>
                                </div>
                                <div *dxTemplate="let data of 'itemCodeTemplate'">
                                    <p class="item-code-cell" (click)="openDetails(data.data)">{{ data.data.code }}</p>
                                </div>
                            </dx-data-grid>
                        </div>
                    </div>
                    <div [hidden]="!detailsVisibility">
                        <app-item-details #itemDetails [(selectedItem)]="selectedItem"
                            [(measurementUnits)]="measurementUnits" [(supplyAndSalesPosts)]="supplyAndSalesPosts"
                            [(itemGroups)]="itemGroups" (visible)="changeVisible()" [(itemTypes)]="itemTypes"
                            [(taxRateTypes)]="taxRateTypes" [(taxRates)]="taxRates" [(itemStates)]="itemStates"
                            [(priceCompositionType)]="priceCompositionType" [(users)]="users" [(tags)]="tags"
                            [(posts)]="posts" [(actions)]="actions" [(caenSpecializationsDS)]="caenSpecializationsDS"
                            [(customCodesDS)]="customCodesDS" [(barCodeIntervals)]="barCodeIntervals"
                            [(barCodeItemAllocations)]="barCodeItemAllocations"></app-item-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>