<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Furnizori'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">
                        <app-partner-search-filter [(posts)]="posts" [(posts)]="posts" [(partnersTypes)]="partnersTypes"
                            [(personTypes)]="personTypes" [(departments)]="departments" [(cities)]="cities"
                            [(citiesDS)]="citiesDS" [(counties)]="counties" [(countiesDS)]="countiesDS"
                            [(language)]="language" [(countries)]="countries" [(countriesDS)]="countriesDS"
                            [(clientTypes)]="clientTypes" [(supplierTypes)]="supplierTypes" [(tags)]="tags" [(caenGridDataSource)]="caenGridDataSource"
                            [(sites)]="sites" [(partnerActivity)]="partnerActivity" [(itemGroupCategories)]="itemGroupCategories" [(users)]="users"
                            [(partnerActivityAllocation)]="partnerActivityAllocation" [(itemGroupCodes)]="itemGroupCodes" [(itemGroupCodesDS)]="itemGroupCodesDS"
                            [(caenSpecializationsDS)]="caenSpecializationsDS" (searchEvent)="searchEvent($event)"
                            (refreshEvent)="refreshEvent($event)">
                        </app-partner-search-filter>
                        <div class="mt-4">
                            <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                [showExcel]="true" [fileName]="'partners'" [showPrint]="true"
                                (addEvent)="openDetails(null)" (refreshEvent)="refreshDataGrid(true)"
                                (deleteEvent)="deleteRecords($event)" [showInfo]="true" [infoText]="infoButton" [showSecondSpecialButton]="true" [secondSpecialButtonText]="'Duplicate'"
                                [secondSpecialButtonDescription]="'Cauta parteneri duplicati dupa codul fiscal. Si PROPUNE spre inactivare pe baza daca nu este trimis la ERP, nu are documente, nu are comentarii/observatii sau care indepliniste cele mai putine din conditii'" [secondSpecialButtonIcon]="'fa fa-copy'"
                                (secondSpecialEvent)="showDuplicates()">
                            </app-grid-toolbar>
                            <div class="float-none" style="clear: both;"></div>
                        </div>
                        <div class="mt-4"></div>

                        <dx-button type="danger" *ngIf="showDuplicatesValue" text="Inactiveaza SELECTATE de pe pagina" (onClick)="invalidateSelectedDuplicates()">
                        </dx-button>

                        <dx-data-grid [hidden]="showDuplicatesValue" id="gridContainer" #dataGrid [dataSource]="partners"
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                            (onSelectionChanged)="selectionChanged($event)" (onCellPrepared)="onCellPrepared($event)"
                            (onEditorPreparing)="onEditorPreparing($event)">
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-editing mode="form">
                                <dxo-form>
                                    <dxi-item dataField="code"></dxi-item>
                                    <dxi-item dataField="name"></dxi-item>
                                    <dxi-item dataField="description"></dxi-item>
                                    <dxi-item dataField="isClient"></dxi-item>
                                    <dxi-item dataField="isSupplier"></dxi-item>
                                    <dxi-item dataField="personType"></dxi-item>
                                </dxo-form>
                            </dxo-editing>
                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                            <dxi-column dataField="name" caption="Nume" dataType="string" alignment="left" [minWidth]="160" cellTemplate="partnerNameCellTemplate">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <!-- <dxi-column dataField="website" caption="Site" dataType="string" alignment="left">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="200"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="email" caption="Email" dataType="string" alignment="left">
                                <dxi-validation-rule type="stringLength" [max]="250"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column> -->

                            <dxi-column dataField="supplierAgentId" caption="Post" alignment="left" [width]="150" [minWidth]="150">
                                <dxo-lookup [dataSource]="dataGridPosts" valueExpr="id" [displayExpr]="getDisplayExprPosts">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="caLastYear" caption="CA-1"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="caLastYearCellTemplate"></dxi-column>

                            <dxi-column dataField="pfLastYear" caption="PF-1"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="pfLastYearCellTemplate"></dxi-column>

                            <dxi-column dataField="naLastYear" caption="NA-1"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="naLastYearCellTemplate"></dxi-column>

                            <dxi-column dataField="vdLastYear" caption="VD-1"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="vdLastYearCellTemplate"></dxi-column>

                            <dxi-column dataField="npLastYear" caption="NP-1"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="npLastYearCellTemplate"></dxi-column>

                            <dxi-column dataField="caLast2Years" caption="CA-2"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="caLast2YearsCellTemplate"></dxi-column>

                            <dxi-column dataField="pfLast2Years" caption="PF-2"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="pfLast2YearsCellTemplate"></dxi-column>

                            <dxi-column dataField="naLast2Years" caption="NA-2"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="naLast2YearsCellTemplate"></dxi-column>

                            <dxi-column dataField="vdLast2Years" caption="VD-2"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="vdLast2YearsCellTemplate"></dxi-column>

                            <dxi-column dataField="npLast2Years" caption="NP-2"  dataType="number" alignment="right" [width]="90" [minWidth]="90" cellTemplate="npLast2YearsCellTemplate"></dxi-column>

                            <dxi-column dataField="partnerActivityAllocationId" caption="Descriere activitate" alignment="left" [width]="250" [minWidth]="250">
                                <dxo-lookup [dataSource]="dataGridPartnerActivityAllocations" valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity">
                                </dxo-lookup>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <dxi-column dataField="lastContactDate" caption="Data contactare" dataType="date" format="dd-MM-yyyy"
                                alignment="right" [width]="150" [minWidth]="150"></dxi-column>

                            <dxi-column dataField="syncSeniorExternalId" caption="ERP" dataType="string" alignment="center"  [width]="100" [minWidth]="100" [allowEditing]="false" >
                            </dxi-column>

                            <dxi-column dataField="observations" caption="Observatii"
                                dataType="string" alignment="left" cellTemplate="observationsCellTemplate">
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                                <dxi-validation-rule type="stringLength" [max]="100"
                                    message="Lungimea maximă depășită!"></dxi-validation-rule>
                            </dxi-column>

                            <div *dxTemplate="let data of 'vdLastYearCellTemplate'">
                                {{getVdLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'vdLast2YearsCellTemplate'">
                                {{getVdLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'pfLastYearCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLastYear < 0 ? '#f44336' : null }">
                                    {{getPfLastYearExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'pfLast2YearsCellTemplate'">
                                <div [ngStyle]="{'color': data.data.pfLast2Years < 0 ? '#f44336' : null }">
                                    {{getPfLast2YearsExpr(data.data)}}
                                </div>
                            </div>
                            <div *dxTemplate="let data of 'caLastYearCellTemplate'">
                                {{getCaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLastYearCellTemplate'">
                                {{getNaLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLastYearCellTemplate'">
                                {{getNpLastYearExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'caLast2YearsCellTemplate'">
                                {{getCaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'naLast2YearsCellTemplate'">
                                {{getNaLast2YearsExpr(data.data)}}
                            </div>
                            <div *dxTemplate="let data of 'npLast2YearsCellTemplate'">
                                {{getNpLast2YearsExpr(data.data)}}
                            </div>
                            
                            <div *dxTemplate="let data of 'partnerNameCellTemplate'">
                                <span class="clickable-link" (click)="onPartnerNameClick(data)">{{ data.data.name || '...' }}</span>
                            </div>

                            <div *dxTemplate="let data of 'observationsCellTemplate'">
                                <i class="fa fa-info-circle fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                href="javascript:void(0)" title="Istoric observatii" (click)="openPartnerObservationsDetails(data.data)"></i>
                                {{ data.data.observations }}
                            </div>
                        </dx-data-grid>

                        <dx-data-grid #duplicatePartnersGrid [hidden]="!showDuplicatesValue" [dataSource]="duplicatePartners"
                        [groupPanel]="{ visible: true }" [rowAlternationEnabled]="false" [showBorders]="false"
                        [allowColumnReordering]="true" (onRowPrepared)="onRowPrepared($event)">
                        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>

                        <dxo-paging [pageSize]="30"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 30, 40]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                        <dxi-column dataField="partnerName" caption="Nume" dataType="string" alignment="left"
                            cellTemplate="partnerNameCellTemplate"></dxi-column>
                        <dxi-column dataField="normalizedFiscalCode" caption="Cod Fiscal" dataType="string"
                            alignment="left" [groupIndex]="0"></dxi-column>
                        <dxi-column dataField="fiscalCode" caption="Cod Fiscal" dataType="string"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="tradeRegisterNumber" caption="Reg.Comert" dataType="string"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="countryId" caption="Tara" dataType="string" alignment="left">
                            <dxo-lookup [dataSource]="countriesDS" valueExpr="id" displayExpr="name">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="syncERPExternalId" caption="In CHR" dataType="string"
                            alignment="left" [width]="70" [minWidth]="70"></dxi-column>
                        <dxi-column dataField="syncSeniorExternalId" caption="In SEN" dataType="string"
                            alignment="left" [width]="70" [minWidth]="70"></dxi-column>

                        <dxi-column dataField="invoice" caption="Nr.UltimaFactura" dataType="string"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="partnerActivityAllocationId" caption="Descriere activitate"
                            alignment="left" [width]="250" [minWidth]="250">
                            <dxo-lookup [dataSource]="dataGridPartnerActivityAllocations" valueExpr="id"
                                [displayExpr]="getDisplayExprPartnerActivity">
                            </dxo-lookup>
                        </dxi-column>

                        <dxi-column dataField="lastContactDate" caption="Data contactare" dataType="date"
                            format="dd-MM-yyyy" alignment="right" [width]="150" [minWidth]="150"></dxi-column>

                        <dxi-column dataField="observations" caption="Observatii" dataType="string" alignment="left"
                            cellTemplate="observationsCellTemplate">
                        </dxi-column>

                        <dxi-column dataField="subscriptionState" caption="Stare Abonare" dataType="string"
                            alignment="left" [width]="150" [minWidth]="70"></dxi-column>


                        <div *dxTemplate="let data of 'partnerNameCellTemplate'">   
                            <i class="fa fa-ban fa-2x" style='padding-right : 15px; color: rgb(196, 0, 0);' href="javascript:void(0)" title="Inactiveaza"
                                (click)="inactivateRow(data.data)"></i>
                                &nbsp;
                            <span class="clickable-link" (click)="onPartnerNameClick(data)">{{ data.data.partnerName
                                || '...' }}</span>
                        </div>

                        <div *dxTemplate="let data of 'observationsCellTemplate'">
                            <i class="fa fa-info-circle fa-2x" style='padding-right : 15px' *ngIf="canUpdate()"
                                href="javascript:void(0)" title="Istoric observatii"
                                (click)="openPartnerObservationsDetails(data.data)"></i>
                            {{ data.data.observations }}
                        </div>

                    </dx-data-grid>
                    <br>

                    </div>

                    <div [hidden]="!detailsVisibility">
                        <app-partner-details #partnerDetails [(selectedPartner)]="selectedPartner"
                            [(addressTypes)]="addressTypes" [(departments)]="departments" [(cities)]="cities"
                            [(citiesDS)]="citiesDS" [(counties)]="counties" [(countiesDS)]="countiesDS"
                            [(countries)]="countries" [(countriesDS)]="countriesDS" [(tags)]="tags"
                            [(itemGroupCategories)]="itemGroupCategories" [(itemGroupCodes)]="itemGroupCodes"
                            [(publicInstitutions)]="publicInstitutions" [(competitorTypes)]="competitorTypes"
                            [(partnerActivity)]="partnerActivity"
                            [(partnerActivityAllocation)]="partnerActivityAllocation" [(language)]="language"
                            (visible)="changeVisible()" [(users)]="users" [(partnerLegalForms)]="partnerLegalForms"
                            [(clientTypes)]="clientTypes" [(supplierTypes)]="supplierTypes"
                            [(personTypes)]="personTypes" [(posts)]="posts" [(paymentInstruments)]="paymentInstruments"
                            [(currencies)]="currencies" [(messagingApps)]="messagingApps" [(partnerStatuses)]="partnerStatuses"
                            [(caenSpecializationsDS)]="caenSpecializationsDS"></app-partner-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<dx-popup *ngIf="inactivateSelected" [width]="500" [height]="250" [resizeEnabled]="true" [showTitle]="true" title="Sunteti sigur ca vreti sa inactivati partenerul?"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="displayInactivatePopup">
  <h4>{{inactivateSelected?.partnerName}} - {{inactivateSelected?.normalizedFiscalCode}} - {{inactivateSelected?.tradeRegisterNumber}}</h4>
  <hr>
  <dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="inactivatePartner(true)">
  </dx-button>
  <dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="inactivatePartner(false)">
  </dx-button>
</dx-popup>

<dx-popup [width]="500" [height]="250" [resizeEnabled]="true" [showTitle]="true" title="Sunteti sigur ca vreti sa inactivati parteneruii?"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="multipleDuplicatePartnersInactiatePopup">
  <h4>Sunteti sigur ca vreti sa inactivati toti partenerii STRICT din pagina curenta?</h4>
  <hr>
  <dx-button stylingMode="contained" text="{{'general.yes' | translate}}" type="danger" [width]="200"
    (onClick)="inactivateAllPartner(true)">
  </dx-button>
  <dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
    (onClick)="inactivateAllPartner(false)">
  </dx-button>
</dx-popup>