<div *ngIf="start">
    <app-spinner [visible]="!!loaded"></app-spinner>
    <div class="mt-4">
        <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true" [showInfo]="true" 
        [infoText]="infoText" [fileName]="'itemSpecification'" [showPrint]="true" (addEvent)="addItemSpecification()"
        (refreshEvent)="refreshDataGrid()" (deleteEvent)="deleteRecords()"></app-grid-toolbar>
        <div class="float-none" style="clear: both;"></div>
        <div class="mt-4"></div>
        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="itemSpecifications" [rowAlternationEnabled]="false" [showBorders]="false" 
            [allowColumnReordering]="true" [rowAlternationEnabled]="true" width="500" [columnAutoWidth]="true" (onSelectionChanged)="selectionChanged($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxi-column dataField="id" caption="{{ 'item.itemSpecification.picture' | translate }}" alignment="center" [allowFiltering]="false"
                [allowSorting]="false" cellTemplate="cellImgTemplate"></dxi-column>
            <div *dxTemplate="let data of 'cellImgTemplate'">
                <img style="max-height:100%;max-width:100%;height:auto;width:auto;" class="user-image-table"  [src]="data.data.itemImageBase64" alt="Item Specification Image" 
                    (click)="openItemSpecificationPopup(data.data.itemImageBase64)" />
            </div>
            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="80" alignment="center"></dxi-column>                         
            <div *dxTemplate="let data of 'cellTemplate'">
                <i class="fa fa-ban fa-2x paddingRight15" href="javascript:void(0)" title="Stergere" (click)="deleteRow(data)"></i>
            </div>
        </dx-data-grid>
    </div>

    <dx-popup *ngIf="itemAddImagePopupVisible" [showTitle]="true" [resizeEnabled]="true" title="Incarca imagine" [dragEnabled]="true"
        [closeOnOutsideClick]="true" [(visible)]="itemAddImagePopupVisible" width="20%" height="25%" class="custom-popup">
        <dx-file-uploader class="file-uploader" selectButtonText="{{'general.selectFile' | translate}}" 
                    labelText="{{'general.dragFile' | translate}}" accept=".png,.jpg,.jpeg" uploadMode="useForm" (change)="uploadItemSpecificationImageData($event)" 
                    [allowedFileExtensions]="['.jpg', '.jpeg', '.png']" invalidFileExtensionMessage="File type is not allowed"></dx-file-uploader>
        <div class="buttons-container" style="bottom: 1rem;">
            <dx-button class="save-button" text="{{ 'buttons.save' | translate }}" (click)="saveImageUploadPopup()" stylingMode="contained" type="normal" [disabled]="shouldDisableSaveUserImageBtn"></dx-button>
            <dx-button text="{{ 'buttons.cancel' | translate }}" (click)="cancelImageUploadPopup()" stylingMode="contained" type="normal"></dx-button>     
        </div>
    </dx-popup>

    <dx-popup *ngIf="openPopupImage" [(visible)]="openPopupImage" class="custom-popup" [resizeEnabled]="true" [dragEnabled]="true" [closeOnOutsideClick]="true">
        <img class="mx-auto d-block" [src]="selectedItemSpecification" alt="Item Specification Image" style="max-height:100%;max-width:100%;height:auto;width:auto;"/>
    </dx-popup>
</div>