.fa-pencil, .fa-clone, .fa-ban, .fa-telegram , .fa-upload {
    color: rgb(196, 0, 0);
  }
  
  .paddingRight15{
    padding-right : 15px;
  }
  
  .maxWidth {
    width: 200%;
  }
  
  .buttons-container {
    position: absolute;
    left: 1rem;
    bottom: -2rem;
  }
  
  .save-button {
    margin-right: 7px;
  }
  
  .custom-popup {
    overflow: auto !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }
  
  .upload-container {
    padding: 20px;
  }
  
  .file-uploader {
    width: 100%;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .dx-button {
    margin-left: 10px;
  }
  
  .save-button {
    background-color: #4caf50;
    color: white;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }
  
  .save-button:active {
    background-color: #3e8e41;
  }
  
  .user-image-table {
    cursor: pointer;
  }
  
  .dx-popup-content {
    overflow-y: scroll !important;
  }
  
  .user-image-separator {
    margin-top: 4rem;
  }
  
  .user-image-scroll-view {
    height: 100%;
  }