<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Produse ESHOP Vizibile'"></app-title>
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-6">    
                    <div class="form-group row">
                        <div class="col-1 dx-field-label text-md-right">Limba:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-tag-box [dataSource]="eshopLanguages" [(ngModel)]="eshopLanguageIds" displayExpr="name"
                                valueExpr="id" [showSelectionControls]="true" [maxDisplayedTags]="10"
                                [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                                [hideSelectedItems]="false">
                            </dx-tag-box>
                        </div>

                        <div class="col-2">
                            <dx-button text="Cauta" (onClick)="getEshopVisibleItems()"></dx-button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="mt-4">
                        <app-grid-toolbar #eshopVisibleItemsGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true" 
                            [showInfo]="true" [infoText]="eshopVisibleItemsInfo" [fileName]="'eshopVisibleItems'" [showPrint]="true" (refreshEvent)="refreshEshopVisibleItems()" >
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <div class="mt-4"></div>
                    <dx-data-grid id="gridContainer" #eshopVisibleItemsDataGrid [dataSource]="eshopVisibleItems" [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                        <dxi-column dataField="code" caption="Cod Produs" dataType="string" alignment="left">
                        </dxi-column>
                        <dxi-column dataField="nameRO" caption="Denumire produs simplu(RO)" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="nameENG" caption="Denumire produs simplu(EN)" dataType="string" [visible]="false">
                        </dxi-column>
                        <dxi-column dataField="shortNameRO" caption="Denumire scurta ERP(RO)" dataType="string">
                        </dxi-column>
                        <dxi-column dataField="shortNameENG" caption="Denumire scurta ERP(EN)" dataType="string" [visible]="false">
                        </dxi-column>
                    </dx-data-grid>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>