<div class="bnr-robor-card">
    <h5><b>Euribor 6 luni</b></h5>
     <app-spinner [visible]="loaded"></app-spinner>
     <div class="form-group row">
        <div class="col-md-12">
            <div class="row align-items-center">
                <div class="col-auto dx-field-label text-md-right"></div>
                <div class="col-2">                
                </div>
                <div class="col-auto dx-field-label text-md-right"></div>
                <div class="col-2">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <div class="card card-plain">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-6">
                        <dx-data-grid id="gridContainer" #dataGrid [dataSource]="data" 
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">

                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>

                            <dxo-paging [pageSize]="15"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxi-column dataField="start" caption="Start" dataType="date" format="dd-MM-yyyy" alignment="right"></dxi-column>
                            <dxi-column dataField="end" caption="End" dataType="date" format="dd-MM-yyyy" alignment="right"></dxi-column>
                            <dxi-column dataField="value" caption="Valoare" dataType="string" alignment="right"></dxi-column>

                        </dx-data-grid>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>