.fa-pencil, .fa-clone, .fa-ban  {
  color: rgb(196, 0, 0);
}

.custom-button {
  background-color: red;    /* Red background */
  color: white;             /* White text */
  border: none;             /* No border */
  padding: 5px 9px;        /* Slim padding */
  border-radius: 5px;       /* Rounded corners */
  font-size: 9px;          /* Text size */
  font-family: Arial, sans-serif;
  cursor: pointer;          /* Pointer on hover */
  display: inline-block;
}

.custom-button:hover {
  background-color: darkred;  /* Darker red on hover */
}

.onHover {
  transition: all 0.2s ease; /* Smooth transition for hover effects */
}

.onHover:hover {
  font-weight: bold; /* Make text bold on hover */
  font-size: 1.1em;  /* Increase font size on hover */
}