<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Coduri de Bare'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div [hidden]="detailsVisibility">

                        <div class="form-group row">
                            <div class="col-1 dx-field-label text-md-right">Grupate Licenta Proprietar:</div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box  [(ngModel)]="groupedByOwnerCode" (onValueChanged)="onGroupedByOwnerCodeChanged($event)"></dx-check-box>
                            </div>

                            <div *ngIf="!groupedByOwnerCode" class="col-1 dx-field-label text-md-right">Afiseaza Coduri Nealocate:</div>
                            <div *ngIf="!groupedByOwnerCode" class="col-md-1 col-lg-1">
                                <dx-check-box  [(ngModel)]="showNonAvailableCodes" (onValueChanged)="onNonAvailableCodesChanged($event)"></dx-check-box>
                            </div>

                            <div class="col-1 dx-field-label text-md-right">GLN:</div>
                            <div class="col-md-1 col-lg-1">
                                <dx-select-box [dataSource]="glnDS" (onValueChanged)="onGlnValueChanged($event)"
                                   [searchEnabled]="true">
                                </dx-select-box>
                            </div>

                            <div class="col-1 dx-field-label text-md-right">Partener:</div>
                            <div class="col-md-1 col-lg-1">
                                <dx-select-box [dataSource]="partnersDS" (onValueChanged)="onPartnerValueChanged($event)"
                                  displayExpr="name" valueExpr="id" [searchEnabled]="true">
                                </dx-select-box>
                            </div>
                        </div>

                        <div [hidden]="!groupedByOwnerCode">
                            <div class="mt-4">
                                <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                                    [showExcel]="true" [showInfo]="true" [infoText]="infoButton" [fileName]="'departments'"
                                    [showPrint]="true" (addEvent)="openDetails(null)" (refreshEvent)="refreshDataGrid()"
    
    
                                    [showSecondSpecialButton]="true"
                                    [secondSpecialButtonText]="'Adauga PARTENER'"
                                    [secondSpecialButtonDescription]="'Adauga PARTENER'"
                                    [secondSpecialButtonIcon]="'fa fa-plus'" (secondSpecialEvent)="addPartner()"
    
    
                                    (deleteEvent)="deleteRecords($event)">
                                </app-grid-toolbar>
                                <div class="float-none" style="clear: both;"></div>
                            </div>
                            <div class="mt-4"></div>
                            <dx-data-grid id="gridContainer" #dataGrid [dataSource]="barCodes"
                                [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true"
                                (onSelectionChanged)="selectionChanged($event)"
                                (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="onRowInserting($event)"
                                (onRowUpdated)="onRowUpdated($event)">
                                <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-filter-panel [visible]="true">
                                </dxo-filter-panel>
                                <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
                                <dxo-header-filter [visible]="true">
                                </dxo-header-filter>
                                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                                <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                                <dxo-sorting mode="multiple"></dxo-sorting>
                                <dxo-editing mode="form">
                                    <dxo-form>
                                        <dxi-item dataField="standardType"></dxi-item>
                                        <dxi-item dataField="ownerCode"></dxi-item>
                                        <dxi-item dataField="countryId"></dxi-item>
                                        <dxi-item dataField="start"></dxi-item>
                                        <dxi-item dataField="end"></dxi-item>
                                        <dxi-item dataField="isImplicit"></dxi-item>
                                    </dxo-form>
                                </dxo-editing>
                                <dxo-paging [pageSize]="15"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                            
    
                                <dxi-column dataField="ownerCode" caption="Cheie Licenta" dataType="number" cellTemplate="itemCellTemplate"
                                    alignment="right">
                                </dxi-column>
    
                                <dxi-column dataField="partnerId" caption="Partener" dataType="string" alignment="left">
                                    <dxo-lookup [dataSource]="partnersDS" valueExpr="id"
                                        displayExpr="name">
                                    </dxo-lookup>
                                </dxi-column>
    
                                <dxi-column dataField="partnerLocationGln" caption="GLN Partener" dataType="string" 
                                alignment="right"></dxi-column>

                                <dxi-column dataField="start" caption="De la" dataType="string" alignment="right">
                                </dxi-column>
                                <dxi-column dataField="end" caption="Pana la" dataType="string" alignment="right">
                                </dxi-column>
                                <dxi-column dataField="id" caption="Plaja" dataType="number" alignment="right" cellTemplate="rangeNumberCellTemplate">
                                </dxi-column>
    
                                <dxi-column dataField="standardType" caption="Standard EAN13" dataType="string" 
                                alignment="left">
                                <dxo-lookup [dataSource]="standardTypes" valueExpr="id" displayExpr="name">
                                </dxo-lookup>
                                </dxi-column>
                                <dxi-column dataField="countryId" caption="Tara" dataType="string" alignment="left">
                                    <dxo-lookup [dataSource]="countrys" valueExpr="id"
                                        [displayExpr]="getDisplayExprCountries">
                                    </dxo-lookup>
                                </dxi-column>
                                <!-- <dxi-column dataField="isImplicit" caption="Implicita" dataType="boolean" [hidden]="true"  [width]="150" [minWidth]="150"
                                    alignment="center">
                                </dxi-column> -->
                                <dxi-column dataField="isActive" caption="Activa" dataType="boolean"  [width]="150" [minWidth]="150"
                                alignment="center">
                                </dxi-column>
                                <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="150" [minWidth]="180"
                                    alignment="center">
                                </dxi-column>
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <button class="custom-button" (click)="gs1Redirect(data.data)" title="Verifica pe https://gs1.org/services/verifified-by">GS1</button>
                                    &nbsp;
                                    <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()"
                                    href="javascript:void(0)" title="Inactiveaza" (click)="deleteRow(data)"></i>
                                </div>
    
                                <div *dxTemplate="let data of 'itemCellTemplate'">
                                     <span class="onHover" (click)="openDetails(data.data)">
                                       {{data.data.ownerCode}}
                                     </span>
                                </div>
    
                                <div *dxTemplate="let data of 'rangeNumberCellTemplate'">
                                    {{rangeNumberExpr(data.data)}}
                               </div>
                            </dx-data-grid>
                        </div>

                        <div *ngIf="(!groupedByOwnerCode && !showNonAvailableCodes)">
                            <dx-data-grid #generalOfferExportDataDataGrid [dataSource]="barCodeItemAllocations" 
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">
                            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>

                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15]" ></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
             
                            <dxi-column dataField="itemId" caption="Cod-Denumire" dataType="number" alignment="left">
                                <dxo-lookup [dataSource]="items" valueExpr="id"
                                [displayExpr]="getDisplayExpritems">
                            </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="barCode" caption="Cod Bare" dataType="number" alignment="right">
                            </dxi-column>
                            <dxi-column dataField="barCode" caption="Plaja de la" dataType="number" alignment="right" cellTemplate="fromRangeCellTemplate">
                            </dxi-column>
                            <dxi-column dataField="barCode" caption="Plaja pana la" dataType="number" alignment="right" cellTemplate="toRangeCellTemplate">
                            </dxi-column>
                            <dxi-column dataField="barCodeIntervalId" caption="Partener" dataType="string" alignment="right" cellTemplate="partnerCellTemplate">
                            </dxi-column>
             
                            <div *dxTemplate="let data of 'fromRangeCellTemplate'">
                                {{fromRangeExpr(data.data)}}
                             </div>
                             <div *dxTemplate="let data of 'toRangeCellTemplate'">
                                {{toRangeExpr(data.data)}}
                             </div>
                             <div *dxTemplate="let data of 'partnerCellTemplate'">
                                {{partnerExpr(data.data)}}
                             </div>
                        
                         </dx-data-grid>
                        </div>

                        <div *ngIf="(!groupedByOwnerCode && showNonAvailableCodes)">
                            <dx-data-grid #generalOfferExportDataDataGrid [dataSource]="numberList" [width]="450"
                            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true">
                            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-filter-panel [visible]="true">
                            </dxo-filter-panel>
                            <dxo-header-filter [visible]="true">
                            </dxo-header-filter>
                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>

                            <dxo-paging [pageSize]="50"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100, 200]" ></dxo-pager>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
             

                            <dxi-column dataField="value" caption="Cod Bare Nealocat" dataType="number" alignment="left">
                            </dxi-column>
                         </dx-data-grid>
                        </div>

                    </div>
                    <div [hidden]="!detailsVisibility">
                        <app-bar-code-details #barcodeDetails [(selectedBarCode)]="selectedBarCode"
                            (visible)="changeVisible()"></app-bar-code-details>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>