<app-spinner [visible]="loaded" [zone]="'scheduleDetails'"></app-spinner>
<div id="scheduleDetails" *ngFor="let schedule of items">
    <div class="form-group row">
        <div class="col-2">{{schedule.dayOfTheWeekName}}</div>

        <div *ngIf="!schedule.isClose" class="col-3">
            <dx-date-box [(ngModel)]="schedule.startTime" type="time"> </dx-date-box>
        </div>
        <div *ngIf="!schedule.isClose" class="col-3">
            <dx-date-box [(ngModel)]="schedule.endTime" type="time"> </dx-date-box>
        </div>
        <div *ngIf="schedule.isClose" class="col-3">
           {{'Inchis'}}
        </div>
        <div class="col-3">
            <dx-check-box [(ngModel)]="schedule.isClose"></dx-check-box>
        </div>
    </div>
    <hr>

</div>

<dx-button (onClick)="saveData()" text="Actualizeaza" type="danger">
</dx-button>