.btn-success, .btn-warning, .btn-danger, .btn-info, .btn-primary, .btn-secondary{
  transition: all 0.2s ease;
  transform: scale(1);
}
.btn-success:hover, .btn-danger:hover, .btn-info:hover, .btn-warning:hover, .btn-primary:hover, .btn-secondary:hover{
  background-color: #e76d27 !important;
  color: #fcfcfc;
  transform: scale(1.3) perspective(1px) !important;
}

.btn-circle {
  width: 44px;
  height: 44px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.rowsCount {
  font-size: 14px;
  font-weight: 400;
}

#line {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: -20px;
}

.item {
  width: 10%;
}

.seconditem {
  width: 90%;
  position: relative;
  bottom: 20px;
}

.thirditem {
  width: 0%;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.padding-fix {
  padding: 10px;
  border-radius: 2;
  font-size: 10px;
}

.border-radius-fix {
  border-radius: 2;
  font-size: 10px;
}

.left-align {
  text-align: left;
}