<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div>
        <div *ngIf="turnoverItemHistory.length > 0">
          <ng-container>
            <div>
              <div class="row">
                <div class="col-12">
                  <table class="custom-table">
                    <thead>
                      <tr>
                        <th class="text-left" style="width: 220px !important">Client</th>
                        <th class="text-left" style="width: 400px !important">Cod CAEN</th>
                        <th class="text-left" style="width: 190px !important">Tip Client</th>
                        <th class="text-left" style="width: 190px !important">Agent</th>
                        <th class="text-right small-column" style="width: 40px !important">Total</th>
                        <ng-container *ngFor="let month of monthLabels">
                          <th class="text-right small-column" style="width: 35px !important">{{ month }}</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let row of turnoverMonths">
                        <tr>
                          <td>{{ row.partnerName }}</td>
                          <td>{{ row.caenCode }} / {{ row.caenDescription }}</td>
                          <td>{{ row.partnerActivity }}</td>
                          <td>{{ row.partnerResponsableAgent }}</td>
                          <td class="text-right" [ngClass]="{ 'negative': row.Total < 0 }">
                            {{ row.Total | number: '1.0-0' }}
                          </td>
                          <ng-container *ngFor="let month of row.monthsData">
                            <td class="text-right-quantity" [ngClass]="{ 'negative': month.quantity < 0 }" (click)="onMonthQuantityClick(row, month)">
                                {{ (month.quantity || 0) | number: '1.0-0' }}
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup *ngIf="isMonthQuantityPopupOpen" [showTitle]="true" [resizeEnabled]="true" [title]="'Facturi de vanzare pentru produsul ' + itemCode + ' - ' + itemName + ' catre clientul ' 
  + monthQuantityPartnerName + ' in luna ' + monthQuantityMonthAndYear" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [(visible)]="isMonthQuantityPopupOpen" width="55%" height="40%" class="custom-popup" [shading]="false">  
    <dx-scroll-view width="100%" height="100%">
        <div class="item-turnover-data-loading" *ngIf="isDataLoading">Se incarca...</div>
        <div class="item-turnover-wrapper">
          <div class="row">
            <div class="col-12">
              <table class="custom-table">
                <thead>
                  <tr>
                    <th class="text-right" style="width: 20px !important">Nr. Document</th>
                    <th class="text-right" style="width: 20px !important">Data Document</th>
                    <th class="text-right" style="width: 20px !important">Cantitate</th>
                    <th class="text-right" style="width: 20px !important">P.U.</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let row of monthQuantityData">
                    <tr>
                      <td class="text-right">{{ row.documentNo }}</td>
                      <td class="text-right">{{ row.documentDate | date: 'dd.MM.yyyy' }}</td>
                      <td class="text-right" [ngClass]="{ 'negative': row.Total < 0 }">
                        {{ row.quantity | number: '1.0-0' }}
                      </td>
                      <td class="text-right">{{ row.pu | number: '1.2-2' }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>  
    </dx-scroll-view>
</dx-popup>