table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .pageNumber{
    width: 50px;
  }

  .show-filters-section-label {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: #26c6da;
    font-weight: bold;
  }

  .custom-table {
    width: 100%;
    table-layout: fixed;
  }

  .operatie-style {
      width: 140px;
      white-space: nowrap;
  }

  .text-right {
      width: 100px !important; 
      text-align: right;
  }

  .text-left {
    width: 100px !important; 
    text-align: left;
  }

  .negative {
    color: red;
  }

  .wide-column {
    min-width: 150px;
    max-width: 200px;
  }
  
  .small-column {
    min-width: 10px;
    max-width: 150px;
  }

  .custom-table th, .custom-table td {
    padding: 3px 3px;
    border: 1px solid #dddddd;
  }

  .text-right-quantity {
    width: 100px !important; 
    text-align: right;
    cursor: pointer;
  }