.dx-checkbox-icon {
    position: absolute;
    right: 2rem;
    pointer-events: auto;
}

.location-name-label {
    font-weight: bold;
}

.save-btn {
    background-color: red;
    color: white;
}

.unique-pricipal-activity {
    gap: 2rem;
    font-weight: bold;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px; 
  }
  
  .row > .col,
  .row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
  }

  .header-label {
    font-size: 20px;
    font-weight: bold;
    color: #4f4f4f;
    background-color: #f8f9fa;
    padding: 6px 8px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-bottom: 1rem;
  }

  .special-price-requests-history-btn {
    background-color: #66bb6a;
    color: white;
}
