<app-spinner [visible]="loaded"></app-spinner>

<div *ngIf="partner.isSupplier">
    <div *ngIf="partner && partner.id && partnerLocations && partnerLocations.length > 0">
        <div class="form-group row mb-4">        
            <div class="col-12">
                <div class="row">
                    <div class="col-auto dx-field-label text-md-right">Liste de Pret de Cumparare:</div>
                    <div class="col-4 col-md-4 col-lg-4" (click)="onSupplierPriceListClick()">
                        <dx-tag-box [dataSource]="sortedSupplierSalePriceListDS"
                                    [(ngModel)]="allSupplierSalesPriceList"
                                    valueExpr="id" [displayExpr]="getDisplayExprSupplierSalePriceLists"
                                    [showSelectionControls]="true" [maxDisplayedTags]="10"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons"
                                    [searchEnabled]="true" [hideSelectedItems]="false" [disabled]="true">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-tag-box>
                    </div>
                </div>
            </div>
        </div>           
        <br />
    </div>
</div>



