<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Incasarile zilei'"></app-title>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                  
                    <app-spinner [visible]="loaded"></app-spinner>
                    <div class="mt-4">
                        <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true" 
                            [showExcel]="true" [fileName]="'partner-daily-receipts'" [showPrint]="true" (refreshEvent)="refreshDataGrid()">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>

                    <hr />
                        <div class="last-file-update">
                            {{ lastFileUpdate ? 'Actualizat la ora ' + lastFileUpdate : '' }}
                        </div>
                    <hr />

                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="partnerDailyReceipts" [rowAlternationEnabled]="true" [allowColumnReordering]="true" (onRowPrepared)="onRowPrepared($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                      
                        <dxi-column dataField="partnerName" caption="Nume beneficiar/ordonator" dataType="string" alignment="left"></dxi-column>
                      
                        <dxi-column dataField="sum" caption="Suma" dataType="string" alignment="right"></dxi-column>
                      
                        <dxi-column dataField="currency" caption="Valuta" dataType="string" alignment="left"></dxi-column>
                      
                        <dxi-column dataField="transactionDetails" caption="Detalii tranzactie" dataType="string" alignment="left"></dxi-column>
                      
                        <dxi-column dataField="processingDate" caption="Data procesarii" dataType="string" alignment="center"></dxi-column>
                      
                        <dxi-column dataField="transactionType" caption="Tip tranzactie" dataType="string" alignment="left"></dxi-column>
                      
                        <dxi-column dataField="partnerBankAccount" caption="Cont beneficiar/ordonator" dataType="string" alignment="left"></dxi-column>                 
                      </dx-data-grid>                      
                </div>
            </div>
        </div>
    </div>
</div>