<app-spinner [visible]="loaded"></app-spinner>
<dx-data-grid id="gridContainer" #dataGrid [dataSource]="logistics" [rowAlternationEnabled]="true" [allowColumnReordering]="true" [width]="'70%'">
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>

    <!-- Fields -->
    <dxi-column dataField="nameRO" caption="Nume" dataType="string"></dxi-column>
    <dxi-column dataField="lotNumber" caption="Lot" dataType="string"></dxi-column>
    <dxi-column dataField="bbd" caption="BBD" dataType="date" format="dd-MM-yyyy"></dxi-column>

    <dxi-column dataField="itemGrossWeight" caption="Articol Greutate Bruta (kg)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal4"></dxi-column>
    <dxi-column dataField="itemLength" caption="Articol Lungime (cm)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal"></dxi-column>
    <dxi-column dataField="itemWidth" caption="Articol Latime (cm)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal"></dxi-column>
    <dxi-column dataField="itemHeight" caption="Articol Inaltime (cm)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal"></dxi-column>
    <dxi-column dataField="cartonQuantity" caption="Carton Cantitate (buc)" dataType="number"></dxi-column>
    <dxi-column dataField="cartonGrossWeight" caption="Carton Greutate Bruta (kg)" dataType="number"></dxi-column>
    <dxi-column dataField="cartonLength" caption="Carton Lungime (cm)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal"></dxi-column>
    <dxi-column dataField="cartonWidth" caption="Carton Latime (cm)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal"></dxi-column>
    <dxi-column dataField="cartonHeight" caption="Carton Inaltime (cm)" dataType="number" format="fixedPoint"  [customizeText]="formatDecimal"></dxi-column>

</dx-data-grid>