<app-spinner [visible]="loaded"></app-spinner>
<div class="mt-4">
    <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
        [fileName]="'monitorItem'" [showPrint]="true" (addEvent)="addSingleClientMonitoringDataEvent()"
        (deleteEvent)="deleteRecords($event)"
        (refreshEvent)="refreshClientMonitoringDataGrid()">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<div class="mt-4"></div>
<dx-data-grid id="gridContainer" #dataGrid [dataSource]="itemXClientMonitoringList" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
    [allowColumnResizing]="true" (onSelectionChanged)="selectionChanged($event)">
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>

    <!-- Fields -->
    <dxi-column dataField="partnerName" caption="Nume Partener" dataType="string"></dxi-column>
    <dxi-column dataField="partnerLink" caption="Link Partener" dataType="string"></dxi-column>
    <dxi-column dataField="name" caption="Nume" dataType="string"></dxi-column>
    <dxi-column dataField="code" caption="Cod" dataType="string"></dxi-column>
    <dxi-column dataField="brand" caption="Brand" dataType="string"></dxi-column>
    <dxi-column dataField="totalPrice" caption="Pret Total" dataType="number" format=",###,###,##0.00 RON"></dxi-column>
    <dxi-column dataField="priceWithTVA" caption="Pret cu TVA" dataType="number" format=",###,###,##0.00 RON"></dxi-column>
    <dxi-column dataField="priceWithoutTVA" caption="Pret fara TVA" dataType="number" format=",###,###,##0.00 RON"></dxi-column>
    <dxi-column dataField="conversionFactor" caption="Factor Conversie" dataType="number"></dxi-column>
    <dxi-column dataField="d0" caption="D0" dataType="number" format=",###,###,##0.00%"></dxi-column>
    <dxi-column dataField="c0" caption="C0" dataType="number" format=",###,###,##0.00%"></dxi-column>
    <dxi-column dataField="r0" caption="R0" dataType="number" format=",###,###,##0.00%"></dxi-column>
    <dxi-column dataField="inStock" caption="In Stoc" dataType="boolean"></dxi-column>
    <dxi-column dataField="stock" caption="Stoc" dataType="number" format=",###,###,##0"></dxi-column>

    <!-- Actions -->
    <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center"></dxi-column>   
    <div *dxTemplate="let data of 'cellTemplate'">
        <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()" href="javascript:void(0)" title="Edit"
            (click)="openDetails(data.data)"></i>
            &nbsp;
        <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
            (click)="deleteItemXClientMonitoringRow(data)"></i>
    </div>
</dx-data-grid>

<dx-popup width="50%" height="30%" [showTitle]="true"
[resizeEnabled]="true" title="Monitorizare Produs Client" [dragEnabled]="true" [closeOnOutsideClick]="false"
[(visible)]="popupVisible" (onHiding)="onPopupHidden()" *ngIf="popupRendered">
<dx-scroll-view width="100%" height="100%">
        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Link Partener*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="selectedItemXClientMonitoring.partnerLink" (input)="onInsertedPartnerLinkInput($event)">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="col-2 dx-field-label text-md-right">Factor Conversie*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-number-box [(ngModel)]="selectedItemXClientMonitoring.conversionFactor" (input)="onInsertedConversionFactorInput($event)">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                    </dx-validator>
                </dx-number-box>
            </div>
        </div>
    <hr>
    <br>
    <div class="d-flex justify-content-start" style="gap: 20px">
        <dx-button [disabled]="!isAddOrUpdateFormValid()" *ngIf="isOnSaveItemXClientMonitoring" text="Salveaza" (onClick)="saveData()">
        </dx-button>
        <dx-button [disabled]="!isAddOrUpdateFormValid()" *ngIf="!isOnSaveItemXClientMonitoring" text="Modifica" (onClick)="updateData()">
        </dx-button>
    </div>
</dx-scroll-view>
</dx-popup>