<div class="logo">
  <a href="#" class="simple-text">
    Primaware SRM
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
  </div>
  <ul class="nav">
    <div *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <app-sidebar-nav-item [sideNavItem]="menuItem"></app-sidebar-nav-item>
    </div>
  </ul>
  <ul class="nav navbar-nav nav-mobile-menu">
    <li class="nav-item dropdown">
      <a class="nav-link" (click)="goToSSO()"
        aria-haspopup="false" aria-expanded="true">
        <i class="material-icons">reply_all</i>
        <p>
          <span class="d-lg-none d-md-block">Primaware</span>
        </p>
      </a>
    </li>
    <li class="nav-item dropdown" *ngIf="currentUser">
      <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">notifications</i>
        <span *ngIf="notifications.length > 0" class="notification">{{notifications.length}}</span>
        <p>
          <span class="d-lg-none d-md-block">Notifications</span>
        </p>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <div *ngIf="notifications.length === 0">
          <a class="dropdown-item" href="javascript:void(0)"> -no notification-</a>
        </div>
        <div *ngFor="let notification of notifications">
          <a class="dropdown-item" href="javascript:void(0)">{{notification}}</a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuSecondLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">flag</i>
        <p>
          <span class="d-lg-none d-md-block">{{selectedLan}}</span>
        </p>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuSecondLink">
        <ng-container *ngFor="let lang of languages">
          <a class="dropdown-item" href="javascript:void(0)" (click)="selectCulture(lang)"><span
              [ngClass]="lang.flagClass"></span>
            &nbsp; {{lang.name | translate}}</a>
        </ng-container>
      </div>
    </li>
    <li class="nav-item dropdown" *ngIf="currentUser">
      <a class="nav-link" href="javascript:void(0)" id="navbarDropdownThirdMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="material-icons" (click)="toggleShowProfile()">person</i>
        <p>
          <span class="d-lg-none d-md-block">{{currentUser}}</span>
        </p>
      </a>
      <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show':  shouldShowProfile}"
        aria-labelledby="navbarDropdownThirdMenuLink">
        <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">{{'login.logout' | translate}}</a>
      </div>
    </li>
  </ul>
</div>