.row {
    margin-left: -10px;
    margin-right: -10px; 
  }
  
  .row > .col,
  .row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
  }

  .my-suppliers-btn {
    font-size: 20px;
    color: #66bb6a;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1.5rem;
    border: 2px solid #66bb6a;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
  }

  .filter-btns {
    display: flex;
    align-items: center;
  }

  .fa-refresh {
    color: rgb(58, 195, 113); 
    font-size: 22px; 
    padding: 6px 7px;
    background-color: rgba(58, 195, 113, 0.1);
    display: inline-block;
    text-align: center; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-close {
    color: rgb(196, 0, 0);
    font-size: 22px;
    padding: 6px 7px;
    background-color: rgba(196, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-refresh:hover {
    background-color: rgb(58, 195, 113);
    color: white;
}

.fa-close:hover {
    background-color: rgb(196, 0, 0);
    color: white;
}

.turnover-analysis-btn {
  font-size: 20px;
  color: #66bb6a;
  cursor: pointer;
  font-weight: bold;
  margin-left: 1.5rem;
  border: 2px solid #66bb6a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}
  