<div class="modal-body">
    <dx-validation-group #validationSearchGroup>

        <div class="form-group row">
            <div class="col-md-7 col-lg-7">
                <div class="row">
                    <div class=" col-md-1 col-lg-1 dx-field-label text-md-right" title="Cod Produs">Cod:</div>
                    <div class=" col-md-2 col-lg-2">
                        <dx-text-box [(ngModel)]="turnoverSearchFilter.code" [maxLength]="25">
                        </dx-text-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Denumire Produs">Denumire:</div>
                    <div class="col-md-2 col-lg-2" >
                        <dx-text-box [(ngModel)]="turnoverSearchFilter.name" [maxLength]="50">
                        </dx-text-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Denumire Produs">Produs(DD):</div>
                    <div class="col-md-2 col-lg-2" >
                        <dx-tag-box [dataSource]="items" [(ngModel)]="turnoverSearchFilter.itemIds" valueExpr="id"
                            [displayExpr]="getDisplayExprItems" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" [searchEnabled]="true"  [multiline]="true"
                            (onValueChanged)="onMultiTagItemChange($event)" [hideSelectedItems]="false"
                            [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '600' }">
                        </dx-tag-box>
                    </div>

                    <div class="col-md-1 col-lg-1 dx-field-label text-md-right" title="Denumire Produs">Post:</div>
                    <div class="col-md-2 col-lg-2" >
                        <dx-tag-box [dataSource]="postsDS" [(ngModel)]="turnoverSearchFilter.postIds" valueExpr="id"
                            displayExpr="companyPost" [maxDisplayedTags]="2" [showSelectionControls]="true"
                            [showMultiTagOnly]="false" [searchEnabled]="true" [multiline]="true"
                            [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                            (onValueChanged)="onMultiTagPostChange($event)" [dropDownOptions]="{ minWidth: '330' }">
                        </dx-tag-box>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-lg-5">
                <div class="row">
                    <div class=" col-md-1 col-lg-1 dx-field-label text-md-right" title="Oras">Oras:</div>
                    <div class=" col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="citiesDS" [(ngModel)]="turnoverSearchFilter.citiesIds" valueExpr="id"
                        (onValueChanged)="onCitiesChanged($event)" [displayExpr]="getDisplayExprCities"
                        [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false"
                        [searchEnabled]="true" [hideSelectedItems]="false"  [multiline]="true"
                        [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '450' }">
                        </dx-tag-box>
                    </div>
                    <div class=" col-md-1 col-lg-1 dx-field-label text-md-right" title="Judet">Judet:</div>
                    <div class=" col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="countiesDS" [(ngModel)]="turnoverSearchFilter.countiesIds" valueExpr="id"
                        (onValueChanged)="onCountiesChanged($event)" [displayExpr]="getDisplayExprCounties"
                        [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false"
                        [searchEnabled]="true" [multiline]="true"
                        (onValueChanged)="onMultiTagCountieChange($event)" [hideSelectedItems]="false"
                        [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '300' }">
                        </dx-tag-box>
                    </div>
                    <div class=" col-md-1 col-lg-1 dx-field-label text-md-right" title="Tara">Tara:</div>
                    <div class=" col-md-3 col-lg-3">
                        <dx-tag-box [dataSource]="countriesDS" [(ngModel)]="turnoverSearchFilter.countriesIds" valueExpr="id"
                        (onValueChanged)="onCountriesChanged($event)" [displayExpr]="getDisplayExprCountries"
                        [maxDisplayedTags]="2" [showSelectionControls]="true" [showMultiTagOnly]="false"
                        [searchEnabled]="true" [hideSelectedItems]="false" [multiline]="true"
                        [selectAllMode]="'allPages'" [dropDownOptions]="{ minWidth: '250' }">
                        </dx-tag-box>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-7 col-lg-7">
                <div class="row">
                    <div class=" col-md-1 col-lg-1 dx-field-label text-md-right" title="Cod Produs">Furnizor:</div>
                    <!-- <div class=" col-md-5 col-lg-5">
                        <dx-select-box [dataSource]="partners" [(ngModel)]="turnoverSearchFilter.partnerId" valueExpr="id"
                                    [displayExpr]="getDisplayExprPartners" [searchEnabled]="true"
                                    (input)="onPartnerChanged($event)" (onValueChanged)="partnerChange($event)">
                        </dx-select-box>
                    </div> -->
                    <!-- <div class="col-md-5 col-lg-5">
                        <dx-autocomplete [dataSource]="filteredPartners" valueExpr="codeAndName" (onSelectionChanged)="onSuppliersItemSelected($event)"
                            (valueChange)="onSuppliersFilterSearch($event)" [maxItemCount]="100" itemTemplate="nameOrCodeItemTemplate" [dropDownOptions]="{ minWidth: '600' }">
                            <div *dxTemplate="let item of 'nameOrCodeItemTemplate'">
                                {{ item.code }} - {{ item.name }}
                            </div>
                        </dx-autocomplete>
                    </div> -->
                    <div class="col-md-5 col-lg-5">
                        <dx-select-box [dataSource]="filteredPartners" [displayExpr]="getDisplayExprPartners" valueExpr="id" 
                            [(ngModel)]="turnoverSearchFilter.partnerId" [searchEnabled]="true" [width]="400" [dropDownOptions]="{ minWidth: '600' }">
                        </dx-select-box>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-lg-5">
            </div>
        </div>

    </dx-validation-group>
    <hr>

    <div class="filter-btns">
        <div>
            <i class="fa fa-refresh" style="cursor: pointer;" (click)="searchTurnover()" title="Lanseaza cautarea inregistrarilor ce corespund criteriilor specificate. (F5)"></i>
            &nbsp; &nbsp;
            <i class="fa fa-close" style="cursor: pointer;" (click)="resetFilters()" title="Sterge criteriile specificate. (Delete)"></i>
        </div>
    
        <div class="turnover-analysis-btn" (click)="onTurnoverAnalysisClick()">
            <div>Analiza R / R3/6/9/12</div>
        </div>

        <div class="my-suppliers-btn">
            <div>Furnizorii Mei</div>
        </div>
    </div>
</div>