<app-spinner [visible]="loaded"></app-spinner>
<h5 *ngIf="titleText">{{titleText}}</h5>
<div class="form-group row" *ngIf="!isDisabledOnUpdate">
    <div [ngClass]="'col-md-' + (componentColMdLenghtSize || 8) + ' col-lg-' + (componentColMdLenghtSize || 8)">
        <div class="row">
            <div class="col-1 dx-field-label text-md-right" title="Cod Partener">Cod Partener:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="partnerCode" [ngModelOptions]="{standalone: true}" [maxLength]="250">
                </dx-text-box>
            </div>
            <div class="col-1 dx-field-label text-md-right" title="Nume Partener">Nume Partener:</div>
            <div class="col-md-4 col-lg-4">
                <dx-text-box [(ngModel)]="partnerName" [ngModelOptions]="{standalone: true}" [maxLength]="250">
                </dx-text-box>
            </div>
            <div class="col-1 dx-field-label text-md-right" title="CUI">CUI:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="partnerFiscalCode" [ngModelOptions]="{standalone: true}" [maxLength]="250">
                </dx-text-box>
            </div>
            <div class="col-md-1 col-lg-1 d-flex align-items-center">
                <button type="button" class="btn btn-circle btn-sm mr-2 border" [ngClass]="themeColor" (click)="searchPartner()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<dx-validation-group #validationGroup>
<div class="form-group row">
    <div [ngClass]="'col-md-' + (componentColMdLenghtSize || 6) + ' col-lg-' + (componentColMdLenghtSize || 6)">
        <div class="row">
            <div class="col-1 dx-field-label text-md-right" [title]="partnerText">{{partnerText}}*:</div>
            <div class="col-md-3 col-lg-3">
                <dx-select-box [dataSource]="partnerDS" [displayExpr]="partnerDisplayExpr" [searchEnabled]="true"
                    (onValueChanged)="onPartnerChange($event)" valueExpr="id" [(ngModel)]="partnerId"
                    [disabled]="isDisabledOnUpdate">
                    <dx-validator *ngIf="isRequired">
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
            <div class="col-md-1 col-lg-1">
                <dx-button class="btn btn-circle btn-sm mr-2 float-left border" [ngClass]="themeColor" (onClick)="goToPartner()">
                    <i class="fa fa-info"></i>
                </dx-button>
            </div>
        </div>
    </div>
</div>
</dx-validation-group>
<hr>