<div class="mt-4">
    <app-grid-toolbar #reviewGridToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true"
        [fileName]="'partnerReviews'" [showPrint]="true" (addEvent)="add()"
        (refreshEvent)="refreshReviews()">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<div class="mt-4"></div>
<dx-data-grid id="gridContainer" #partnerReviewsDataGrid [dataSource]="partnerReviews" [rowAlternationEnabled]="false"
    [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionReviewChanged($event)"
    (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="onRowReviewInserting($event)">
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true">
    </dxo-filter-panel>
    <dxo-header-filter [visible]="true">
    </dxo-header-filter>
    <dxo-export [enabled]="canExport()" [allowExportSelectedData]="true"></dxo-export>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-editing mode="form">
        <dxo-form>
            <dxi-item dataField="description"></dxi-item>
        </dxo-form>
    </dxo-editing>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="createdBy" caption="Utilizator" [width]="200" [minWidth]="200" alignment="left">
        <dxo-lookup [dataSource]="users" valueExpr="id" displayExpr="userName">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="postId" caption="Post" [width]="200" [minWidth]="200" alignment="center">
        <dxo-lookup [dataSource]="posts" valueExpr="id" displayExpr="code">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="created" caption="Data" dataType="date"format="dd-MM-yyyy HH:mm" [width]="200" [minWidth]="200" alignment="center">
    </dxi-column>
    <dxi-column dataField="description" caption="Recenzie" dataType="string" alignment="center">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
        <dxi-validation-rule type="stringLength" [max]="800" message="Lungimea maximă depășită!"></dxi-validation-rule>
    </dxi-column>
</dx-data-grid>