<hr>
<h3>{{header}}</h3>
<div>
    <dx-file-uploader class="col-sm-8" selectButtonText="Selecteaza fisier" labelText="Trage fisierul aici" accept="*" uploadMode="useForm" (change)="uploadData($event)"></dx-file-uploader>
</div>
<dx-button *ngIf="showGenerateBtn" text="Genereaza tabel" (onClick)="generateDataGrid()">
</dx-button>
&nbsp;
<dx-button *ngIf="showImportBtn" text="Import" (onClick)="import()">
</dx-button>
<hr>
<div [hidden]="!showGrid">
    <dx-data-grid #dataGrid [dataSource]="gridDataSource" (onSelectionChanged)="onSelectionChanged($event)" (onRowPrepared)="onRowPrepared($event)" [columns]="gridColumns" [wordWrapEnabled]="true">
        <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-paging [pageSize]="25"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
        <dxi-column dataField="response" caption="Response" alignment="right" cellTemplate="cellTemplate"></dxi-column>
        <div *dxTemplate="let data of 'cellTemplate'">
           <div>{{data.value}}</div>
        </div>
    </dx-data-grid>
    <hr>
</div>
<div *ngIf="showError">
    <h3 style="color: red; font-weight: bold;">{{'general.gridError' | translate}}</h3>
</div>