/* You can add global styles to this file, and also import other style files */

.fa-2x {
    font-size: 1.4em !important;
  }

  .dx-datagrid-headers {
    color: #010101 !important; 
    background-color: rgb(242, 242, 242);
}