<div class="modal-body" *ngIf="selectedItemProperties">

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Vizibil:</div>
        <div class="col-md-2 col-lg-2">
            <dx-check-box [(ngModel)]="selectedItemProperties.visibility"></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Brand:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="brands" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.brandId">
            </dx-select-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">Marime</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="sizes" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.sizeId">
            </dx-select-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Forma:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="shapes" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.shapeId">
            </dx-select-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Culoare:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="colors" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.colorId">
            </dx-select-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Base Image:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemProperties.baseImage" [maxLength]="75">
            </dx-text-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">Small Image:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemProperties.smallImage" [maxLength]="75">
            </dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Thumbnail Image:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemProperties.thumbnailImage" [maxLength]="75">
            </dx-text-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Manufacturer:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemProperties.manufacturer"></dx-text-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">AttributeSetCode:</div>
        <div class="col-md-2 col-lg-2">
            <dx-text-box [(ngModel)]="selectedItemProperties.attributeSetCode "></dx-text-box>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-1 dx-field-label text-md-right">Croiala:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="cuts" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.cutId">
            </dx-select-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Inchidere:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="closings" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.closingId">
            </dx-select-box>
        </div>
         <div class="col-1 dx-field-label text-md-right">Masura:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="measures" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.measureId">
            </dx-select-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">Material:</div>
        <div class="col-md-2 col-lg-2">
            <dx-select-box [dataSource]="materials" displayExpr="code" valueExpr="id" [searchEnabled]="true"
            [(ngModel)]="selectedItemProperties.materialId">
            </dx-select-box>
        </div>
    </div>
</div>