<app-spinner [visible]="loaded"></app-spinner>
<div class="mt-4">
    <app-grid-toolbar #partnerContractsGridToolbar [actions]="actions" [showColumnSettings]="true"
        [showExcel]="true" [fileName]="'partner-contract'" [showPrint]="true"
        (addEvent)="addPartnerContract()" (refreshEvent)="refreshPartnerContractsDataGrid()"
        (deleteEvent)="deleteRecords($event)">
    </app-grid-toolbar>
    <div class="float-none" style="clear: both;"></div>
</div>
<dx-data-grid id="gridContainer" #partnerContractsDataGrid [dataSource]="partnerContracts" [rowAlternationEnabled]="true" [allowColumnReordering]="true"
    (onSelectionChanged)="selectionChanged($event)" (onEditorPreparing)="onEditorPreparing($event)"> 
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <dxo-export [enabled]="canExport()"  [allowExportSelectedData]="true"></dxo-export>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxi-column dataField="partnerName" caption="Nume Partener" dataType="string"></dxi-column>
    <dxi-column dataField="contractNumber" caption="Numar Contract Partener" dataType="string"></dxi-column>
    <dxi-column dataField="created" caption="Creat la data" dataType="date"></dxi-column>
    <dxi-column dataField="ownerContractNumber" caption="Numar Contract Proprietar" dataType="number" [calculateDisplayValue]="getDisplayExprOwnerContractNumber" [calculateSortValue]="getSortExprOwnerContractNumber"></dxi-column>
    <dxi-column dataField="departmentId" caption="Tip Departament" dataType="number" [setCellValue]="setCellValue">
        <dxo-lookup [dataSource]="departmentTypes" valueExpr="id" [displayExpr]="getDisplayExprDepartmentType">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="partnerLocationId" caption="Locatie Partener" dataType="number" [setCellValue]="setCellValue">
        <dxo-lookup [dataSource]="partnerLocations" valueExpr="id" [displayExpr]="getDisplayExprPartnerLocations">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="discountGridId" caption="Grila de discount" dataType="number">
        <dxo-lookup [dataSource]="displayDiscountGrids" valueExpr="id" [displayExpr]="getDisplayExprDiscountGrids">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="salePriceListId" caption="Lista de pret" dataType="number">
        <dxo-lookup [dataSource]="displaySalePriceLists" valueExpr="id" [displayExpr]="getDisplayExprSalePriceList">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="paymentInstrumentId" caption="Id Instrument de Plata" dataType="number">
        <dxo-lookup [dataSource]="paymentInstruments" valueExpr="id" [displayExpr]="getDisplayExprPaymentInstrumentType">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="paymentTermId" caption="Tip Termen de Plata" dataType="number">
        <dxo-lookup [dataSource]="paymentTermTypes" valueExpr="id" [displayExpr]="getDisplayExprPaymentTermType">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="validTo" caption="Valabil pana la" dataType="date">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="credit" caption="Credit" dataType="number">
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="contractSupportTypeId" caption="Tip Suport Contract" dataType="number">
        <dxo-lookup [dataSource]="contractSupportTypes" valueExpr="id" [displayExpr]="getDisplayExprContractSupportType">
        </dxo-lookup>
        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="electronicLink" caption="Link electronic" dataType="string"></dxi-column>
    <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center"></dxi-column>

    <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
    </dxi-column>   
    <div *dxTemplate="let data of 'cellTemplate'">
        <i class="fa fa-pencil fa-2x" style='padding-right : 15px' *ngIf="canUpdate()" href="javascript:void(0)" title="Edit"
            (click)="openDetails(data.data)"></i>
            &nbsp;
        <i class="fa fa-ban fa-2x" style='padding-right : 15px' *ngIf="canDelete()" href="javascript:void(0)" title="Stergere"
            (click)="deletePartnerContractRow(data)"></i>
            &nbsp;
        <i class="fa fa-file-pdf-o fa-2x" style='padding-right : 15px;' *ngIf="canExport()" href="javascript:void(0)" title="Download Contract"
            (click)="openDownloadContractPdfPopup(data.data)"></i>
    </div>
</dx-data-grid>

<dx-popup width="90%" height="50%" [showTitle]="true"
[resizeEnabled]="true" title="Contract Partener" [dragEnabled]="true" [closeOnOutsideClick]="false"
[(visible)]="popupVisible" (onHiding)="onPopupHidden()" *ngIf="popupRendered">
<dx-scroll-view width="100%" height="100%">
    <dx-validation-group #validationGroup>
        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Activ:</div>
            <div class="col-md-2 col-lg-2">
                <dx-check-box  [(ngModel)]="selectedPartnerContract.isActive"></dx-check-box>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Numar Contract Partener:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="selectedPartnerContract.contractNumber" [ngModelOptions]="{standalone: true}"></dx-text-box>
            </div>

            <div class="col-2 dx-field-label text-md-right">Tip Departament*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="departmentTypes" [(ngModel)]="selectedPartnerContract.departmentId" displayExpr="name"
                [searchEnabled]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>

            <div class="col-2 dx-field-label text-md-right">Tip Termen de Plata*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="paymentTermTypes" [(ngModel)]="selectedPartnerContract.paymentTermId" [displayExpr]="getDisplayExprPaymentTermType"
                [searchEnabled]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Tip Suport Contract*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="contractSupportTypes" [(ngModel)]="selectedPartnerContract.contractSupportTypeId" [displayExpr]="getDisplayExprContractSupportType"
                [searchEnabled]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>

            <div class="col-2 dx-field-label text-md-right">Id Instrument de Plata*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="paymentInstruments" [(ngModel)]="selectedPartnerContract.paymentInstrumentId" [displayExpr]="getDisplayExprPaymentInstrumentType"
                [searchEnabled]="true" valueExpr="id">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>

            <div class="col-2 dx-field-label text-md-right">Credit*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-number-box [(ngModel)]="selectedPartnerContract.credit" [ngModelOptions]="{standalone: true}">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-number-box>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Link electronic:</div>
            <div class="col-md-2 col-lg-2">
                <dx-text-box [(ngModel)]="selectedPartnerContract.electronicLink" [ngModelOptions]="{standalone: true}"></dx-text-box>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <div class="col-2 dx-field-label text-md-right">Nedeterminat*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-check-box [(ngModel)]="selectedPartnerContract.isForever"></dx-check-box>
            </div>

            <ng-container *ngIf="!selectedPartnerContract.isForever">
                <div class="col-2 dx-field-label text-md-right">Valabil pana la*:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-date-box [(ngModel)]="selectedPartnerContract.validTo" [ngModelOptions]="{standalone: true}" type="datetime">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
            </ng-container>
        </div>

        <br>

        <div class="form-group row">
            <div class="col-1 dx-field-label text-md-right">Locatie Partener*:</div>
            <div class="col-md-3 col-lg-3">
                <dx-select-box [dataSource]="partnerLocations" [(ngModel)]="selectedPartnerContract.partnerLocationId" [displayExpr]="getDisplayExprPartnerLocations"
                [searchEnabled]="true" valueExpr="id" (onValueChanged)="onPartnerLocationFieldSelectionChanged($event)">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>

            <div class="col-2 dx-field-label text-md-right">Tip Lista Vanzare*:</div>
            <div class="col-md-2 col-lg-2">
                <dx-select-box [dataSource]="saleListTypes" [(ngModel)]="selectedPartnerContract.saleListTypeId" [displayExpr]="getDisplayExprSaleListType" valueExpr="id"
                (onValueChanged)="onSaleListTypeFieldSelectionChanged($event)" [searchEnabled]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>

            <ng-container *ngIf="selectedPartnerContract.saleListTypeId === 2">
                <div class="col-2 dx-field-label text-md-right">Lista de pret*:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-select-box [dataSource]="formSalePriceLists" [(ngModel)]="selectedPartnerContract.salePriceListId" [displayExpr]="getDisplayExprSalePriceList"
                    [searchEnabled]="true" valueExpr="id">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{'required' | translate}}">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </ng-container>
        </div>
    </dx-validation-group>
    <hr>
    <br>
    <div class="d-flex justify-content-start" style="gap: 20px">
        <dx-button *ngIf="isOnSavePartnerContract" text="Salveaza" (onClick)="saveData()">
        </dx-button>
        <dx-button *ngIf="!isOnSavePartnerContract" text="Modifica" (onClick)="updateData()">
        </dx-button>
    </div>
</dx-scroll-view>
</dx-popup>

<dx-popup width="60%" height="40%" [showTitle]="true"
[resizeEnabled]="true" title="Download Contract" [dragEnabled]="true" [closeOnOutsideClick]="true"
[(visible)]="downloadPDFPopupVisible" (onHiding)="onDownloadContractPdfPopupHidden()">
<div style="display: flex; justify-content: space-between; align-items: center; height: 100%;">
    <div style="width: 50%; height: 100%;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div><strong>Template name</strong></div>
            <div><strong>Download document</strong></div>
        </div>
        <br>
        <br>
        <dx-scroll-view width="100%" height="80%" showScrollbar="always">
            <ng-container *ngFor="let documentTemplate of documentTemplates; let i = index">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>{{documentTemplate.name}}</div>
                    <i class="fa fa-download fa-2x" style="margin-right: 10px;" *ngIf="canExport()" href="javascript:void(0)" title="Download PDF"
                    (click)="downloadContractPdf(documentTemplate.name)"></i>
                    
                    <i class="fa fa-file fa-2x" style="margin-right: 10px;" *ngIf="canExportWord()" href="javascript:void(0)" title="Download Word" 
                    (click)="downloadContractWord(documentTemplate.name)"></i>
                </div>
                <hr *ngIf="i !== documentTemplates.length - 1">
            </ng-container>
        </dx-scroll-view>
    </div>
    <div style="align-self: flex-start; width: 50%; height: 100%; border-left: 1px solid rgb(196, 0, 0); padding-left: 10px; margin-left: 5%">
        <div style="text-align: center; color: rgb(196, 0, 0);"><strong>! Urmatoarele informatii vor lipsi din document:</strong></div>
        <br>
        <br>

        <dx-scroll-view width="100%" height="80%" showScrollbar="always">
            <ol>
                <li *ngFor="let data of emptyDataList">{{ data }}</li>
            </ol>
        </dx-scroll-view>

    </div>
</div>
</dx-popup>