.fa-info-circle {
    font-size: 20px;
}

.provenance-info-template-content {
    text-align: left;
    font-size: 15px;
}

.provenance-info-template-content-countries {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.provenance-info-btn {
    background-color: #e53935;
    color: white;
}

.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }