<app-spinner [visible]="loaded"></app-spinner>
<div *ngIf="barCode">
    <hr>
    <dx-validation-group #validationGroup>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-1 dx-field-label text-md-right">Standard EAN13*:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-select-box [dataSource]="standardTypes" [disabled]="!isOnSave" displayExpr="name" valueExpr="id"
                        [(ngModel)]="barCode.standardType" [searchEnabled]="true">
                        <dx-validator><dxi-validation-rule type="required"
                                message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                    </dx-select-box>
                </div>
                <div *ngIf="barCode.standardType" class="col-1 dx-field-label text-md-right">Cheie Licenta*:</div>
                <div *ngIf="barCode.standardType" class="col-md-2 col-lg-2">
                    <dx-text-box [(ngModel)]="barCode.ownerCode" [ngModelOptions]="{standalone: true}"
                        [disabled]="!isOnSave" (onValueChanged)="ownerCodeChange($event)">
                        <dx-validator>
                            <dxi-validation-rule type="stringLength" [min]="3"
                                message="Campul trebuie sa contina minim 3 cifre!"></dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [max]="11"
                                message="Campul trebuie sa contina max 11 cifre!"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="digitPattern"
                                message="Campul trebuie sa contina doar cifre!"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="col-1 dx-field-label text-md-right">Provenienta*:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-select-box [dataSource]="countrys" [disabled]="true" [displayExpr]="getDisplayExprCountries"
                        valueExpr="id" [(ngModel)]="barCode.countryId" [searchEnabled]="true">
                        <dx-validator><dxi-validation-rule type="required"
                                message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                    </dx-select-box>

                </div>
                <div class="col-md-2 col-lg-2">
                    <dx-button class="provenance-info-btn" text="Detalii Provenienta"
                        (onClick)="provenanceInfoPopupVisible = true"></dx-button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-1 dx-field-label text-md-right">De la*:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-text-box [(ngModel)]="barCode.fromString" [ngModelOptions]="{standalone: true}" [disabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="stringLength" [min]="5"
                                message="Campul trebuie sa contina 5 cifre!"></dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [max]="5"
                                message="Campul trebuie sa contina 5 cifre!"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="digitPattern"
                                message="Campul trebuie sa contina doar cifre!"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="col-1 dx-field-label text-md-right">Pana la*:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-text-box [(ngModel)]="barCode.toString" [ngModelOptions]="{standalone: true}" [disabled]="true">
                        <dx-validator>
                            <dxi-validation-rule type="stringLength" [min]="5"
                                message="Campul trebuie sa contina 5 cifre!"></dxi-validation-rule>
                            <dxi-validation-rule type="stringLength" [max]="5"
                                message="Campul trebuie sa contina 5 cifre!"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="digitPattern"
                                message="Campul trebuie sa contina doar cifre!"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>

                <div class="col-1 dx-field-label text-md-right">Proprietar:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-select-box [dataSource]="partners" [(ngModel)]="partnerId" valueExpr="id"
                        [displayExpr]="getDisplayExprPartners" [searchEnabled]="true"
                        (input)="onPartnerChanged($event)" (onValueChanged)="partnerChange($event)">
                        <dx-validator><dxi-validation-rule type="required"
                            message="{{'required' | translate}}"></dxi-validation-rule></dx-validator>
                    </dx-select-box>
                </div>

                <div class="col-1 dx-field-label text-md-right">Implicita:</div>
                <div class="col-md-2 col-lg-2">
                    <dx-check-box [(ngModel)]="barCode.isImplicit"></dx-check-box>
                </div>
            </div>
        </div>

    </dx-validation-group>

    <dx-button *ngIf="isOnSave" [disabled]="!barCode.countryId || barCode.countryId === 0"
        text="{{'buttons.save' | translate}}" (onClick)="saveData()">
    </dx-button>
    &nbsp;
    <dx-button *ngIf="!isOnSave" [disabled]="!barCode.countryId || barCode.countryId === 0"
        text="{{'buttons.update' | translate}}" (onClick)="updateData()">
    </dx-button>
    &nbsp;
    <dx-button text="{{'buttons.back' | translate}}" (onClick)="backToBarCode()">
    </dx-button>
</div>

<dx-popup *ngIf="provenanceInfoPopupVisible" [showTitle]="true" [resizeEnabled]="true" title="Detalii Provenienta"
    [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="provenanceInfoPopupVisible" width="80%" height="70%"
    class="custom-popup">
    <dx-scroll-view width="100%" height="100%">
        <div>
            <p class="provenance-info-template-content"><b>Instructiuni:</b> <br />
                1. Se selecteaza un Standard EAN13. <br />
                <br />
                3. Daca a fost introdusa o valoare valida in campul Cheie Licenta, campul Provenienta este
                completat automat. <br />

                <b>Primele 3 cifre valide din Cheie Licenta sunt in tabelul de mai jos.</b> <br />
            </p>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div>
                    <div class="mt-4">
                        <app-grid-toolbar #gridToolbar [actions]="actions" [showColumnSettings]="true"
                            (addEvent)="addBarCodeStandard()" [showExcel]="true" [showInfo]="true" (deleteEvent)="deleteRecords($event)"
                            [infoText]="infoButton" [fileName]="'countryBarCodeStandard'" [showPrint]="true"
                            (refreshEvent)="refreshDataGrid()">
                        </app-grid-toolbar>
                        <div class="float-none" style="clear: both;"></div>
                    </div>
                    <div class="mt-4"></div>
                    <dx-data-grid id="gridContainer" #dataGrid [dataSource]="countryBarCodeStandard"
                        [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true" (onSelectionChanged)="selectionChanged($event)"
                        (onRowInserting)="onRowInserting($event)" (onRowUpdated)="onRowUpdated($event)"
                        (onEditorPreparing)="onEditorPreparing($event)" (onInitNewRow)="onInitNewRow($event)"
                        (onRowPrepared)="onRowPrepared($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-filter-panel [visible]="true">
                        </dxo-filter-panel>
                        <dxo-header-filter [visible]="true">
                        </dxo-header-filter>
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-editing mode="form">
                            <dxo-form>
                                <dxi-item dataField="countryId"></dxi-item>
                                <dxi-item dataField="standardType"></dxi-item>
                                <dxi-item dataField="from"></dxi-item>
                                <dxi-item dataField="to"></dxi-item>
                            </dxo-form>
                        </dxo-editing>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                        <dxi-column dataField="countryId" caption="Tara" dataType="string" alignment="center">
                            <dxo-lookup [dataSource]="countrys" valueExpr="id" [displayExpr]="getDisplayExprCountries">
                            </dxo-lookup>
                        </dxi-column>

                        <dxi-column dataField="standardType" caption="Standard EAN13" dataType="string"
                            alignment="left">
                            <dxo-lookup [dataSource]="standardTypes" valueExpr="id" displayExpr="name">
                            </dxo-lookup>
                        </dxi-column>

                        <dxi-column dataField="from" caption="De La" dataType="number" alignment="right">
                        </dxi-column>

                        <dxi-column dataField="to" caption="Pana La" dataType="number" alignment="right">
                        </dxi-column>

                        <dxi-column caption="Actiuni" cellTemplate="cellTemplate" alignment="center" [width]="120" [minWidth]="120">
                        </dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <i class="fa fa-pencil fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                title="Edit" (click)="openDetails(data)"></i>
                            &nbsp;
                            <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)"
                                title="Stergere" (click)="deleteRow(data)"></i>
                        </div>
                    </dx-data-grid>
                </div>
                <br>
            </div>
        </div>
    </dx-scroll-view>
</dx-popup>