.fa-pencil, .fa-clone, .fa-ban  {
    color: rgb(196, 0, 0);
  }


  body .custom-item {
    padding-left: 7px;
    padding-right: 7px;
}
::ng-deep .custom-item > img {
    height: 30px;
    width: 40px;
    float: left;
    margin-top: 2px;
}
::ng-deep .custom-item > div.product-name {
    margin-left: 40px;
    line-height: 34px;
    font-size: 14px;
}

body .custom-item input {
    background-color: transparent;
}

body .dx-popup-content .custom-item {
    padding-top: 7px;
    padding-bottom: 8px;
}
::ng-deep .dx-popup-content .custom-item > div {
    padding-left: 8px;
    text-indent: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
}

div.inline { float:left; }  

.tooltip-item {
 display: flex;
 justify-content: space-between;
 padding: 5px 0;
}

.tooltip-item .status {
 color: green;
}

.tooltip-item .status.not-visible {
 color: red;
}

.eshop-item-visible {
 font-size: 14px;
 text-align: left;
}

.row {
    margin-left: -10px;
    margin-right: -10px; 
  }
  
.row > .col,
.row > [class*='col-'] {
    padding-left: 5px; 
    padding-right: 5px;
}