<app-spinner [visible]="loaded"></app-spinner>
<div *ngIf="item">
    <dx-validation-group #validationGroup>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" title="Cod Produs">Cod Produs*:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-text-box [(ngModel)]="item.code" [ngModelOptions]="{standalone: true}" [maxLength]="250" [disabled]="shouldAllowCodeChange"
                                (onValueChanged)="itemTextChanged($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right" title="Cod Produs Grupat">Cod Produs Grupat*:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-select-box [dataSource]="itemGroupsDS" displayExpr="code" valueExpr="id" [searchEnabled]="true" [disabled]="shouldAllowCodeChange"
                                [(ngModel)]="item.itemGroupId" (onValueChanged)="itemGroupChanged($event)" [dropDownOptions]="{ minWidth: '250' }">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div>
                            <dx-button (onClick)="refreshItemGroupDataSource()" data-toggle="tooltip" title="Refresh">
                                <i class="fa fa-refresh"></i>
                            </dx-button>
                        </div> 

                        <div class=" col-md-1 col-lg-1 dx-field-label text-md-right" title="Selecteaza produs similar">Selecteaza produs similar:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="itemSmall" [(ngModel)]="itemToCopy" [displayExpr]="getDisplayExprMU"
                                [searchEnabled]="true" valueExpr="id" (onValueChanged)="itemCopyValueChange($event)" [dropDownOptions]="{ minWidth: '350' }">
                            </dx-select-box>
                        </div>
                    </div>
                </div>  
                
                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" title="Copiaza date">
                            <dx-button text="Copiaza date" (onClick)="copyItemEvent()" [disabled]="shouldAllowCodeChange"></dx-button>
                        </div>
                        <div class="col-md-3 col-lg-3" title="Copiaza specializari">
                            <dx-button text="Copiaza specializari" (onClick)="copySpecializationsClicked()"></dx-button>
                        </div>

                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right" title="Tip compunere pret">Tip compunere pret*:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="priceCompositionType" [(ngModel)]="item.priceCompositionType" displayExpr="name" [disabled]="true"
                                [searchEnabled]="true" valueExpr="id" (onValueChanged)="priceCompositionTypeChange($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>                
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" title="Denumire produs simplu(RO)">Denumire produs simplu(RO)*:</div>
                        <div class="col-md-5 col-lg-5">
                            <dx-text-box [(ngModel)]="item.nameRO" [ngModelOptions]="{standalone: true}" [maxLength]="250">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>

                        <div class="col-1 dx-field-label text-md-right" title="Denumire produs simplu(EN)">Denumire produs simplu(EN)*:</div>
                        <div class="col-md-5 col-lg-5">
                            <dx-text-box [(ngModel)]="item.nameENG" [ngModelOptions]="{standalone: true}" [maxLength]="250">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class=" col-md-2 col-lg-2 dx-field-label text-md-right" title="Mod aprovizionare">Mod aprovizionare*:</div>
                        <div class=" col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="itemStates" [(ngModel)]="item.stateId" displayExpr="name"
                                [searchEnabled]="true" valueExpr="id" (onValueChanged)="itemStateValueChange($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
        
                        <div *ngIf="item.stateId == 1 && item.id && searchSupplierPriceList" class=" col-md-2 col-lg-2 dx-field-label text-md-right" title="Durata achizitie (zile)">Durata achizitie (zile)*:</div>
                        <div *ngIf="item.stateId == 1 && item.id && searchSupplierPriceList" class=" col-md-4 col-lg-4">
                            <dx-number-box [(ngModel)]="searchSupplierPriceList.purchaseDuration"
                                [ngModelOptions]="{standalone: true}" >
                            </dx-number-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" title="Denumire scurta ERP(RO)">Denumire scurta ERP(RO)*:</div>
                        <div class="col-md-5 col-lg-5">
                            <dx-text-box [(ngModel)]="item.shortNameRO" [ngModelOptions]="{standalone: true}">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>

                        <div class="col-1 dx-field-label text-md-right" title="Denumire scurta ERP(EN)">Denumire scurta ERP(EN)*:</div>
                        <div class="col-md-5 col-lg-5">
                            <dx-text-box [(ngModel)]="item.shortNameENG" [ngModelOptions]="{standalone: true}">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [max]="100" message="Lungimea maximă depășită!">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-2 dx-field-label text-md-right" data-toggle="tooltip" title="Unitatile de masura apar doar daca exista conexiune cu ERP!">Unitate de masura*:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="measurementUnits" [displayExpr]="getDisplayExprMU" valueExpr="id"
                                [searchEnabled]="true" [(ngModel)]="item.measurementUnitId">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>

                        <div class="col-2 dx-field-label text-md-right" title="Tip Produs">Tip Produs*:</div>
                        <div class="col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="itemTypes" [displayExpr]="getDisplayExprMU" valueExpr="id"
                                [searchEnabled]="true" [(ngModel)]="item.itemTypeId" [dropDownOptions]="{ minWidth: '150' }"
                                (onValueChanged)="itemTypeChangeEvent($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-lg-8">
                    <div class="row">                     
                        <div class="col-1 dx-field-label text-md-right" title="Stocabil">Stocabil:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.isStockable" [disabled]="true"></dx-check-box>
                        </div>
                        <div *ngIf="item.id" class="col-1 dx-field-label text-md-right" title="Stoc Dragan01/Croitorie">Stoc Dragan01/Croitorie:</div>
                        <div *ngIf="item.id" class="col-md-1 col-lg-1">
                            <dx-number-box [(ngModel)]="itemStock" [disabled]="true"></dx-number-box>
                        </div>

                        <div class="col-1 dx-field-label text-md-right" title="Tip Rata TVA">Tip Rata TVA*:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-select-box [dataSource]="taxRateTypes" [(ngModel)]="item.taxRateVATType"
                                [displayExpr]="getDisplayExprTaxRate" valueExpr="id" [disabled]="item.isStockable"
                                [searchEnabled]="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>

                        <div *ngIf="item.isStockable" class="col-1 dx-field-label text-md-right" title="Cod vamal">Cod vamal*:</div>
                        <div *ngIf="item.isStockable" class="col-md-4 col-lg-4">
                            <dx-select-box [dataSource]="customCodesDS" [displayExpr]="getDisplayExpCustomCode" valueExpr="id" [disabled]="true"
                                [searchEnabled]="true" [(ngModel)]="item.customCodeId"
                                (onValueChanged)="customCodeChange($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" title="Rulaj">Rulaj*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-number-box [(ngModel)]="item.turnOver" [ngModelOptions]="{standalone: true}" [max]="9999999">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-number-box>
                        </div>

                        <div class="col-1 dx-field-label text-md-right" title="Rulaj Evaluat">Rulaj Evaluat:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-number-box [(ngModel)]="item.evaluatedTurnover" [ngModelOptions]="{standalone: true}" [max]="9999999">
                            </dx-number-box>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <dx-button text="Rezolva Rulaj" *ngIf="canFixTurnover()" (onClick)="fixTurnover()"></dx-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-lg-8">
                    <div class="row">
                        <div *ngIf="!isOnSave" class="col-1 dx-field-label text-md-right" title="R3/R6/R9/R12">R3/R6/R9/R12:</div>
                        <div *ngIf="!isOnSave" class="col-md-2 col-lg-2">
                            <dx-text-box [(ngModel)]="itemTurnOver" [ngModelOptions]="{standalone: true}" [disabled]="true">
                            </dx-text-box>
                        </div>
                        <div *ngIf="!isOnSave" class="col-1 col-md-1 col-lg-1">
                            <dx-button text="R" (onClick)="getMonthTurnover()"></dx-button>
                        </div>

                        <div class="col-1 dx-field-label text-md-right" title="Etichete">Etichete:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-tag-box [dataSource]="tags" valueExpr="id" displayExpr="name" [(ngModel)]="item.tagIds"
                                itemTemplate="customItem" tagTemplate="tagTemplate">
    
                                <div *dxTemplate="let data of 'tagTemplate'">
                                    <div class="custom-item">
                                        <div class='box' [ngStyle]="{'background-color':  data.code}"></div>
                                    </div>
                                </div>
    
                                <div *dxTemplate="let product of 'customItem'">
                                    <div class="custom-item">
                                        <div class='box inline' [ngStyle]="{'background-color':  product.code}"></div>
                                        <div class='inline'> - {{product.name}}</div>
                                    </div>
                                </div>
                            </dx-tag-box>
                        </div>
    
                        <div class="col-1 dx-field-label text-md-right" title="Propus de">Propus de:</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-select-box [dataSource]="supplyAndSalesPosts"
                                [(ngModel)]="item.proposedById" [displayExpr]="getDisplayExprProposedBy" valueExpr="id" [searchEnabled]="true">
                            </dx-select-box>
                        </div>
    
                        <div class="col-1 dx-field-label text-md-right" title="Valid">Valid:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.isValid" [disabled]="itemStock > 0"></dx-check-box>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" title="Activ">Activ:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.isActive"></dx-check-box>
                        </div>

                        <div class="col-1 dx-field-label text-md-right" title="Perioada alertare (luni)">Perioada alertare (luni):</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-number-box [(ngModel)]="item.alertPeriod" [ngModelOptions]="{standalone: true}" [max]="9999999">
                            </dx-number-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right" title="Periodicitate (zi/ora)">Periodicitate (zi/ora):</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-date-box [(ngModel)]="item.periodicity" [ngModelOptions]="{standalone: true}" type="datetime">
                            </dx-date-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right" title="Nr. alerte">Nr. alerte</div>
                        <div class="col-md-2 col-lg-2">
                            <dx-number-box [(ngModel)]="item.numberOfAlerts" [ngModelOptions]="{standalone: true}" [max]="9999999">
                            </dx-number-box>
                        </div>
                    </div>
                </div>
            </div>

       <div class="form-group row">
                <div class="col-md-8 col-lg-8">
                    <app-partner-dropdown-search #partnerDropdownSearch [partnerLabelText]="'Furnizor Implicit'" [componentColMdLenghtSize]="10"
                    [secondComponentColMdLenghtSize]="12"
                    [(partnerId)]="item.partnerId" [isClient]="false" [isSupplier]="true" [isDisabledOnUpdate]="false"
                    [isRequired]="true" (partnerChange)="partnerChange($event)">
                    </app-partner-dropdown-search>
                </div>

             
             <div class="col-md-4 col-lg-4" *ngIf="item && (item.itemTypeId == 101 || item.itemTypeId == 97)">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right" title="Exista data expirare">BBD:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.hasBbd" (onValueChanged)="stateCheckboxChanged($event, 'BBD')"></dx-check-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right" title="Exista lot">LOT:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.hasLot" (onValueChanged)="stateCheckboxChanged($event, 'LOT')"></dx-check-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right" title="Exista data productie">MGF:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.hasMgf" (onValueChanged)="stateCheckboxChanged($event, 'MGF')"></dx-check-box>
                        </div>
                        <div class="col-1 dx-field-label text-md-right" title="Exista numar de serie">S/N:</div>
                        <div class="col-md-1 col-lg-1">
                            <dx-check-box [(ngModel)]="item.hasSn" (onValueChanged)="stateCheckboxChanged($event, 'S/N')"></dx-check-box>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="itemDCR && (itemDCR.d0 && itemDCR.c0 && itemDCR.r0)">
                <div class="form-group row">
                    <div class="col-md-4 col-lg-4">
                        <div class="row">
                            <div id="isEshopItemVisibile" class="col-1 dx-field-label text-md-right" title="Vizibil ESHOP Ro">Vizibil ESHOP Ro:</div>
                            <div class="col-md-1 col-lg-1">
                                <dx-check-box [(ngModel)]="isRoLangEshopItemVisible" [disabled]="true"></dx-check-box>
                            </div>
        
                            <div class="col-md-10 col-lg-10">
                                <strong>D0</strong>: {{ itemDCR.d0 | number: '1.2-2' }} RON / <strong>C0</strong>: {{ itemDCR.c0 | number: '1.2-2' }} RON / <strong>R0</strong>: {{ itemDCR.r0 | number: '1.2-2' }} RON
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </dx-validation-group>

    <ng-container *ngFor="let tab of detailsTabs">
        <!-- TODO: De scos ngIf tab.id !== 2 atunci cand se stabileste daca se pastreaza sau nu componenta de 'Caracteristici' pe produs -->
        <dx-button *ngIf="tab.id !== 2" text="{{tab.name | translate}}" [ngClass]="tab.isActive ? isTabActive : null"
            (onClick)="toggleMode(tab)">
        </dx-button>
        &nbsp;
    </ng-container>
    <br>
    <hr>

    <div *ngIf="!isOnSave" [hidden]="!detailsTabs[0].isActive" >
        <dx-data-grid id="barCodeGrid" [dataSource]="allocatedBarCodes" [rowAlternationEnabled]="true" [allowColumnReordering]="false" [width]="500"> 
            <dxo-filter-row [visible]="false"></dxo-filter-row>
            <dxo-filter-panel [visible]="false"></dxo-filter-panel>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-column-chooser [enabled]="false"></dxo-column-chooser>
            <dxo-group-panel [visible]="false" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-paging [pageSize]="15"></dxo-paging>    
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>  
            <dxi-column dataField="barCode" caption="Coduri de bare" dataType="string" [width]="500" [minWidth]="500"></dxi-column>
        </dx-data-grid>
    </div>
    <div *ngIf="false" [hidden]="!detailsTabs[1].isActive">     <!-- TODO: de scos ngIf = false atunci cand se stabileste daca se pastreaza sau nu componenta de 'Caracteristici' pe produs -->
       <app-item-properties #itemProperties [(item)]="item" ></app-item-properties>
    </div>
    <div [hidden]="!detailsTabs[2].isActive" *ngIf="!isOnSave">
        <app-item-logistics #itemLogistics [(item)]="item"></app-item-logistics>
    </div>
    <div [hidden]="!detailsTabs[3].isActive">
        <app-item-ecommerce #itemEcommerce [(item)]="item"></app-item-ecommerce>
    </div>
    <div [hidden]="!detailsTabs[4].isActive" *ngIf="!isOnSave">
        <app-item-related #itemRelated [(item)]="item"></app-item-related>
    </div>
    <div [hidden]="!detailsTabs[5].isActive">
        <div class="mt-4">
            <app-grid-toolbar #specToolbar [actions]="actions" [showColumnSettings]="true" [showExcel]="true" [showInfo]="true" [infoText]="itemDetailsSpecInfo"
                [fileName]="'specItem'" [showPrint]="true" (addEvent)="addSingleSpecializationDataEvent()" (displayEvent)="displayDataEvent($event)"
                (refreshEvent)="refreshSpecDataGrid()" (deleteEvent)="deleteSpecRecords($event)"

                [showSecondSpecialButton]="true"
                [secondSpecialButtonText]="'Adauga Multiplu'" [secondSpecialButtonDescription]="'Adauga Multiplu'"
                [secondSpecialButtonIcon]="'fa fa-plus'" (secondSpecialEvent)="addMultipleSpecialziationsDataEvent()">
            </app-grid-toolbar>
            <div class="float-none" style="clear: both;"></div>
        </div>
        <div class="mt-4"></div>
        <dx-data-grid id="gridContainer" #specDataGrid [dataSource]="item.caenCodeSpecializations" [rowAlternationEnabled]="true" [showBorders]="false"
            [allowColumnReordering]="true"  (onInitNewRow)="onInitNewRow($event)"  (onCellPrepared)="onCellPrepared($event)"
            (onEditorPreparing)="onEditorPreparing($event)" (onRowInserting)="insertRow($event)" (onRowUpdating)="onRowSpecUpdated($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>

            <dxo-editing mode="cell" [allowUpdating]="true">
            </dxo-editing>

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

            <dxi-column dataField="caenCodeSpecializationId" caption="Specializare" alignment="left" [allowEditing]="true"> 
                <dxo-lookup [dataSource]="caenSpecializationsDS" valueExpr="id" [displayExpr]="getSecondDisplayExpr">
                </dxo-lookup>
                <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
            </dxi-column>

            <dxi-column dataField="sgf" caption="SGF" dataType="boolean" type="boolean" alignment="center" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="cda" caption="CDA" dataType="boolean" type="boolean" alignment="center" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="szo" caption="SZO" dataType="boolean" type="boolean" alignment="center" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="alt" caption="ALT" dataType="boolean" type="boolean" alignment="center" [allowEditing]="true"></dxi-column>

            <dxi-column caption="Actiuni" cellTemplate="cellTemplate" [width]="250" [minWidth]="250" alignment="center">
            </dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <i class="fa fa-ban fa-2x" style='padding-right : 15px' href="javascript:void(0)" title="Stergere"
                    (click)="deleteSpecRow(data)"></i>
            </div>
            </dx-data-grid>
            <hr>

            <dx-button text="Salveaza Specializari" type="danger" *ngIf="item && item.id" (onClick)="saveSpecializations()">
            </dx-button> 
    </div>
    <div [hidden]="!detailsTabs[6].isActive" *ngIf="!isOnSave">
        <app-item-x-client-monitoring #itemXClientMonitoring [(item)]="item" [(itemDCR)]="itemDCR"></app-item-x-client-monitoring>
    </div>
    <div [hidden]="!detailsTabs[7].isActive">
        <app-item-automation #itemAutomation [item]="item"></app-item-automation>
    </div>
    <div [hidden]="!detailsTabs[8].isActive" *ngIf="!isOnSave">
        <app-item-specification #itemSpecification [item]="item"></app-item-specification>
    </div>

    <dx-popup [width]="1400" [height]="500" [showTitle]="true" [resizeEnabled]="false" [title]="addModeMultiple ? 'Adauga Specializari Multiple' : 'Adauga Specializare'"
    [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="addSpecialziationsPopup">

    <div class="row">
        <div class="col-3 dx-field-label text-md-right">{{ addModeMultiple ? 'Specializari' : 'Specializare' }}:</div>
        <div class="col-md-6 col-lg-6">
            <dx-tag-box *ngIf="addModeMultiple" [dataSource]="caenSpecializationsDS" [(ngModel)]="multipleSpecializationsIds" [displayExpr]="getSecondDisplayExpr"
                valueExpr="id" [showSelectionControls]="true" [maxDisplayedTags]="10"
                [showMultiTagOnly]="false" applyValueMode="useButtons" [searchEnabled]="true"
                [hideSelectedItems]="false">
            </dx-tag-box>
            <dx-select-box *ngIf="!addModeMultiple" [dataSource]="caenSpecializationsDS" [(ngModel)]="singleSpecializationsId" [displayExpr]="getSecondDisplayExpr"
                valueExpr="id" [searchEnabled]="true">
            </dx-select-box>
        </div>
    </div>
  &nbsp;

    <div class="row">
        <div class="col-1 dx-field-label text-md-right">
            <span appTooltipify [appTooltipifyText]="textSGF" [appTooltipifyDirection]="'bottom'">SGF:</span>
        </div>
        <div class="col-md-1 col-lg-1">
            <dx-check-box [(ngModel)]="isSGF"
            (onValueChanged)="addSpecCheckboxChanged($event, 'SGF')"
            ></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">
            <span appTooltipify [appTooltipifyText]="textCDA" [appTooltipifyDirection]="'bottom'">CDA:</span>
        </div>
        <div class="col-md-1 col-lg-1">
            <dx-check-box [(ngModel)]="isCDA" 
            (onValueChanged)="addSpecCheckboxChanged($event, 'CDA')"
            ></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">
            <span appTooltipify [appTooltipifyText]="textSZO" [appTooltipifyDirection]="'bottom'">SZO:</span>
        </div>
        <div class="col-md-1 col-lg-1">
            <dx-check-box [(ngModel)]="isSZO"
            (onValueChanged)="addSpecCheckboxChanged($event, 'SZO')"
            ></dx-check-box>
        </div>
        <div class="col-1 dx-field-label text-md-right">
            <span appTooltipify [appTooltipifyText]="textALT" [appTooltipifyDirection]="'bottom'">ALT:</span>
        </div>
        <div class="col-md-1 col-lg-1">
            <dx-check-box [(ngModel)]="isALT"
            (onValueChanged)="addSpecCheckboxChanged($event, 'ALT')"
            ></dx-check-box>
        </div>
    </div>
    <hr>

    <dx-button *ngIf="addModeMultiple" text="Adauga" type="danger" (onClick)="addSpecsInGrid()">
    </dx-button>

    <dx-button *ngIf="!addModeMultiple" text="Adauga" type="danger" (onClick)="addSpecInGrid()">
    </dx-button>

</dx-popup>
    <dx-popup [width]="1800" [height]="700" [showTitle]="true" [resizeEnabled]="false" title="Rulaj Lunar"
        [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="monthTurnOverPopup">
        <dx-data-grid [dataSource]="monthTurnOvers" [width]="1700" [rowAlternationEnabled]="true" [showBorders]="false"
            [allowColumnReordering]="true">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>

            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>

            <dxi-column dataField="productConvention" caption="Operatie" dataType="string" alignment="left" width="200">
            </dxi-column>
            <dxi-column dataField="total" caption="Total" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month12" caption="L-12" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month11" caption="L-11" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month10" caption="L-10" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month9" caption="L-9" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month8" caption="L-8" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month7" caption="L-7" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month6" caption="L-6" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month5" caption="L-5" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month4" caption="L-4" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month3" caption="L-3" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month2" caption="L-2" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="month1" caption="L-1" dataType="number" alignment="center"></dxi-column>
            <dxi-column dataField="currentMonth" caption="L-C" dataType="number" alignment="center"></dxi-column>
        </dx-data-grid>
    </dx-popup>

    <dx-popup [width]="750" [height]="200" [showTitle]="true" [resizeEnabled]="true"
        title="{{'buttons.upsertItemERP' | translate}}" [dragEnabled]="false" [closeOnOutsideClick]="true"
        [(visible)]="erpPopup">
        <dx-button *ngIf="(item && !item.syncERPExternalId && !isItemSentToCHR)" stylingMode="contained"  text="In Charisma" type="danger" [width]="200"
            (onClick)="insertERP(item.id)">
        </dx-button>
        <dx-button stylingMode="contained" text="{{'general.no' | translate}}" type="normal" [width]="200"
        (onClick)="erpPopup = false">
    </dx-button>
        <dx-button *ngIf="(item && !item.syncSeniorExternalId && !isItemSentToSenior)" stylingMode="contained" text="In SENIOR" type="danger" [width]="200"
        (onClick)="insertERP(item.id, true)">
        </dx-button>

    </dx-popup>

    <hr>
    <dx-button text="{{'buttons.back' | translate}}" *ngIf="item" (onClick)="backToItem()">
    </dx-button>
    &nbsp;
    <dx-button *ngIf="isOnSave" text="{{'buttons.save' | translate}}" (onClick)="saveData()">
    </dx-button>
    &nbsp;
    <dx-button *ngIf="!isOnSave && canUpdate()"
        text="{{  item && (item.syncERPExternalId || item.syncSeniorExternalId) ? 'Modifica datele si Trimite la ERP' : 'Modifica' }}"
        (onClick)="updateData()">
    </dx-button>
    &nbsp;
    <dx-button *ngIf="!isOnSave && item && hasERPActive && (!item.syncERPExternalId || !item.syncSeniorExternalId)" type="danger"
        text="{{'buttons.upsertItemERP' | translate}}" (onClick)="openERPPopup()">
    </dx-button>
    &nbsp;
    <dx-button *ngIf="!isOnSave" (onClick)="showHistory = !showHistory" data-toggle="tooltip" title="Istoric">
        <i class="fa fa-history"></i>
    </dx-button>

    <div [hidden]="!showHistory">
        <div class="form-group row" *ngIf="(item && item.createdBy && item.created)">
            <div class="col-xs-12">
                <p><b>{{getItemCreated(item, true)}}</b></p>
            </div>
        </div>
        <div class="form-group row" *ngIf="(item && item.modifiedBy && item.modified)">
            <div class="col-xs-12">
                <p><b>{{getItemCreated(item, false)}}</b></p>
            </div>
        </div>
        <div class="form-group row"
            *ngIf="(item && item.syncERPExternalId && itemERPSyncHistoryItem) || isItemSentToERP">
            <div class="col-xs-12">
                <p><b>{{getItemERPSyncHistory(item.id)}}</b></p>
            </div>
        </div>
    </div>
</div>

<dx-tooltip target="#isEshopItemVisibile" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'" class="eshop-item-visible" position="top">
        <ng-container *ngIf="eshopItemVisibilityData.length; else noData">
            <div *ngFor="let item of eshopItemVisibilityData" class="tooltip-item">
              <span>{{item.languageName}}</span> &nbsp;
              <span class="status" [ngClass]="{'not-visible': !item.isVisibleEshop}">
                {{item.isVisibleEshop ? 'Vizibil' : 'Nu este vizibil'}}
              </span>
            </div>
        </ng-container>
        <ng-template #noData>
            <div class="no-data-message">Nu este vizibil in nicio limba!</div>
        </ng-template>
    </div>
</dx-tooltip>

<dx-popup [width]="500" [height]="250" [resizeEnabled]="true" [showTitle]="true" title="Validare"
    [dragEnabled]="true" [closeOnOutsideClick]="true" [(visible)]="openValdiationPopup">
   <div>Sunteti sigur ca doriti eliminarea bifei {{rememberCheckBox}} de pe produs? Aceasta va duce la pierderea trasabilitatii tuturor produselor!</div>
    &nbsp;
    <div class="form-group row">
        <div class="col-4 dx-field-label">
            <dx-button stylingMode="contained" text="Da" type="danger" [width]="200"
            (onClick)="closeValidationPopup(false)">
        </dx-button>
        </div>
        <div class="col-4 dx-field-label">
            <dx-button stylingMode="contained" text="Nu"  [width]="200"
            (onClick)="closeValidationPopup(true)">
        </dx-button>
    </div>
    </div>
</dx-popup>