<app-spinner [visible]="loaded"></app-spinner>

<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <app-title [title]="'Alertare Stoc'"></app-title>

            <div>
                <div class="mt-4">
                    <div>
                        <app-grid-toolbar #gridToolbar [actions]="actions" 
                            (addEvent)="addSupplierOrigin()" (refreshEvent)="refreshDataGrid()"
                            (deleteEvent)="deleteRecords($event)">
                        </app-grid-toolbar>
                    </div>
                </div>
                
                <dx-data-grid id="gridContainer" #dataGrid [dataSource]="supplierOrigin" [showBorders]="true" [showRowLines]="true" [allowColumnReordering]="true" [allowColumnResizing]="true"
                    (onSelectionChanged)="onSelectionChanged($event)" (onRowUpdated)="onRowUpdated($event)" (onCellPrepared)="onCellPrepared($event)" (onRowInserting)="onRowInserting($event)"> 
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                 
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-sorting mode="multiple"></dxo-sorting>
                    <dxo-paging [pageSize]="15"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
                    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                
                    <dxi-column dataField="code" caption="Cod" dataType="string" alignment="left" [allowEditing]="false" [width]="250">
                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="name" caption="Tip Furnizor" dataType="string" [allowEditing]="false" alignment="left" [width]="250">
                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                    </dxi-column>
                    <dxi-column dataField="stockAlertMultiplier" caption="Multiplicator Rulaj Alertare Stoc" dataType="string" alignment="right" [width]="250"></dxi-column>
                    <dxi-column dataField="lowerMargin" caption="Marja Inferioara (%)" dataType="number" alignment="right" [width]="250" cellTemplate="lowerMarginCellTemplate"></dxi-column>
                    <dxi-column dataField="upperMargin" caption="Marja Superioara (%)" dataType="number" alignment="right" [width]="250" cellTemplate="upperMarginCellTemplate"></dxi-column>
                    <dxi-column dataField="isActive" caption="Activ" dataType="boolean" alignment="center" [width]="100">
                        <dxi-validation-rule type="required" message="{{'required' | translate}}"></dxi-validation-rule>
                    </dxi-column>
                
                    <dxi-column caption="" cellTemplate="cellTemplate" [width]="40" [minWidth]="40" alignment="center">
                    </dxi-column>   
                    <div *dxTemplate="let data of 'cellTemplate'">
                        <i class="fa fa-ban fa-2x" href="javascript:void(0)" title="Stergere" (click)="deleteRow(data)"></i>
                    </div>
                    <div *dxTemplate="let data of 'lowerMarginCellTemplate'">
                        {{ data.data.lowerMargin ? (roundValue(data.data.lowerMargin) + ' %') : '' }}
                    </div>
                    <div *dxTemplate="let data of 'upperMarginCellTemplate'">
                        {{ data.data.upperMargin ? (roundValue(data.data.upperMargin) + ' %') : '' }}
                    </div>                      
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>