<app-spinner [visible]="loaded"></app-spinner>
<div *ngIf="partner && partner.id" class="mt-4">
    <div class="d-flex align-items-center ms-3 unique-pricipal-activity">
        <div class="text-md-right me-2">Pentru a adauga Activitati si Specializari, procedati astfel: Selectati din DropDown specializarile si activitatile pentru locatia dorita si apoi apasati pe butonul rosu "Salveaza activitati si specializari"</div>
    </div>
</div>
<hr />
<div *ngIf="partner && partner.id" class="mt-4">
    <div class="d-flex align-items-center ms-3 unique-pricipal-activity">
        <div class="text-md-right me-2">Toate Locatiile:</div>
        <dx-check-box [(ngModel)]="partner.isPrincipalActivityUniqueForAllLocations" [ngModelOptions]="{standalone: true}"></dx-check-box>
    </div>
</div>
<div *ngIf="!partner.id">
    <dx-validation-group #specializationsValidationGroup>
        <div *ngIf="partner && partner.id && partner.isPrincipalActivityUniqueForAllLocations">
            <div class="col-12">
                <div class="location-name-label">{{ allLocationNames }}</div>
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-1 dx-field-label text-md-right">Activitate principala*:</div>
                    <div class="col-md-3 col-lg-3">
                        <dx-select-box [dataSource]="partnerActivityAllocation"
                            [displayExpr]="getDisplayExprPartnerActivity" valueExpr="id"
                            (onValueChanged)="partnerActivityChanged($event)"
                            [searchEnabled]="true" [(ngModel)]="initialPartnerLocation.partnerActivityAllocationId" [ngModelOptions]="{standalone: true}">
                            <dx-validator>
                                <dxi-validation-rule type="required"
                                    message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-select-box>
                    </div> 
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-1 col-md-1 col-lg-1 dx-field-label text-md-right">Specializari:</div>
                    <div class="col-4 col-md-4 col-lg-4">
                        <dx-tag-box [dataSource]="sortedCaenSpecializationsDS" (onOpened)="onInitialLocationSpecsOpen($event)"
                                    [(ngModel)]="initialPartnerLocation.caenCodeSpecializationIds"
                                    valueExpr="id" [displayExpr]="getSpecsDisplayExpr"
                                    [showSelectionControls]="true" [maxDisplayedTags]="10"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons"
                                    [searchEnabled]="true" [hideSelectedItems]="false">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-tag-box>
                    </div>
                </div>
            </div>
            
        </div>
    </dx-validation-group>
</div>
<div *ngIf="partner && partner.id && partnerLocations && partnerLocations.length > 0">
    <dx-validation-group #specializationsValidationGroup>
        <div *ngIf="partner.isPrincipalActivityUniqueForAllLocations">
            <div class="col-12">
                <div class="location-name-label">{{ allLocationNames }}</div>
            </div>
    
            <div class="form-group row mb-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right">Activitate principala*:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-select-box [dataSource]="partnerActivityAllocation"
                                [displayExpr]="getDisplayExprPartnerActivity" valueExpr="id" (onValueChanged)="selectedPartnerActivityChanged($event, implicitLocation)"
                                [searchEnabled]="true" [(ngModel)]="implicitLocation.partnerActivityAllocationId" [ngModelOptions]="{standalone: true}">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                        message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div> 
                        <div class="col-md-1 col-lg-1">
                            <dx-button type="danger" text="Adauga specializari"
                                (onClick)="addExtraSpecialziations(implicitLocation)">
                            </dx-button>
                        </div>
                    </div>
                </div>
    
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 dx-field-label text-md-right">Activitati secundare:</div>
                        <div class="col-md-3 col-lg-3">
                            <dx-tag-box [dataSource]="partnerActivityAllocation"
                                [(ngModel)]="activitiesByLocation[implicitLocation.id]"
                                valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity"
                                [showSelectionControls]="true" [maxDisplayedTags]="5"
                                [showMultiTagOnly]="false" applyValueMode="useButtons"
                                [searchEnabled]="true" [hideSelectedItems]="false">
                            </dx-tag-box>
                        </div>
                    </div>
                </div>
    
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 col-md-1 col-lg-1 dx-field-label text-md-right">Specializari:</div>
                        <div class="col-4 col-md-4 col-lg-4">
                            <dx-tag-box [dataSource]="sortedCaenSpecializationsDS" (onOpened)="onSpecsOpen($event, implicitLocation.id)"
                                        [(ngModel)]="specializationsByLocation[implicitLocation.id]"
                                        valueExpr="id" [displayExpr]="getSpecsDisplayExpr"
                                        [showSelectionControls]="true" [maxDisplayedTags]="10"
                                        [showMultiTagOnly]="false" applyValueMode="useButtons"
                                        [searchEnabled]="true" [hideSelectedItems]="false">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                    </dxi-validation-rule>
                                </dx-validator>
                            </dx-tag-box>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <div *ngIf="!partner.isPrincipalActivityUniqueForAllLocations">
            <div class="row">
                <div class="col-4" *ngFor="let location of sortedPartnerLocations; let i = index">
                    <div class="col-4">
                        <div class="location-name-label">Locatia {{ location.name }}</div>
                    </div>
        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 dx-field-label text-md-right">Activitate principala*:</div>
                            <div class="col-md-6 col-lg-6">
                                <dx-select-box [dataSource]="partnerActivityAllocation"
                                    [displayExpr]="getDisplayExprPartnerActivity" valueExpr="id" [dropDownOptions]="{ minWidth: '370' }"
                                    [searchEnabled]="true" (onValueChanged)="selectedPartnerActivityChanged($event, location)"
                                    [(ngModel)]="location.partnerActivityAllocationId"
                                    [ngModelOptions]="{standalone: true}">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                            message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div> 
                            <div class="col-md-3 col-lg-3" title="Adauga specializari">
                                <dx-button type="danger" text="Adauga specializari"
                                    (onClick)="addExtraSpecialziations(location)">
                                </dx-button>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 dx-field-label text-md-right">Activitati secundare:</div>
                            <div class="col-md-6 col-lg-6">
                                <dx-tag-box [dataSource]="partnerActivityAllocation"
                                    [(ngModel)]="activitiesByLocation[location.id]" [dropDownOptions]="{ minWidth: '370' }"
                                    valueExpr="id" [displayExpr]="getDisplayExprPartnerActivity"
                                    [showSelectionControls]="true" [maxDisplayedTags]="5"
                                    [showMultiTagOnly]="false" applyValueMode="useButtons"
                                    [searchEnabled]="true" [hideSelectedItems]="false">
                                </dx-tag-box>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 col-md-3 col-lg-3 dx-field-label text-md-right">Specializari:</div>
                            <div class="col-6 col-md-6 col-lg-6">
                                <dx-tag-box [dataSource]="sortedCaenSpecializationsDS" (onOpened)="onSpecsOpen($event, location.id)"
                                            [(ngModel)]="specializationsByLocation[location.id]" [dropDownOptions]="{ minWidth: '370' }"
                                            valueExpr="id" [displayExpr]="getSpecsDisplayExpr"
                                            [showSelectionControls]="true" [maxDisplayedTags]="10"
                                            [showMultiTagOnly]="false" applyValueMode="useButtons"
                                            [searchEnabled]="true" [hideSelectedItems]="false">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="{{'required' | translate}}">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-tag-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    
        <br />
    </dx-validation-group>

    <div *ngIf="partner && partner.id" class="col-md-2 col-lg-2 mb-4">
        <dx-button text="Salveaza activitati si specializari" class="save-btn" (click)="onSpecializationsSaveClick()"></dx-button>
    </div>
</div>

<hr />


