<app-spinner [visible]="loaded"></app-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <app-title [title]="'Profil user'"></app-title>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6">

          <div class="card">
            <img class="card-img-top img-thumbnail image"  [src]="getImage()" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{getFirstName()}} {{getLastName()}}</h5>
              <p class="card-text"><span class="text">TELEFON</span>: {{getMobile()}} <span class="text">POST</span>: {{getPostName()}}  <span class="text">BIROU</span>: {{getOfficeName()}} <span class="text">DEPARTAMENT</span>: {{getDepartmentName()}}</p>
            </div>
          </div>
          
          <div class="modal-body">
            <dx-validation-group #validationSearchGroup>
              <div class="form-group row">

                <div class="col-1 dx-field-label text-md-right">De la:</div>
                <div class="col-md-3 col-lg-3">
                  <dx-date-box [(ngModel)]="timeRange.startDate" [ngModelOptions]="{standalone: true}" type="date">
                  </dx-date-box>
                </div>

                <div class="col-1 dx-field-label text-md-right">Pana la:</div>
                <div class="col-md-3 col-lg-3">
                  <dx-date-box [(ngModel)]="timeRange.endDate" [ngModelOptions]="{standalone: true}" type="date">
                  </dx-date-box>
                </div>

                <div class="col-1 dx-field-label text-md-right" *ngIf="isUserSpecial">Post:</div>
                <div class="col-md-3 col-lg-3" *ngIf="isUserSpecial">
                  <dx-tag-box [dataSource]="selectedPosts" valueExpr="id" displayExpr="companyPost" [maxDisplayedTags]="2"
                    [showSelectionControls]="true" [showMultiTagOnly]="false" applyValueMode="useButtons"
                    [searchEnabled]="true" [hideSelectedItems]="false" [selectAllMode]="'allPages'"
                    (onValueChanged)="getSearchPosts($event)">
                  </dx-tag-box>
                </div>
              </div>

            </dx-validation-group>

            <hr>

            <div class="form-group row">
              <dx-button text="{{'search' | translate}}" (onClick)="searchItems()">
              </dx-button>
            </div>

          </div>
        
          <div class="subsection"></div>
          <div class="mt-4"></div>
          <div class="lead">Clienti introdusi: {{getNumberOfClients()}}</div> 
          <dx-data-grid id="gridContainer" #dataGrid [dataSource]="partners" [rowAlternationEnabled]="true"
            [showBorders]="false" [allowColumnReordering]="true" (onCellClick)="openPartnerName($event)" (onCellHoverChanged)="onCellHoverChanged($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
              <dxo-form>
                <dxi-item dataField="created"></dxi-item>
                <dxi-item dataField="partnerCode"></dxi-item>
                <dxi-item dataField="partnerName"></dxi-item>
                <dxi-item dataField="partnerLocationName"></dxi-item>
                <dxi-item dataField="partnerActivity"></dxi-item>
                <dxi-item dataField="fiscalCode"></dxi-item>
                <dxi-item dataField="partnerId"></dxi-item>
                <dxi-item dataField="createdByUserName"></dxi-item>
              </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxi-column dataField="created" caption="Data crearii" dataType="date" alignment="right" sortOrder="desc" [width]="120" format="dd-MM-yyyy">
            </dxi-column>
            <dxi-column dataField="partnerName" caption="Nume partener" dataType="string" alignment="left" cssClass="blue"></dxi-column>
            <dxi-column dataField="fiscalCode" caption="Cod fiscal" dataType="string" alignment="left" [width]="120"></dxi-column>
            <dxi-column dataField="partnerCode" caption="Cod partener" dataType="string" alignment="left" [width]="150">
            </dxi-column>
            <dxi-column dataField="partnerLocationName" caption="Locatie partener" dataType="string" alignment="left" [width]="200">
            </dxi-column>
            <dxi-column dataField="partnerActivity" caption="Activitate partener" dataType="string" alignment="left" [width]="200">
            </dxi-column>
            <dxi-column dataField="createdByUserName" caption="Creat de user" dataType="string" alignment="left" [width]="100"></dxi-column>
          </dx-data-grid>
          <br>
          

          
          <div class="mt-4"></div>
          <div class="lead">Clienti contactati: {{getNumberOfContactedPersons()}}</div>
          <dx-data-grid id="gridContainer" #dataGrid [dataSource]="partnersObservations" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
            [showBorders]="false" [allowColumnReordering]="true" (onCellClick)="openPartnerName($event)" (onCellHoverChanged)="onCellHoverChanged($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
              <dxo-form>
                <dxi-item dataField="createdTime"></dxi-item>
                <dxi-item dataField="fullName"></dxi-item>
                <dxi-item dataField="description"></dxi-item>
                <dxi-item dataField="partnerName"></dxi-item>
                <dxi-item dataField="userFullName"></dxi-item>
                <dxi-item dataField="partnerId"></dxi-item>
              </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxi-column dataField="createdTime" caption="Data crearii" dataType="date" alignment="right" sortOrder="desc" [width]="120" format="dd-MM-yyyy">
            </dxi-column>
            <dxi-column dataField="partnerName" caption="Nume partener" dataType="string" alignment="left" cssClass="blue">
            </dxi-column>
            <dxi-column dataField="fullName" caption="Persoana de contact" dataType="string" alignment="left" [width]="200">
            </dxi-column>
            <dxi-column dataField="description" caption="Descriere" dataType="string" alignment="left" [width]="200">
            </dxi-column>
            <dxi-column dataField="userFullName" caption="Creat de user" dataType="string" alignment="left" [width]="200">
            </dxi-column>

          </dx-data-grid>
          <br>
          

          
          <div class="mt-4"></div>
          <div class="lead">Rulaj: {{getNumberOfCommentsOnTurnover()}}</div>
          <dx-data-grid id="gridContainer" #dataGrid [dataSource]="partnersXItemsComments"
            [rowAlternationEnabled]="true" [showBorders]="false" [allowColumnReordering]="true" (onCellClick)="openPartnerName($event)" (onCellHoverChanged)="onCellHoverChanged($event)">
            <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-filter-panel [visible]="true">
            </dxo-filter-panel>
            <dxo-header-filter [visible]="true">
            </dxo-header-filter>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-group-panel [visible]="true" [emptyPanelText]="groupedText"></dxo-group-panel>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-editing mode="form">
              <dxo-form>
                <dxi-item dataField="comment"></dxi-item>
                <dxi-item dataField="created"></dxi-item>
                <dxi-item dataField="itemName"></dxi-item>
                <dxi-item dataField="partnerName"></dxi-item>
                <dxi-item dataField="section"></dxi-item>
                <dxi-item dataField="userFullName"></dxi-item>
                <dxi-item dataField="partnerId"></dxi-item>
              </dxo-form>
            </dxo-editing>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[15, 25, 50, 100]"></dxo-pager>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxi-column dataField="created" caption="Data crearii" dataType="date" alignment="right" sortOrder="desc" [width]="120" format="dd-MM-yyyy">
            </dxi-column>
            <dxi-column dataField="partnerName" caption="Nume partener" dataType="string" alignment="left" cssClass="blue">
            </dxi-column>
            <dxi-column dataField="itemName" caption="Articol" dataType="string" alignment="left">
            </dxi-column>
            <dxi-column dataField="section" caption="Sectiune" alignment="left" [width]="230" [minWidth]="230">
              <dxo-lookup [dataSource]="turnoverSections" valueExpr="id" displayExpr="name">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="comment" caption="Comentariu" dataType="string" alignment="left" [width]="180">
            </dxi-column>
            <dxi-column dataField="userFullName" caption="Creat de user" dataType="string" alignment="left" [width]="200">
            </dxi-column>
          </dx-data-grid>
          <br>
          
        </div>
      </div>
    </div>
  </div>
</div>